<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.5</version>
    <name>DDelivery</name>
    <description>Модуль расчета доставки DDelivery.ru</description>
    <faqlink>http://faq.phpshop.ru/page/ddelivery.html</faqlink>
    <icon>icon.png</icon>
    <category>sale</category>
    <adminmenu>
        <title>DDelivery</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/ddelivery/admpanel/adm_module.php',710,710);</podmenu_action>
        </podmenu>

        <podmenu>
            <podmenu_name>Синхронизировать статусы</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/ddelivery/admpanel/status.php?action=2',450,450);</podmenu_action>
        </podmenu>
    </adminmenu>
        <history>
        <update>
            <date>27.05.2015</date>
            <content>Исправлена ошибка вывода стоимости доставки в почтовом уведомлении.</content>
        </update>
    </history>
</module>