<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Skin Page</name>
<faqlink>http://faq.phpshop.ru/page/skin-page.html</faqlink>
<description>Модуль смены дизайна для товаров и каталогов.</description>
    <icon>icon.png</icon>
    <category>template,decorate</category>
    <adminmenu>
        <title>Skin Page</title>
        <podmenu>
            <podmenu_name>Настройка Skin Page</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/skinpage/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>