/*
* Theme switch
*/
.theme{
    width:27px;
    height:27px;
    background:#CCC;
    float:left;
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:3px;
    cursor:pointer;
}

.theme:hover{
   -border: solid 1px #FFF;
    box-shadow: 0 0 5px #CCC;
}


/* 
* PHPShop Editor 
*/
.editor_empty{
   color:#6C809A;
   text-align: center;
   padding:5px;
   background: #FFE785;
   border: dashed 1px #6C809A;
   border-radius:4px;
   margin:3px;
}
.editor_empty a{
   text-decoration:none !important;
   color:#6C809A !important;
}


/* 
* Поддержка шаблонов 2.1 - 3.7  для версии 4
*/
.product-tags div{
float:left;
background: #F7F7F7;
padding:3px;
margin:1px;
}

.product-tags div:hover{
background:#E7ECF2;
}

.compare_list img{
 max-width: 70px;
}

a.product_name img{
   max-width: 100px;
   padding:5px;
}

#fotoload a.highslide img{
   max-width: 600px !important;
}

#fotoload img.imgOn, #fotoload img.imgOff{
   max-width: 100px;
}

#catalogContent img{
   max-width: 685px;
}

#bannerContent img{
   display: block;
   max-width: 685px !important;
   text-align: center;
}

.left {
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}

#checkout{
   padding:5px;
}

body{
    SCROLLBAR-FACE-COLOR: #ececec; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2; 
    SCROLLBAR-SHADOW-COLOR: #c2c2c2; 
    SCROLLBAR-3DLIGHT-COLOR: #ececec; 
    SCROLLBAR-ARROW-COLOR: #19376A; 
    SCROLLBAR-TRACK-COLOR: #ffffff; 
    SCROLLBAR-DARKSHADOW-COLOR: #ececec; 
    SCROLLBAR-BASE-COLOR: #ffffff;
    padding:0px;
    margin:0px;
    background-color:#FFFFFF;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 13px;
    color:black;
}

.left_block a{
    text-decoration:none;
}

img.template{
   border: solid 1px #CCC;
    padding: 3px;
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:3px;
    cursor:pointer;
}

img.template:hover{
    border: solid 1px #BFDBFF;
    box-shadow: 0 0 5px #BFDBFF;
}

img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}

img.imgOn {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
}

ul{
	list-style-type: square;
	color: #389238;
}

.sort_name_bg{
   background-color: #F0F1F1;
}
.sort_table{
   padding: 10px;
    BORDER-TOP: #cccccc 1px solid;
    }


.ico_add_to_card {
    background:url(images/shop/basket.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
    height: 32px;
}
.ico_add_to_compare {
    background:url(images/shop/compare.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
    height: 32px;
}
.message{
    border: solid 1px #EFD39C;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background: -moz-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -ms-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -o-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -webkit-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    position: absolute;
    max-width: 230px; 
    height: 35px;
    padding: 15px 10px 10px 10px;
    visibility:hidden;
    left:10px;
    top:0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.menu_bg{
    background-color: #237423;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding:5px;
    height: 28px;
    width: 100px;
    text-align: center;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-weight: bold;
}
.menu_bg a.navigation{
   color: white;
}
#navigation{
   background-image: url(images/1_04.gif);
   background-repeat: no-repeat;
   width:534px;
   height:35px;
}

a.navigation{
   text-decoration: none;
    color:#335433;
}
a.navigation:hover{
   -color: red;
   text-decoration: none;
}
#header_1{
   width: 589 px;
   height: 198 px;
}

#header_2{
   background-image: url(images/header_02_4.jpg);
   background-repeat: no-repeat;
   width: 415px;
   height: 198px;
   color: white;
   
}
#header_3{
   background-repeat: no-repeat;
   width: 1004px;
   height: 26px;
   padding-left:25px;
}
#header_4{
   background-image: url(images/header_04.gif);
   background-repeat: no-repeat;
   width: 408px;
   height: 137px;
}
#header_5{
   background-image: url(images/header_05.gif);
   background-repeat: no-repeat;
   width: 275px;
   height: 137px;
   padding-left:30px;
}
#header_6{
   background-image: url(images/header_06.gif);
   background-repeat: no-repeat;
   width: 321px;
   height: 137px;
}
.zagb{
   color: #FFFFFF;
   text-transform: uppercase;
   font-weight: bold;
}
#list{
   background-image: url(images/bg_list_1.gif);
   background-repeat: no-repeat;
   width: 696px;
   height: 27px;
   color: white;
   font-weight: bold;
   padding-left:20px;
   padding-top:5px;
   margin-bottom:10px;
}
#bglist{
   background-image: url(images/bg_list_1.gif);
   background-repeat: no-repeat;
   width: 100%;
   height: 6px;
   padding-top:5px;
   margin-bottom:10px;
}
#bglist_2{
   background-image: url(images/bg_list_2.gif);
   background-repeat: no-repeat;
   width: 696px;
   height: 27px;
   color: white;
   font-weight: bold;
   padding-left:20px;
   padding-top:5px;
   margin-bottom:10px;
}
#bg_catalog_1{
   height: 27px;
   padding-left:0px;
   padding-top:5px;
 /*  color:685403;*/
   color: #335433;
   text-transform: uppercase;
   font-weight: bold;
}
#bg_catalog_2{
   background-image: url(images/bg_catalog_1.gif);
   background-repeat: no-repeat;
   width: 275px;
   height: 6px;
}
#bg_catalog_3{

}

#bgmenu{
   background-image: url(images/bg_menu.gif);
   background-repeat: no-repeat;
   width: 270px;
   height: 25px;
   color: white;
   font-weight: bold;
   vertical-align: middle;
   padding-top: 6px;
   padding-left: 10px;
   text-transform:uppercase;
}

#bgcart{
   background-image: url(images/bg_cart.gif);
   background-repeat: no-repeat;
   width: 208px;
   height: 125px;
   padding-left:30px;
   padding-right:20px;
   padding-top:30px;
}

#bgfooter{
   background-image: url(images/bg_footer.gif);
   background-repeat: repeat-x;
   height: 92px;
   color: #9FA4A7;
   padding-top: 6px;
   padding-left: 10px;
}
#bgfooter td, bgfooter a {
   color: #9FA4A7;
}
.top{
   margin-top: 20px;
}
#top {
FILTER: Alpha(Opacity=40, FinishOpacity=40, Style=1, StartX=0, StartY=0, FinishX=88, FinishY=31);
}

td.setka{
    background-color: #D6D6D6;
    width:1px;
}
a.product_name{
   color:#19376A;
   font-weight: bold;
   font-size: 12px;
}
#head_2{
   background-image: url(images/head_02.gif);
   background-repeat: no-repeat;
   WIDTH: 227px;
   HEIGHT: 327px;
   padding-left:35px;
   padding-top:25px; 
}

#catalog{
   background-image: url(images/catalog_line.gif);
   background-repeat: no-repeat;
   WIDTH: 289px;
   HEIGHT: 32px;
   font-weight: bold;
}

.black a{
   color:#676767;
}
div.catalog_forma{
   background-image: url(images/catalog_forma.gif);
   background-repeat: no-repeat;
   WIDTH: 275px;
   HEIGHT: 40px;
   font-weight: bold;
}

.catalog_forma td{
    color:#FFF;
    font-weight: bold;
    CURSOR: pointer;
}

div.podcatalog_forma{
   background-image: url(images/podcatalog_forma.gif);
   background-repeat: repeat-y;
}

* HTML div.podcatalog_forma{ /* Только для браузера IE */
   background-image: url(images/podcatalog_forma.gif);
   background-repeat: repeat-y;
   WIDTH: 275px;
}

#block1{
   padding-left:10px;
   width: 321px;
}
#block2{
   padding-top:10px;
   padding-right:10px;
   padding-bottom:0px;
   width: 683px;
}

#bg_footer_1{
   background-image: url(images/bg_footer_1.gif);
   HEIGHT: 80px;
   width: 270px;
   background-repeat: repeat-x;
   padding-top: 15px;
   color: white;
   padding-left:30px;
}
#bg_footer_2{
   background-image: url(images/bg_footer_2.gif);
   HEIGHT: 66px;
   width: 830px;
   background-repeat: repeat-x;
   padding-left:20px;
   padding-top:5px;
   color: #afd3af;
}

#bg_footer_2 a{
   color: #afd3af;
}

#bg_footer_3{
   background-image: url(images/bg_footer_3.gif);
   background-repeat: no-repeat;
   HEIGHT: 66px;
   width: 174px;
   color: white;
   
}
#order a{
   color:003399;
   font-weight: bold;
}
.bgprice{
   background-color: #F0F0F0;
}

#allspec{
   padding: 10px;
   BORDER-TOP: #cccccc 1px solid;
   width:685px;
}

#allspecwhite{
	padding: 10px;
    BORDER-TOP: #cccccc 1px solid;
}


li.done{
   color: green;
   font-weight: bold;
}
.sortActiv{
    font-weight: bold;
}
div.opros{
    background: #D72300;
    height: 10px;
    background-repeat: no-repeat;
}

td {
   /*vertical-align: top;*/
    font-family:Tahoma;
    font-size:11px;
    color:#424242;
}
td.center{
   vertical-align: middle;
}

form
{
    margin:0px;
}

.dark
{
    color:#595959;
    font-weight:bold;
    text-transform:uppercase;
}
a{
   color:#424242;
}
.red{
   color: #003399;
}
.red:hover{
   color: #FFAE00;
}
.gray{
   color: #A2A2A2;
}
.gray:hover{
   color: #FFAE00;
}
a.black
{
    color:#676767;
    text-decoration:none;
}
a.black:hover
{
   color: #181818;
   text-decoration: underline;
}
a.link
{
   color: #181818;
   text-decoration: underline;
}
a.link:hover
{
   color: #003399;
   text-decoration: underline;
}
.black
{
    color:#181818;
}
a.b{
   color:#19376A;
}

.white{color: white;}

a.white{
   color: white;
   font-weight: bold;
}
a.white:hover{
   color: white;
}
.price
{
    color:#ff1b1b;
   font-size: 13px;
}
.price2{
    color:#C34046;
}
H1{
    font-size: 18 px;
    text-transform: none;
   color:#003399;
}
H2{
    font-size: 18px;
    text-transform: none;
   color:#685403;
   
}
select{
    font-size: 11px;
}
input{
   font-size: 11px;
}
input.search{
   font-size: 14px;
   width: 300px;
   height: 22px;
   border-style: solid;
   border-color: #A6A4A4;
   border-width: 1px;
}
input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}

#mm {
    margin: 0 0 0 320px;
    height: 50px;
}

#mm img {
    border: none;
    margin: 5px;
}

.mm_item {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.mm_spacer {
    margin-top: 130px;
    padding-top: 130px;
}
.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#EDF5F8;
	border:			1px solid;
	border-color:	#AED3DC;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
	
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid #AED3DC;
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -2px 0px;
	top:			-2px;
	background:		white;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			12px;
	color:				#2E9BC2;
	text-decoration:	none;
	cursor:			hand;
	cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	#2E9BC2;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bolder;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #AED3DC;
	background:		White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			#696969;
	font-size:		11px;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	background:		#EDF5F8;
	height:			1.85em;
	width:			100%;
}

.tab-page a{
	color: #AE8895;
}