<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Яндекс.Заказ</name>
    <description>Модуль заказов через Яндекс.Маркет</description>
    <faqlink>http://faq.phpshop.ru/page/yandex-cart.html</faqlink>
    <category>yandex,sale</category>
    <status>New</status>
    <adminmenu>
        <title>Яндекс.Заказ</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.yandexcart</podmenu_action>
        </podmenu>
    </adminmenu>
</module>