<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.4</version>
    <name>Яндекс.Заказ</name>
    <description>Модуль продаж через Яндекс.Маркет.</description>
    <faqlink>http://faq.phpshop.ru/page/yandex-cart.html</faqlink>
    <category>yandex,sale</category>
    <sign>1568200029</sign>
    <adminmenu>
        <title>Яндекс.Заказ</title>
        <capability>true</capability>
    </adminmenu>
</module>