body{
	SCROLLBAR-FACE-COLOR: #ececec;
	SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2;
	SCROLLBAR-SHADOW-COLOR: #c2c2c2;
	SCROLLBAR-3DLIGHT-COLOR: #ececec;
	SCROLLBAR-ARROW-COLOR: #25B413;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ececec;
	SCROLLBAR-BASE-COLOR: #ffffff;
    padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 13px;
	color: #696969;
	background: url('n.gif') no-repeat;
   background-attachment: fixed;
}
div.header_bg_2_up_compare{

	float: left;
	color: #62ACC7;
	
	height: 51px;
	font-weight: bold;
   padding-top:20px;
	padding-left:50px;
}
.sort_table{
   margin-top: 10px;
   background-color: White;
   BORDER-RIGHT: #d3d3d3 1px dashed;
   PADDING-RIGHT: 5px;
   BORDER-TOP: #d3d3d3 1px dashed;
   PADDING-LEFT: 5px;
   PADDING-BOTTOM: 5px;
   BORDER-LEFT: #d3d3d3 1px dashed;
   PADDING-TOP: 5px;
   BORDER-BOTTOM: #d3d3d3 1px dashed;
}
#comparewindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}

img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}

img.imgOn {
	border-color: #A12622;
	border-style: solid;
	border-width: 1px;
}

div.comment_list{/*отзывы*/
	margin-top: 10px;
	background-color: #E3FAF2;
	margin-bottom: 10px;
	BORDER: #19B66F 1px dashed; 
   PADDING: 5px; 
}

div.comment_user{
	padding: 3px;
	background: #19B66F;
	color: white;
}

div.comment_user a{
	color: white;
}


ul{
	list-style-type: square;
	color: #19B76C;
}

div.opros{
    float: left;
    background: #19B66F;
    height: 10px;
    background-repeat: no-repeat;
}

td{
	font-size: 11px;
}

.bgprice {
	color: #FFFFFF;
	font-size: 11px;
	background-color: #19B66F;
}

a{
	color: #A8281A;
}

a.standart{
	color: #AC8695;
}
div.page_catalog{/*Каталог страниц*/
	margin-top: 20px;
}

div.page_catalog a{/*Каталог страниц*/
	color: #35A0C4;
   font-weight: bolder;
	font-size: 13px;
}

div.product_odnotip td,div.product_odnotip td a  {
	font-size: 11px;
	color: #35A0C4;
}

table.standart td{
	font-size: 11px;
	color: #696969;
}


div.gbook_otvet{/*ответ на отзыв*/
	margin-top: 10px;
	background-color: #E3FAF2;
	margin-bottom: 10px;
	BORDER: #8BE7C1 1px dashed; 
   PADDING: 5px; 
}

div.pod_cart{/*Ссылки в корзину подробное описание*/
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	BORDER: #8BE7C1 1px dashed; 
   PADDING: 5px; 
}

div.pod_cart td a,div.pod_cart td{
	color: #A8281A;
	font-size: 11px;
}

img.big{
   border:			1px solid #5B98AF;
}

div.price{/*Цена подробное описание*/
	color: #15C311;
	font-size: 15px;
	font-weight: bolder;
	width: 150px;
	line-height: 18px;
	margin-bottom: 20px;
}
div.price strong{
	font-size: 18px;
}

div.product_cart a{
	color: A8281A;
	line-height: 25px;
	height: 30px;
}

td.panel_l{ /*Раскла в 2 колонки левая колонка*/
	font-size: 11px;
	color: #696969;
   background-image: url(images/product_bg.jpg);
	background-repeat: repeat-x;
	width: 250px;
	padding-top:15px;
	
}

td.panel_r{ /*Раскла в 2 колонки правая колонка*/
	font-size: 11px;
	color: #696969;
   background-image: url(images/product_bg.jpg);
	background-repeat: repeat-x;
	width: 250px;
	padding-top:15px;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #5B98AF;
}

div.product_forma_1{
	font-size: 11px;
	color: #696969;
    background-image: url(images/product_bg.jpg);
	background-repeat: repeat-x;
	width: 100%;
	padding-top:15px;
}
div.product_price_bg{
	/*Форма товара - картинка*/
	text-align: center;
	background-image: url(images/product_price_bg.jpg);
	background-repeat: no-repeat;
	width: 190px;
	height: 28px;
	font-size: 12px;
	margin-top: 1px;
	color: FFFFFF;
	font-weight: bolder;
	line-height: 25px;
}

div.textblock_bg{
	padding-top:5px;
	padding-bottom:5px;
	background-color: #FFFFFF;
}

div.product_price_bg strong{
   font-size: 15px;
}


.product_img_bg{
	/*Форма товара - картинка*/
	text-align: center;
	background-image: url(images/product_img_bg_body.jpg);
	background-repeat: repeat-y;
	width: 188px;
	height: 134px;
}

.product_img_bg_body{
	/*Форма товара - картинка - шапка*/
	text-align: center;
	background-image: url(images/product_img_bg_header.jpg);
	background-repeat: no-repeat;
	width: 188px;
	height: 134px;
}

.product_img_bg_footer{
	/*Форма товара - картинка - подвал*/
	text-align: center;
	background-image: url(images/product_img_bg_footer.jpg);
	background-repeat: no-repeat;
	width: 188px;
	height: 9px;
}

div.product_img{
	/*Форма товара - картинка*/
	float: left;
	padding: 15px;
}

div.product_img_2{
	/*Форма товара - картинка*/
	float: left;
	padding-left: 30px;
}

div.product_content{/*Форма товара - описание*/
	padding-right: 10px;
}

div.product_content a{/*Форма товара - описание*/
	color: #14814B;
    font-weight: bolder;
	padding-bottom: 10px;
	display: block;
}

div.product_name a{/*Форма товара - описание*/
	color: #075B2F;
   font-weight: bolder;
}

div.product_price{
	/*Форма товара - цена*/
	float: right;
}


div.line{
	/*Разделитель новостей*/
	background-image: url(images/line_bg.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 4px;
	margin-top:5px;
}

div.news_date{/*Новости*/
	color: #B62E19;
	font-weight: bolder;
	float: left;
	
}

div.news_tema,div.news_tema a{/*Новости*/
	color: #14814B;
	font-weight: bolder;
	padding-left: 10px;
}

ul.catalog{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


li.podcatalog{
	/*Бег каталога*/
	background-image: url(images/podcatalog_bg.jpg);
	background-repeat: no-repeat;
}

li.podcatalog a{
	padding-left: 30px;
}
li.catalog{
	/*Бег каталога*/
	background-image: url(images/catalog_bg.jpg);
	background-repeat: no-repeat;
	width: 238px;
	cursor: pointer;
	margin-top:1px;
	background-color: F9FCFC;
}

li.catalog strong{
	color: #14814B;
	font-weight: bolder;
	line-height: 25px;
	text-decoration: none;
	padding-left: 30px;
}

li.catalog a{
	color: #14814B;
	font-weight: bolder;
	line-height: 25px;
	text-decoration: none;
	padding-left: 30px;
}

li.catalog a:hover{
	color: #127541;
	text-decoration: none;
}

li.podcatalog a{
	color: #16B66E;
	font-weight: bolder;
	line-height: 25px;
	text-decoration: none;
	padding-left: 30px;
	
}


div.opros_footer{
	/*Левый блок голосование низ*/
   
	background-color: #C99E69;
	background-repeat: repeat-x;
	margin-top: 2px;
	height: 7px;
	margin-top:1px;
}

div.opros_bg{
	/*Левый блок голосование бег*/
	background-image: url(images/left_opros_bg.jpg);
	background-repeat: repeat-x;
	margin-top: 1px;
	color: FFFFFF;
	padding: 15px;
}

div.opros_bg td{
	color: FFFFFF;
	font-size: 11px;
}

div.plashka_center{ /*Центрблок плашка*/
	background-image: url(images/center_plashka_bg.jpg);
	background-repeat: no-repeat;
	height: 41px;
}


div.plashka{ /*Левый блок плашка*/
	background-image: url(images/left_plashka_bg.jpg);
	background-repeat: no-repeat;
	height: 41px;
}

div.plashka_zag{ /*Левый блок плашка заглавие*/
	color: FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 15px;
}

div.left_search_bg td{/*Шапка авторизация пользователей*/
	color: FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

div.left_search_bg{ /*Левый блок поиска*/
	background-image: url(images/left_search_bg.jpg);
	background-repeat: repeat-x;
	height: 77px;
	padding-left:10px;
	padding-top:0px;
}

input.search{
	font-size: 10px;
	width: 140px;
}

input.user{
	font-size: 10px;
}

div.header_user_area {/*Шапка авторизация пользователей*/
	float: left;
	margin-left:0px;
	padding-left:50px;
	margin-top:0px;
	padding-right: 10px;	
}

div.header_user_area2 td{/*Шапка авторизация пользователей*/
	color: FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

a.small{
	color: FFFFFF;
	font-size: 10px;
	font-weight: normal;
}


div.header_phpshop_slogan{ /*Слоган*/
   width: 300px;
	float: left;
	color: FFFFFF;
}

div.header_phpshop_slogan H1{ /*Слоган название компании*/
	color: #0F7647;
	font-size: 15px;
}

div.header_phpshop_slogan a{ /*Слоган ссылка*/
	color: #149D5E;
	font-size: 12px;
}

img.icon{/*Логотип иконки*/
	margin-top:20px;
	margin-left:60px;
}

div.header_phpshop_logo{ /*Логотип*/
	width: 182px;
	height: 54px;
	
	/*background-image: url(images/phpshop_logo.png);
	background-repeat: no-repeat;*/
	margin-left:40px;
	margin-right:40px;
	float: left;
}

div.header_nav_bg{ /*Фоновая картинка в шапке навигация*/
	width: 100%;
	height: 51px;
	background-image: url(images/header_bg_nav.jpg);
	background-repeat: repeat-x;
	BORDER-TOP: #FFFFFF 1px solid;
}

div.header_nav_bg a{ /*Основная навигаци в шапке*/
	color: FFFFFF;
	font-weight: bold;
   text-decoration: none;
	font-size: 12px;
	
}
div.header_nav_bg a:hover{ /*Основная навигаци в шапке*/
	color: #E3FAF2;
   text-decoration: none;
}
div.header_nav{
	float: left;
	text-align: center;
	padding-top:15px;
	width: 140px;
}


div.header_nav_line{/*Разделитель в навигации*/
   width: 4px;
	height: 51px;
	background-image: url(images/header_bg_nav_line.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-left:10px;
	margin-right:10px;
}

div.header_bg_2_up_order{
   background-image: url(images/header_bg_1_up_order_anim.gif);
	background-repeat: no-repeat;
	float: left;
	color: #B64926;
	width: 150px;
	height: 51px;
	font-weight: bold;
   padding-top:20px;
	padding-left:50px;
}

div.header_bg_2_up_order a{
	color: #B64926;
}

div.header_bg_2_up_cur{/*Фоновая картинка в шапке валюта*/
	width: 220px;
	height: 51px;
	background-image: url(images/header_bg_1_up_cur.jpg);
	background-repeat: no-repeat;
	float: left;
	color: #B64926;
	font-weight: bold;
   padding-top:20px;
}
div.header_bg_2_up_cur div{
	margin-left:25px;
}
div.header_bg_2_up_cur select{
	font-size: 10px;
	margin-left: 10px;
}

div.header_bg_2_up_sum{/*Фоновая картинка в шапке сумма*/
	width: 180px;
	height: 51px;
	background-image: url(images/header_bg_1_up_sum.jpg);
	background-repeat: no-repeat;
	float: left;
	color: #B64926;
	font-weight: bold;
   padding-top:20px;
}
div.header_bg_2_up_sum div{
	margin-left:50px;
	text-decoration: none;
	
}
div.header_bg_2_up_cart{/*Фоновая картинка в шапке корзина*/
	width: 230px;
	height: 51px;
	background-image: url(images/header_bg_1_up_cart.jpg);
	background-repeat: no-repeat;
	float: left;
	color: B64926;
	font-weight: bold;
    padding-top:20px;
	margin-left:45px;
	text-decoration: none;
	cursor: pointer;
}
div.header_bg_2_up_cart div{
	margin-left:50px;
}
div.header_bg_2_up{/*Фоновая картинка в шапке заглушка верхняя навигация*/
	width: 100%;
	height: 51px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_up.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2_bg{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 214px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2{/*Фоновая картинка в шапке*/
	width: 1004px;
	height: 214px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

div.header_bg_2_bg_shop{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 180px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}

div.header_bg_2_shop{/*Фоновая картинка в шапке */
	width: 1004px;
	height: 180px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

#main{
	margin:6px;
}

#left_block{
	float: left;
	width: 238px;
}
#center_block{
   width: 490px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
#right_block{
	float: left;
	width: 238px;
}
#footer_block{
	background-image: url(images/footer_bg.jpg);
	background-repeat: repeat-x;
	height: 113px;
	width: 100%;
	float: left;
	margin-top:20px;
}

#footer_tel{
	padding-top: 30px;
	padding-left: 30px;
	width: 250px;
	float: left;
	color: FFFFFF;
}
#footer_tel H3{
  font-size: 15px;
}
#footer_cart{
	background-image: url(images/footer_cart.jpg);
	background-repeat: no-repeat;
	height: 113px;
	width: 116px;
	float: left;
}

#footer_copyright{
	height: 113px;
	padding-left: 50px;
	color: FFFFFF;
}

#footer_copyright a{
	color: FFFFFF;
}


div.page_nava{
	background-color: #E3FAF2;
	padding: 0px;
    height: 30px;
	color: #075B2F;
	BORDER-BOTTOM: #8BE7C1 1px solid;
	BORDER-TOP: #FFFFFF 3px solid;
}

div.page_nava div{
	padding: 5px;
}



div.page_nava a{
	color: #075B2F;
}

td.setka{
    
	 
}


* HTML div.podcatalog_forma{ /* Только для браузера IE */
   background-image: url(images/podcatalog_forma.gif);
   background-repeat: repeat-y;
   WIDTH: 275px;
}

#allspec{
    background-color: #E3FAF2;
	padding: 10px;
	BORDER-BOTTOM: #8BE7C1 1px solid;
	BORDER-TOP: #8BE7C1 1px solid;
}


#allspec div {
	color: #075B2F;
	margin-bottom: 5px;
}

a.link{
	color: #A8281A;
}

#allspec a{
	color: #075B2F;
}

#allspec input, #allspec td select {
	font-size: 10px;
}


#allspecwhite{
	margin-top: 10px;
	background-color: #F6FAFD;
	margin-bottom: 10px;
	BORDER: #8BE7C1 1px dashed; 
   PADDING: 5px; 
}

.sortActiv{
    font-weight: bold;
}

a.activ_catalog{
	background: #25B413;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
}


form
{
    margin:0px;
}


H1{
    font-size: 15px;
    text-transform: none;
    color: #BF4A4E;
	 line-height: 20px;
}
H2{
    font-size: 15px;
    text-transform: none;
    color: #075B2F;
   
}
input.ok{
	background-color: #25B413;
	border-width: 1px;
	border-color: #1D8BB0;
	border-style: solid;
	font-size: 11px;
	color: FFFFFF;
	margin-left: 5px;
}

input, select{
	font-size: 11px;
}

input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}
.sort_name_bg{
   background-color: #3A87A3;
	color: white;
}
.sort_table{
   font-size: 11px;
   margin-top: 10px;
   background-color: White;
	color: #35A0C4;
}
.sort_table b{
	color: #696969;
}
#cartwindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
	
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}
#cartwindow *{ 
  color: 000000;
  font-size: 11px;
}

/*Стили кнопок табов*/


.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#E3FAF2;
	border:			1px solid;
	border-color:	#8BE7C1;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
	
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid #8BE7C1;
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -2px 0px;
	top:			-2px;
	background:		white;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			12px;
	color:				#14814B;
	text-decoration:	none;
	cursor:			hand;
	cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	##075B2F;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bolder;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #8BE7C1;
	background:		White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			#696969;
	font-size:		11px;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	background:		#E3FAF2;
	height:			1.85em;
	width:			100%;
}

.tab-page a{
	color: #AE8895;
}