#php_flag register_globals off
#php_value error_reporting 0

DirectoryIndex index.php
Options -Indexes 

AddDefaultCharset windows-1251
AddType text/csv csv
RewriteEngine On
#Options FollowSymLinks
#Options SymLinksIfOwnerMatch

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^((/UserFiles/Image/)|(/phpshop/templates/(.*)/images/(.*).gif)|(/phpshop/templates/(.*)/images/(.*).png)|(/phpshop/templates/(.*)/images/(.*).jpg))
RewriteRule ^(.*)$ index.php

<files *.lic>
Order Deny,Allow
Deny From All
</files>
<files *.ini>
Order Deny,Allow
Deny From All
</files>
<files *.tpl>
Order Deny,Allow
Deny From All
</files>