 /*
 ***** 
 * Модуль "СМАРТ-ФИЛЬТР" для PHPShop Enterprise 3.6
 * Copyright © WEB for ALL, 20010-2014 
 * @author "WEB for ALL" (www.web4.su) 
 * @version 1.0
 *****
 */
 /*
 * CSS for Smart Filter
 */

.smart_color{
 border:1px solid #cacaca; 
 width: 20px; 
 height:20px; 
 margin: 4px; 
 float: left; 
 cursor:pointer;
}

.active{
 border-width: 2px;
 margin: 3px; 

}
.w4a_smart_element{
padding: 5px 10px 5px 20px;
}
.w4a_smart_caption{
font-size: 14px;
padding: 2px 0 2px 5px;
font-weight:bold;
}
.w4a_price_element{
width: 200px;
text-align: center;;
padding: 20px 10 10px 20;
}

.w4a_btn_element{
width: 200px;
text-align: right;
}
.w4a_smart_modal_0{
position: relative;
top: 0;
left: 0px;
}
.w4a_smart_modal_1{
display: none;
position: absolute;
top: 0px;
left: 215px;
width: 202px;
height: 13px;
background: url(/phpshop/modules/w4asmartfilter/templates/img/sf_counter.gif) no-repeat 0 0;
z-index: 100;
color: #ff0000;
padding: 15px 10px;
}
.w4a_smart_modal_1 span{
font-weight:bold;
}

.w4a_smart_modal_1 a{
	color: #0c0c0c;
}
.w4a_smart_values input{border:0px;}