<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>Калькулятор Почты России</name>
    <faqlink>http://faq.phpshop.ru/page/russianpostcalc.html</faqlink>
    <description>Модуль расчета стоимости доставки Почтой России</description>
    <category>delivery</category>
    <adminmenu>
        <title>Калькулятор Почты</title>
        <capability>true</capability>
    </adminmenu>
</module>