<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.4</version>
    <name>Яндекс Быстрый Заказ</name>
    <faqlink>http://faq.phpshop.ru/page/yandex-order.html</faqlink>
    <description>Модуль быстрой вставки информации о клиенте из Яндекса. Учет рефералов.</description>
    <category>form,sale,yandex</category>
    <adminmenu>
        <title>Яндекс.Быстрый Заказ</title>
        <capability>true</capability>
    </adminmenu>
</module>