<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Promotions</name>
    <faqlink>http://faq.phpshop.ru/page/promotion.html</faqlink>
    <description>Модуль промо-акций.</description>
    <category>form,sale,user</category>
    <sign>1423218824</sign>
    <adminmenu>
        <title>Промо-акции</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Обзор Промо-акций</podmenu_name>
            <podmenu_action>dir.promotions</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Новая Промо-акция</podmenu_name>
            <podmenu_action>dir.promotions&amp;action=new</podmenu_action>
        </podmenu>
    </adminmenu>
</module>