<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.8</version>
    <name>Chat</name>
    <faqlink>http://faq.phpshop.ru/page/chat.html</faqlink>
    <description>Модуль чата с менеджером.</description>
    <icon>icon.png</icon>
    <category>user</category>
    <capability>enterprise,start,cms</capability>
    <status>update</status>
    <adminmenu>
        <title>Чат</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/chat/admpanel/adm_module.php',660,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>