body{
   SCROLLBAR-FACE-COLOR: #ececec; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2; 
    SCROLLBAR-SHADOW-COLOR: #c2c2c2; 
    SCROLLBAR-3DLIGHT-COLOR: #ececec; 
    SCROLLBAR-ARROW-COLOR: #19376A; 
    SCROLLBAR-TRACK-COLOR: #ffffff; 
    SCROLLBAR-DARKSHADOW-COLOR: #ececec; 
    SCROLLBAR-BASE-COLOR: #ffffff;
    padding:0px;
    margin:0px;
    background-color:#FFFFFF;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 13px;
    color:black;
}

#footer { background:url(images/footer.gif) top left no-repeat; height:115px; color:#6a6a6a; padding:25px 0px 0px 10px;}
#footer td { color:#6a6a6a}
#footer a { color:#0089c0}
#footer a:hover { text-decoration:none}
#footer span { padding:0px 6px;}


#start { color:#7f7f7f; font-size:10px;}
#start:hover { text-decoration:none}

#name_shop { color:#fff; font-size:22px;padding-left:33px; position:relative;}
#name_shop div { position:absolute; width:156px; height:266px; background:url(images/big_basket.png) top left no-repeat; top:-98px; left:414px}
* html #name_shop div { position:absolute; width:156px; height:266px; background:none; top:-98px; left:380px}

#slogan { color:#ffc9a6;padding:6px 0px 9px 33px; width:286px}
#demo_link { color:#FFF; padding-left:33px; background:url(images/demo_bg.gif) 9px 5px no-repeat }
#demo_link:hover { text-decoration:none}
img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}

img.imgOn {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
}

div.comment_list{/*отзывы*/
	margin-top: 10px;
	background-color: #F2F3F5;
	margin-bottom: 10px;
	BORDER: #97989C 1px dashed; 
   PADDING: 5px; 
}

div.comment_user{
	padding: 3px;
	background: #3D6C8E;
	color: white;
}

div.comment_user a{
	color: white;
}



.sort_name_bg{
   background-color: #F0F1F1;
}
.sort_table{
   margin-top: 10px;
   background-color: White;
   BORDER-RIGHT: #d3d3d3 1px dashed;
   PADDING-RIGHT: 5px;
   BORDER-TOP: #d3d3d3 1px dashed;
   PADDING-LEFT: 5px;
   PADDING-BOTTOM: 5px;
   BORDER-LEFT: #d3d3d3 1px dashed;
   PADDING-TOP: 5px;
   BORDER-BOTTOM: #d3d3d3 1px dashed;
}
#cartwindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}
.menu_bg{
  
   
}
.menu_bg a.navigation{


}
#navigation{
  
}

a.navigation{

   color:#5e5e5e; font-weight:bold;
}
a.navigation:hover{
   color: #ff5300;
   text-decoration: none;
}
#header_1{ background:url(images/header_1.gif) no-repeat bottom left;

}

#header_2{background:url(images/header_2.gif) no-repeat top left;
   
}
#header_3{ background: url(images/basket_bg.gif) top left no-repeat;
 
}
#header_4{ background:url(images/search_bg.gif) top left no-repeat;
}
#header_5{background:url(images/menu_bot.gif) bottom left repeat-x ;
}
#header_6{
   background-image: url(images/header_06.gif);
   background-repeat: no-repeat;
   width: 321px;
   height: 137px;
}
.zagb{
   color:#7f7f7f;
   text-transform: uppercase;
   font-weight: bold;
}

#bg_catalog_1{font-size:18px; color:#595959; font-weight:bold; background:url(images/bg_catalog_1.gif) top left no-repeat;  padding:11px 0px 11px 8px; margin:18px 0px 10px 0px;
  
}
#bg_catalog_1 td {font-size:18px; color:#595959; font-weight:bold;  }
#bg_catalog_1 span { color:#ff6300; font-size:11px; font-weight:normal; padding:0px 10px 0px 20px;}
#bg_catalog_1 a { color:#7f7f7f; font-size:11px; font-weight:normal; }
#bg_catalog_1 a:hover { text-decoration:none}
#bg_catalog_2{
   background: url(images/bg_cat.gif) repeat-x left top; color:#FFF; font-weight:bold; text-transform:uppercase; padding:8px 0px 12px 14px; margin-top:-5px; position:relative
}
#bg_catalog_3{
   background: url(images/bg_cat2.gif) repeat-x left top; color:#FFF; font-weight:bold; text-transform:uppercase; padding:12px 0px 12px 14px;
}

#bgmenu{
   background-image: url(images/bg_menu.gif);
   background-repeat: no-repeat;
   width: 270px;
   height: 25px;
   color: white;
   font-weight: bold;
   vertical-align: middle;
   padding-top: 6px;
   padding-left: 10px;
   text-transform:uppercase;
}

#bgcart{
   background-image: url(images/bg_cart.gif);
   background-repeat: no-repeat;
   width: 208px;
   height: 125px;
   padding-left:30px;
   padding-right:20px;
   padding-top:30px;
}

#bgfooter{
   background-image: url(images/bg_footer.gif);
   background-repeat: repeat-x;
   height: 92px;
   color: #9FA4A7;
   padding-top: 6px;
   padding-left: 10px;
}
#bgfooter td, bgfooter a {
   color: #9FA4A7;
}
.top{
   margin-top: 20px;
}
#top {
FILTER: Alpha(Opacity=40, FinishOpacity=40, Style=1, StartX=0, StartY=0, FinishX=88, FinishY=31);
}

td.setka{
    background-color: #D6D6D6;
}
a.product_name{
   color:#0089c0;
   font-weight: bold; text-decoration:none;

}
a.product_name:hover { text-decoration:underline}


.black a{
   color:#676767;
}



#catal { background:#f9f9f9;float:left; margin:0px; padding:0px; display: inline; width:207px }


#catal #cat_in { margin:5px 5px 5px 13px;}
ul.catalog{ color:#a6a6a6;
	margin: 0px;
	padding: 0px; list-style-position:inside; list-style-type: decimal ; 

}


li.podcatalog{ list-style-type:none;
	/*Бег каталога*/
	
}
html > body li.podcatalog a { padding-left:20px;}
li.podcatalog a{
	text-transform: lowercase;

}
ul.catalog li {
	text-transform: capitalize;
	padding: 5px 0px;
	cursor: pointer; /*Бег каталога*/
}

ul.catalog li strong{
	color: #0089c0;
	font-weight: normal;

	text-decoration: none;
	
}

ul.catalog li  a{ 
	color: #0089c0;
	font-weight: normal ;

	text-decoration: none;
	
}

ul.catalog li  a:hover{
	color: #2E9BC2;
	text-decoration: none;
}

li.podcatalog a{
	color: #0089c0;
	font-weight: normal;

	text-decoration: none;
	
	
}

/*----------------------------------*/
ul.catalog2{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


li.podcatalog2{
	/*Бег каталога*/
	background-image: url(images/podcatalog_bg.jpg);
	background-repeat: no-repeat;
}

li.podcatalog2 a{
	padding-left: 13px;
}
li.catalog2{
	/*Бег каталога*/
	background: url(images/menu_bot.gif) repeat-x bottom left ;

	
	cursor: pointer; padding:6px 0px 8px;


}

li.catalog2 strong{
	color: #0089c0;
	font-weight: normal;
	
	text-decoration: none;
	padding-left: 13px;
}

li.catalog2 a{
	color: #0089c0;
	font-weight: normal;
	
	text-decoration: none;
	padding-left: 13px;
}

li.catalog2 a:hover{
	color: #2E9BC2;
	text-decoration: none;
}

li.podcatalog2 a{
	color: #0089c0s;
	font-weight: normal;
	
	text-decoration: none;
	padding-left: 13px;
	
}

/*----------------------------------*/


#block1{
   padding-left:10px;
   width: 321px;
}
#block2{
   padding-top:10px;
   padding-right:10px;
   padding-bottom:0px;
   width: 683px;
}

#bg_footer_1{
   background-image: url(images/bg_footer_1.gif);
   HEIGHT: 80px;
   width: 270px;
   background-repeat: repeat-x;
   padding-top: 15px;
   color: white;
   padding-left:30px;
}
#bg_footer_2{
   background-image: url(images/bg_footer_2.gif);
   HEIGHT: 66px;
   width: 830px;
   background-repeat: repeat-x;
   padding-left:20px;
   padding-top:5px;
   color: #b1c4d2;
}

#bg_footer_2 a{
   color: #b1c4d2;
}

#bg_footer_3{
   background-image: url(images/bg_footer_3.gif);
   background-repeat: no-repeat;
   HEIGHT: 66px;
   width: 174px;
   color: white;
   
}
#order a{
   color:003399;
   font-weight: bold;
}
.bgprice{
   background-color: #F0F0F0;
}
#allspec{
   margin-top:10px; margin-right:10px;
   background-color: #F8F8F8;
   BORDER-RIGHT: #d3d3d3 1px dashed; 
   PADDING-RIGHT: 5px; 
   BORDER-TOP: #d3d3d3 1px dashed; 
   PADDING-LEFT: 5px; 
   PADDING-BOTTOM: 5px; 
   BORDER-LEFT: #d3d3d3 1px dashed; 
   PADDING-TOP: 5px; 
   BORDER-BOTTOM: #d3d3d3 1px dashed;

}
#allspecwhite{
   margin-top:10px; margin-right:10px;
   BORDER-RIGHT: #d3d3d3 1px dashed; 
   PADDING-RIGHT: 5px; 
   BORDER-TOP: #d3d3d3 1px dashed; 
   PADDING-LEFT: 5px; 
   PADDING-BOTTOM: 5px; 
   BORDER-LEFT: #d3d3d3 1px dashed; 
   PADDING-TOP: 5px; 
   BORDER-BOTTOM: #d3d3d3 1px dashed;
}

li.done{
   color: green;
   font-weight: bold;
}
.sortActiv{
    font-weight: bold;
}
div.opros{
    background: #D72300;
    height: 10px;
    background-repeat: no-repeat;
}

td {
   /*vertical-align: top;*/
    font-family:Tahoma;
    font-size:11px;
    color:#424242;
}
td.center{
   vertical-align: middle;
}

form
{
    margin:0px;
}

.dark
{
    color:#595959;
    font-weight:bold;
    text-transform:uppercase;
}
a{
   color:#424242;
}
.red{
   color: #003399;
}
.red:hover{
   color: #FFAE00;
}
.gray{
   color: #A2A2A2;
}
.gray:hover{
   color: #FFAE00;
}
a.black
{
    color:#676767;
    text-decoration:none;
}
a.black:hover
{
   color: #181818;
   text-decoration: underline;
}
a.link
{
   color: #181818;
   text-decoration: underline;
}
a.link:hover
{
   color: #003399;
   text-decoration: underline;
}
.black
{
    color:#181818;
}
a.b{
   color:#0089c0;
}
a.b2{ color:#008ae1; font-weight:normal}
a.b:hover, a.b2:hover{ text-decoration:none
}

.white{color:#7f7f7f; font-weight:bold}
.white span {color:#7f7f7f; padding:0px 6px;font-weight:normal; }

.white2 { color:#401012; text-transform:lowercase; padding-left:3px}
/*.white2 form select option { border:0px; background:none;}*/

a.white{ font-weight:normal;
   color:#008ae1;

}
a.white:hover{ text-decoration:none

}
.price
{
    color:#fff;
   font-size: 11px;  white-space:nowrap 
}
.price2{
    color:#C34046;
}
H1{
    font-size: 18 px;
    text-transform: none;
    color:#0089c0;
}
H2{
    font-size: 18px;
    text-transform: none;
   color:#0089c0;
   
}
select{
    font-size: 11px;
}
input{
   font-size: 11px;
}
input.search{
width:177px; height:23px; border-top:1px solid #cdcdcd;border-left:1px solid #cdcdcd;border-bottom:1px solid #f4f4f4;border-right:1px solid #f4f4f4; 
   font-size: 14px;


}
input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}

#mm {
    margin: 0 0 0 320px;
    height: 50px;
}

#mm img {
    border: none;
    margin: 5px;
}

.mm_item {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.mm_spacer {
    margin-top: 130px;
    padding-top: 130px;
}
/*Стили кнопок табов*/


.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		#EDF5F8;
	border:			1px solid;
	border-color:	#AED3DC;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
	
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid #AED3DC;
	border-bottom:	0;
	z-index:		3;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -2px 0px;
	top:			-2px;
	background:		white;
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			12px;
	color:				#2E9BC2;
	text-decoration:	none;
	cursor:			hand;
	cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	#2E9BC2;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight: bolder;
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #AED3DC;
	background:		White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			#696969;
	font-size:		11px;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	background:		#EDF5F8;
	height:			1.85em;
	width:			100%;
}

.tab-page a{
	color: #AE8895;
}