html, body {
    border:0;
    height:100%;
    margin:0px;
    padding:0px;
}

body
{
    background: #EFE7CE;
    font:		MessageBox;
    font:		Message-Box;
    height:100%;
    margin:0px;
    padding:0px;
    color: #423000;
}

#footer{
    padding-top:10px;
}

#icon{
    cursor: pointer;
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor:pointer;
    box-shadow: 0.2em 0.2em 3px rgba(122,122,122,0.3);
}

.display{
    padding:3px;
    font-size: 8pt;
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #FFF;
    cursor:pointer;
    height:18px;
}


.display:hover{
    background: -moz-linear-gradient(#FFEBBD, #EFD394);
    background: -ms-linear-gradient(#FFEBBD, #EFD394);
    background: -o-linear-gradient(#FFEBBD, #EFD394);
    background: -webkit-linear-gradient(#FFEBBD, #EFD394);
    border: solid 1px #B5AE84;
}

.display b {
    color: rgb(91,172,255);
}

#autorization{
    background: #F0F0F0 url(logbg.png) top center repeat;
}

fieldset:hover{
    background: -moz-linear-gradient(#F7EFD6,#FFFBEF);
    background: -ms-linear-gradient(#F7EFD6,#FFFBEF);
    background: -o-linear-gradient(#F7EFD6,#FFFBEF);
    background: -webkit-linear-gradient(#F7EFD6,#FFFBEF);
}

fieldset{
    border: solid 1px #B5AE84;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: -moz-linear-gradient(#F7EFD6,#FFFBEF);
    background: -ms-linear-gradient(#F7EFD6,#FFFBEF);
    background: -o-linear-gradient(#F7EFD6,#FFFBEF);
    background: -webkit-linear-gradient(#F7EFD6,#FFFBEF);
    margin: 3px 3px;
}

#setInfo{
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #FFF;
    padding:5px;
}

legend.titlelegend{
    border: 1px;
    border-style:solid; 
    border-color:#B5AE84;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #FFF;
    padding: 2px;
}



.login{
    background: #FFFBEF;
    border: solid 1px #CCC;
    width: 330px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}

.gradient {
    background: -moz-linear-gradient(#FFF, #F0F0F0);
    background: -ms-linear-gradient(#FFF, #F0F0F0);
    background: -o-linear-gradient(#FFF, #F0F0F0);
    background: -webkit-linear-gradient(#FFF, #F0F0F0);
}

.iconpane{
    height:27px;
    width:100%;
    background: -moz-linear-gradient(#FFFBEF,#F7EFD6);
    background: -ms-linear-gradient(#FFFBEF,#F7EFD6);
    background: -o-linear-gradient(#FFFBEF,#F7EFD6);
    background: -webkit-linear-gradient(#FFFBEF,#F7EFD6);
    padding-left:5px;
}

.border-top{
    border-bottom: solid 0px #B5AE84;
    border-top: solid 1px #B5AE84;
}

.border-both{
    border-bottom: solid 1px #B5AE84;
    border-top: solid 1px #B5AE84;
}

.border-bottom{
    border-bottom: solid 1px #B5AE84;
    border-top: solid 0px #B5AE84;
}


.cMenu{
    display:none;
}

.row_show_on td{
    background: #CEE3FF;
    cursor: help;
    padding:4px;
}

.row_show_off td{
    background: #ffffff;
    cursor: help;
    padding:4px;
}

#loader{
    background: #F0F0F0;
    DISPLAY: none;
    position: absolute;
    visibility: hidden;
    Z-INDEX: 2; 
    width: 100%;
    height: 100%;
    FILTER: alpha(opacity=80);
}

#lock{
    background: #F0F0F0;
    DISPLAY: none;
    position: absolute;
    visibility: hidden;
    Z-INDEX: 2; 
    width: 100%;
    height: 100%;
    FILTER: alpha(opacity=50);

}

#loadmes{
    width:400px;
    height:100px;
    BACKGROUND: #C0D2EC;
    Z-INDEX: 3; 
    padding:10px;
    border: solid;
    color: 000000;
    border-width: 1px; 
    border-color:#4D88C8;
    FILTER: alpha(opacity=80);
}

#loadimg{
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    width:40px;
    height:32px;

}

a.phpshop{
    text-decoration:none;
    padding-right:5px;
    color:#B58200;
    font-size:15px;
}


a.none{
    text-decoration: none;
}
a.none:hover{
    text-decoration: underline;
}
table.sortable a.sortheader {
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
#title{
    border-bottom: solid 1px #CCC;
    border-bottom-width: 1px;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    padding: 2px; 

}

#tups{
    height: 20px;
    border-top: outset;
    border-top-width: 0px;
    border-left: outset;
    border-left-width: 1px;
    border-right: outset;
    border-right-width: 1px;
    font-family: MS Shell Dlg;
    padding: 5px;
    border-bottom: outset;
    border-bottom-width: 1px;
}

.butclick{
    border: solid;
    border-color: #4D88C8;
    background-color: #8893B1;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
}

#interfaces{
    padding-left:0px;
}
.buton{
    width:17px;
    height:17px;
    border: solid 1px #BFDBFF;
    background: -moz-linear-gradient(#F2F6F9,#BFDBFF);
    background: -ms-linear-gradient(#F2F6F9,#BFDBFF);
    background: -o-linear-gradient(#F2F6F9,#BFDBFF);
    background: -webkit-linear-gradient(#F2F6F9,#BFDBFF);
    cursor: pointer;
    padding: 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.butoff:hover{
    width:17px;
    height:17px;
    border: solid 1px #BFDBFF;
    background: -moz-linear-gradient(#F2F6F9,#BFDBFF);
    background: -ms-linear-gradient(#F2F6F9,#BFDBFF);
    background: -o-linear-gradient(#F2F6F9,#BFDBFF);
    background: -webkit-linear-gradient(#F2F6F9,#BFDBFF);
    cursor: pointer;
    padding: 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.butoff{
    text-align: center;
    width:17px;
    height:17px;
    border: solid;
    border-color: #EFE7CE;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#tips{
    height: 20px;
    border-top: outset;
    border-top-width: 1px;
    border-left: outset;
    border-left-width: 1px;
    border-right: outset;
    border-right-width: 1px;
    font-family: MS Shell Dlg;
    padding: 3px;
    padding-left: 5px;
}

#taps{
    padding: 3px;
    border-bottom: inset;
    border-bottom-width: 1px;
}
#tabs{
    padding: 3px;
    border: outset;
    border-width: 1px;
    background: #F0F0F0;
    height: 20px;
}

.message{
    border: solid 1px #CCC;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background: -moz-linear-gradient(#F7EFD6,#FFFBEF);
    background: -ms-linear-gradient(#F7EFD6,#FFFBEF);
    background: -o-linear-gradient(#F7EFD6,#FFFBEF);
    background: -webkit-linear-gradient(#F7EFD6,#FFFBEF);
    position:absolute;
    left:10px;
    top:0; 
    width: 250px; 
    height: 75px;
    padding:10px;
    visibility:hidden;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    cursor: pointer;
}

.alert{
    width:400px;
    height:100px;
    background: -moz-linear-gradient(#F7EFD6,#FFFBEF);
    background: -ms-linear-gradient(#F7EFD6,#FFFBEF);
    background: -o-linear-gradient(#F7EFD6,#FFFBEF);
    background: -webkit-linear-gradient(#F7EFD6,#FFFBEF);
    padding:10px;
    border: solid 1px #CCC;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

#pane{
    text-align: center;
    padding: 5px;
    background: #FFFBEF;
    border: solid 1px #B5AE84;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

#pane:hover{
    background: -moz-linear-gradient(#F7EFD6,#FFFBEF);
    background: -ms-linear-gradient(#F7EFD6,#FFFBEF);
    background: -o-linear-gradient(#F7EFD6,#FFFBEF);
    background: -webkit-linear-gradient(#F7EFD6,#FFFBEF);
}


.menu_line {
    background: #CCC;
}
button.pane{
    width:100%;
}



tr.row td {
    padding: 4px;
    cursor: help;
}

tr.padding td:first-child{
    padding-left:10px;
}

#rol td{
    padding: 5px;
    /*cursor: pointer;*/
    background: White;
}
tr.row {
    padding: 4px;
    background: White;
    cursor: help;
}

tr.line2 {
    background: #FFF7E7;
}

table.table{
    background: #F0F0F0;
}

tr.row3 {
    background: White;
    cursor: help;
}
.full{
    width: 100%;
}
td.forma{

}
a.blue{
    color: #423000;
}
a{
    color: #000; 
}
a:hover{
    color: #4D88C8;
}
div, input, button, select, fieldset, textarea, td, th{ 
    font-family: MS Shell Dlg; 
    font-size: 8pt;  
}
.logo{
    color: #B58200; 
    font-size: 7pt;
}
.title { 
    background: #DDDDFF; 
    color: 000; 
    font-weight: bold; 
    font-size: 120%; 
    padding: 3px 20px; 
    margin-bottom: 10px;
    border-bottom: 1px solid black; 
    letter-spacing: 2px;

}

input,textarea,select{
    border: solid 1px #B5AE84;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding:2px;
}


input.but{
    width: 7em; 
    height: 2.2em;
    font-size: 8pt;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #FFF7E7;
    border: solid 1px #B5AE84;
    cursor: pointer;
}

input.but:hover {
    background: -moz-linear-gradient(#FFEBBD, #EFD394);
    background: -ms-linear-gradient(#FFEBBD, #EFD394);
    background: -o-linear-gradient(#FFEBBD, #EFD394);
    background: -webkit-linear-gradient(#FFEBBD, #EFD394);
    border: solid 1px #B5AE84;
}

.small{
    height: 1.9em!important;
    padding:0px!important;
}

.long{
    width: 17em!important;
    height: 1.9em!important;
}

.separator{
    background: #B5AE84;
}

hr{
    display:none;
}

input[type=file]{
    border: solid 1px #B5AE84;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #FFF;
    width: 400px;
}



input:hover,select:hover,textarea:hover {
    border: solid 1px #BFDBFF;
}

img.icon{
    cursor: pointer;
}

button{
    width: 8em; 
    height: 2.2em;
    font-size: 8pt;
    margin-top:0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background: #FFF7E7;
    border: solid 1px #B5AE84;
    cursor: pointer;
}

button:hover {
    background: -moz-linear-gradient(#FFEBBD, #EFD394);
    background: -ms-linear-gradient(#FFEBBD, #EFD394);
    background: -o-linear-gradient(#FFEBBD, #EFD394);
    background: -webkit-linear-gradient(#FFEBBD, #EFD394);
    border: solid 1px #B5AE84;
}

button.option{
    background-image: url(../icon/page_edit.gif);
    background-repeat: no-repeat;
    width: 8em; 
    height: 2.2em;
    font-size: 8pt;
    margin-top:0;
    padding-left:15px;
    cursor: pointer;
}
button.help{
    display:none;
}
.tip1{
    filter:alpha(opacity=50);
}
.buttonSh{
    height:17px;
    border: solid;
    border-color: #4D88C8;
    background-color: #C0D2EC;
    border-width: 1px;
    cursor: hand;
}
form{
    margin:0; 
    padding:0;
}

sup{
    color:#FFFFFF;
    background-color: #2CAE00;
    padding: 1px;
}
