<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Button</name>
    <description>Модуль вставки кода кнопок рейтингов и счетчиков</description>
    <icon>icon.png</icon>
    <category>text,template</category>
    <adminmenu>
        <title>Кнопки</title>
        <podmenu>
            <podmenu_name>Настройка Button</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/button/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Обзор Кнопок</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=button')</podmenu_action>
        </podmenu>
         <podmenu>
            <podmenu_name>Новая Кнопка</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/button/admpanel/adm_button_new.php',630,530);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>