<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Snow</name>
    <faqlink>http://faq.phpshop.ru/page/snow.html</faqlink>
    <description>Модуль падающего снега.</description>
    <icon>icon.png</icon>
    <category>template,decorate</category>
     <adminmenu>
        <title>Снег</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/snow/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>