<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Stockgallery</name>
        <faqlink>http://faq.phpshop.ru/page/stockgallery.html</faqlink>
    <description>Модуль карусели товаров.</description>
    <category>decorate,template</category>
    <adminmenu>
        <title>Stockgallery</title>
        <capability>true</capability>
    </adminmenu>
</module>