<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.2</version>
    <name>Tinkoff</name>
    <description>Прием оплат через Tinkoff.</description>
    <category>payment</category>
    <sign>1545904926</sign>
    <faqlink>http://faq.phpshop.ru/page/tinkoff.html</faqlink>
    <adminmenu>
        <title>Прием оплат Tinkoff</title>
        <capability>true</capability>
    </adminmenu>
</module>