<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.7</version>
    <name>Form Generator</name>
    <description>Модуль создания форм.</description>
    <icon>icon.png</icon>
    <category>form</category>
    <base>24</base>
    <adminmenu>
        <title>Формы</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>option.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/formgenerator/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Обзор форм</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=formgenerator')</podmenu_action>
        </podmenu>
         <podmenu>
            <podmenu_name>Новая форма</podmenu_name>
            <podmenu_icon>add.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/formgenerator/admpanel/adm_formgenerator_new.php',630,530);</podmenu_action>
        </podmenu>
        <menu>
            <menu_name>Формы</menu_name>
            <menu_icon>icon.png</menu_icon>
            <menu_action>window.location.replace('?plugin=formgenerator')</menu_action>
        </menu>
    </adminmenu>
</module>