/* 
* PHPShop Editor 
*/
.editor_empty{
   color:#6C809A;
   text-align: center;
   padding:5px;
   background: #FFE785;
   border: dashed 1px #6C809A;
   border-radius:4px;
   margin:3px;
}
.editor_empty a{
   text-decoration:none !important;
   color:#6C809A !important;
}

/* 
* Поддержка шаблонов 2.1 - 3.7  для версии 4
*/

.product-tags div{
background: #F7F7F7;
padding:1px;
margin:1px;
}

.product-tags a:link{
    text-decoration: none;
}

.product-tags div:hover {
background:#E7ECF2;
}

#footer_button {
float: right;
padding-right: 20px;
color: #FFFFFF;
}

.compare_list img{
 max-width: 70px;
}

a.highslide img{
   max-width: 100px;
   padding:5px;
}

#fotoload a.highslide img{
   max-width: 600px !important;
}

#fotoload img.imgOn, #fotoload img.imgOff{
   max-width: 100px;
}

#catalogContent img{
   max-width: 540px;
}

#bannerContent img{
   display: block;
   max-width: 540px !important;
   text-align: center;
}

.left {
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}

#checkout{
   padding:5px;
}

body,td,th{/* Основные шрифты */
    font-family: Arial;
    font-size: 12px;
    color: #2b2b2b;
}

body{
    SCROLLBAR-FACE-COLOR: #ececec; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2; 
    SCROLLBAR-SHADOW-COLOR: #c2c2c2; 
    SCROLLBAR-3DLIGHT-COLOR: #ececec; 
    SCROLLBAR-ARROW-COLOR: #19376A; 
    SCROLLBAR-TRACK-COLOR: #ffffff; 
    SCROLLBAR-DARKSHADOW-COLOR: #ececec; 
    SCROLLBAR-BASE-COLOR: #ffffff;
    padding:0px;
    margin:0px;
    background-color:#FFFFFF;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 13px;
    color:black;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.body{
    background:#FFFFFF;
    margin-top:10px;
    margin-bottom:10px;
    border: solid 1px #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
}

img.template{
    border: solid 1px #CCC;
    padding: 3px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:3px;
    cursor:pointer;
}

img.template:hover{
    border: solid 1px #BFDBFF;
    box-shadow: 0 0 5px #BFDBFF;
}
input,textarea,select{
    border: solid 1px #CCC;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:2px;

}
input:hover[type=text],select:hover,textarea:hover {
    border: solid 1px #BFDBFF;
}
input.searchf:hover{
    border:0px;
}
input[type=image]{
    border: 0px;
}
input[type=button],input[type=reset],input[type=submit]{
    background: -moz-linear-gradient(#FFF, #F0F0F0);
    background: -ms-linear-gradient(#FFF, #F0F0F0);
    background: -o-linear-gradient(#FFF, #F0F0F0);
    background: -webkit-linear-gradient(#FFF, #F0F0F0);
}
input:hover[type=button],input:hover[type=reset]{
    border: solid 1px #CCC;
    color: #FF6600;
    cursor:pointer;
}
.ok{
    margin-left:5px;
}
a.activ_catalog{
    background: #FF5F00;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.telefon {
    font-size: 21px;
    color: 666666;
    padding-top: 10px;
}
img.imgOff {
    border-color: #97989C;
    border-style: solid;
    border-width: 1px;
}

img.imgOn {
    border-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
}

div.comment_list{/*отзывы*/
    margin-top: 10px;
    background-color: #F2F3F5;
    margin-bottom: 10px;
    BORDER: #97989C 1px dashed; 
    PADDING: 5px; 
}

div.comment_user{
    padding: 3px;
    background: #3D6C8E;
    color: white;
}

div.comment_user a{
    color: white;
}


ul{
    list-style-type: square;
    color: #FF6600;
}

.sort_name_bg{
    background-color: #F0F1F1;
}
.sort_table{
    padding: 10px;
BORDER-TOP: #cccccc 1px solid;
}

.ico_add_to_card {
    background:url(images/shop/basket.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
}
.ico_add_to_compare {
    background:url(images/shop/compare.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
}
.message{
    border: solid 1px #EFD39C;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background: -moz-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -ms-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -o-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -webkit-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    position: absolute;
    max-width: 230px; 
    height: 35px;
    padding: 15px 10px 10px 10px;
    visibility:hidden;
    left:10px;
    top:0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.menu_bg{


}
.menu_bg a.navigation{ text-decoration:none

}
#navigation{

}

#header_2 a.navigation{ 
    margin:0px 20px;
    color:#fff;

}
header_2 a.navigation:hover{

    text-decoration: none;
}

#name_shop { color:#000; font-size:22px;padding-left:20px; padding-top:38px; }
#slogan { color:#000;padding:5px 0px 5px 20px; width:270px}
#demo_link { color:#087bcd; padding-left:20px; }
#demo_link:hover { text-decoration:none}

#tel { color:#a9a9a9; font-size:10px; padding:42px 48px 0px 0px;}



#header_1{ 
    background:url(images/header_2.gif) 225px 0px no-repeat;
}

#header_2{ background:url(images/menu_bg.gif) top left no-repeat #ff6600;


}
#header_3{
    background-repeat: no-repeat;
    width: 1004px;
    height: 26px;
    padding-left:25px;
}
#header_4{
    background-image: url(images/header_04.gif);
    background-repeat: no-repeat;
    width: 408px;
    height: 137px;
}
#header_5{
    background-image: url(images/header_05.gif);
    background-repeat: no-repeat;
    width: 275px;
    height: 137px;
    padding-left:30px;
}
#header_6{
    background-image: url(images/header_06.gif);
    background-repeat: no-repeat;
    width: 321px;
    height: 137px;
}
#search_link { color:#FFF}
#search_link:hover { text-decoration:none}
.zagb{
    color:fff;
    text-transform: uppercase;
    font-weight: bold;
}

#about {color:#595959; padding:5px 23px 20px 23px; }
#bg_catalog_1{bottom left no-repeat ; color:#595959; font-size:18px; font-weight:bold;  padding:14px 0px 13px 14px;}
#bg_catalog_1 b {color:#595959; font-size:18px; font-weight:bold;   }
#plus_1 { color:#8c8c8c; padding:0px 7px 0px 215px;}
#plus_2 { color:#8c8c8c; padding:0px 7px 0px 25px;}
#bg_catalog_1 a { color:#0d84d7}
#bg_catalog_1 a:hover { text-decoration:none}
#bg_newsZag{ background:url(images/bg_catalog_2.gif) bottom left no-repeat; height: 48px}
#bg_banner{background:url(images/bg_catalog_2.gif) bottom left no-repeat ; color:#595959; font-size:14px; font-weight:bold;  padding:14px 0px 13px 14px;}
.newsZagH1{ font-size: 14px; }
#footer { background:url(images/footer.gif) top left no-repeat; height:120px; color:#6a6a6a; padding:20px 0px 0px 0px;}
#footer td { color:#6a6a6a}
#footer a {  color:#6a6a6a}
#footer a:hover { text-decoration:none}
#footer span { padding:0px 6px;}


#foot_nav a.navigation{ margin:0px 20px;

                        color:#4f4f4f;
}
#foot_nav a.navigation:hover{

    text-decoration: none;
}


#bg_catalog_2{ color:#3f3f3f; text-transform:uppercase; font-weight:bold; padding:14px 0px;

}
#bg_catalog_4{ color:#3f3f3f; text-transform:uppercase; font-weight:bold; padding:23px 0px 14px 20px;

}
#bg_catalog_3{
background:url(images/bg_catalog_1.gif) #ffffff top left no-repeat ; 
color:#3f3f3f; 
font-weight:bold; 
text-transform:uppercase; 
padding:14px 0px 13px 24px;
margin-top:5px;

}
#search_bg {  
    width:558px; 
    height:118px;
    background-image: url(images/search_bg.gif);
    background-repeat: no-repeat;
    background-position: top;
}

#bgmenu{
    background-image: url(images/bg_menu.gif);
    background-repeat: no-repeat;
    width: 270px;
    height: 25px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 6px;
    padding-left: 10px;
    text-transform:uppercase;
}

#bgcart{
    background-image: url(images/bg_cart.gif);
    background-repeat: no-repeat;
    width: 208px;
    height: 125px;
    padding-left:30px;
    padding-right:20px;
    padding-top:30px;
}

#bgfooter{
    background-image: url(images/bg_footer.gif);
    background-repeat: repeat-x;
    height: 92px;
    color: #9FA4A7;
    padding-top: 6px;
    padding-left: 10px;
}
#bgfooter td, bgfooter a {
    color: #9FA4A7;
}
.top{
    margin-top: 20px;
}
#top {
    FILTER: Alpha(Opacity=40, FinishOpacity=40, Style=1, StartX=0, StartY=0, FinishX=88, FinishY=31);
}

td.setka{
    background-color: #D6D6D6;
}
a.product_name{ font-weight: bold;
                color:#0089c0;


}
a.product_name:hover { text-decoration:none; cursor:pointer}
#head_2{
    background-image: url(images/head_02.gif);
    background-repeat: no-repeat;
    WIDTH: 227px;
    HEIGHT: 327px;
    padding-left:35px;
    padding-top:25px; 
}

#catalog{
    background-image: url(images/catalog_line.gif);
    background-repeat: no-repeat;
    WIDTH: 289px;
    HEIGHT: 32px;
    font-weight: bold;
}

.black a{
    color:#676767;
}
div.catalog_forma{


}
div.podcatalog_forma{

}

* HTML div.podcatalog_forma{ /* Только для браузера IE */
    width:225px;

}
ul.catalog { margin:0px; padding:0px; list-style-type:none}
li.catalog {padding:9px 0px 9px 24px;  background:url(images/catalog_forma.gif) center bottom no-repeat; cursor:pointer}
li.catalog a {text-transform:uppercase;color:#0089c0; text-decoration:none}
li.catalog strong {text-transform:uppercase;color:#0089c0; text-decoration:none; font-weight:normal}

li.podcatalog a
{
    color:#676767; text-transform:none; padding-left:10px;
    text-decoration:none;
}
li.podcatalog a:hover
{

    text-decoration: underline;
}
#info { color:#7f7f7f; padding:20px; text-align:justify;}

#block1{
    padding-left:10px;
    width: 321px;
}
#block2{
    padding-top:10px;
    padding-right:10px;
    padding-bottom:0px;
    width: 683px;
}

#bg_footer_1{
    background-image: url(images/bg_footer_1.gif);
    HEIGHT: 80px;
    width: 270px;
    background-repeat: repeat-x;
    padding-top: 15px;
    color: white;
    padding-left:30px;
}
#bg_footer_2{
    background-image: url(images/bg_footer_2.gif);
    HEIGHT: 66px;
    width: 830px;
    background-repeat: repeat-x;
    padding-left:20px;
    padding-top:5px;
    color: #b1c4d2;
}

#bg_footer_2 a{
    color: #b1c4d2;
}

#bg_footer_3{
    background-image: url(images/bg_footer_3.gif);
    background-repeat: no-repeat;
    HEIGHT: 66px;
    width: 174px;
    color: white;

}

#order a{
    color:#0076c9; 
}

#order {
    padding-left:30px;

}

#order a:hover{ 
    text-decoration:none
}
.bgprice{
    background-color: #F0F0F0;
}
#us_reg { padding:0px 15px;}
#us_reg #allspec { margin:10px 0px 0px 0px;}


html > body {margin:0px 0px 0px 10px; }
* html #allspec2{ width:539px; margin:0px 0px 0px 10px; }

#allspec2{ 

    background-color: #F8F8F8;
    border: 1px dotted rgba(223,223,223,1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:3px;
    padding:5px;
}


#allspecwhite{
   padding: 10px;
BORDER-TOP: #cccccc 1px solid;
}

li.done{
    color: green;
    font-weight: bold;
}
.sortActiv{
    font-weight: bold;
}
div.opros{
    background: #D72300;
    height: 10px;
    background-repeat: no-repeat;
}

td {
    /*vertical-align: top;*/
    font-family:Tahoma;
    font-size:11px;
    color:#424242;
}
td.center{
    vertical-align: middle;
}

form
{
    margin:0px;
}

.dark
{
    color:#595959;
    font-weight:bold;
    text-transform:uppercase;
}
a{
    color:#424242;
}
.red{
    color: #003399;
}
.red:hover{
    color: #FFAE00;
}
.gray{
    color: #A2A2A2;
}
.gray:hover{
    color: #FFAE00;
}
a.black
{
    color:#676767;
    text-decoration:none;
}
a.black:hover
{
    color: #181818;
    text-decoration: underline;
}
a.link
{
    color: #181818;
    text-decoration: underline;
}
a.link:hover
{
    color: #003399;
    text-decoration: underline;
}
.black
{
    color:#181818;
}
a.b{
    color:#0089c0;
}

a.b:hover{ text-decoration:none

}

.white{color:#0089c0;}

a.white{
    color:#0089c0;
    font-weight: bold;
}
a.white:hover{ text-decoration:none

}
.price
{
    color:#696969;
    font-size: 20px;
}
.price2{
    color:#C34046;
}
H1{
    font-size: 18 px;
    text-transform: none;
    color:#0089c0;
}
H2{
    font-size: 18px;
    text-transform: none;
    color:#0089c0;

}
select{
    font-size: 11px;
}

a.login-form { color:#0076c9}
a.login-form:hover { text-decoration:none}
input{
    font-size: 11px;
}
input.search{
    font-size: 14px;
    width: 429px;
    height: 23px;
    border-top:1px solid #cdcdcd;border-left:1px solid #cdcdcd;border-bottom:1px solid #fff;border-right:1px solid #fff;

}
input.but{
    font-size: 11px;
    height: 22px;
    border-style: solid;
    border-color: #395200;
    border-width: 1px;
    background-color: white;
    color:#4b4b4b;
}

#mm {
    margin: 0 0 0 320px;
    height: 50px;
}

#mm img {
    border: none;
    margin: 5px;
}

.mm_item {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.mm_spacer {
    margin-top: 130px;
    padding-top: 130px;
}
/*Стили кнопок табов*/


.dynamic-tab-pane-control.tab-pane {
    position:	relative;
    width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
    font-family:	Verdana, Helvetica, Arial;
    font-size:		12px;
    cursor:			Default;
    display:		inline;
    margin:			1px -5px 1px 5px;
    float:			left;
    padding:		3px 6px 3px 6px;
    background:		#EDF5F8;
    border:			1px solid;
    border-color:	#AED3DC;
    border-left:	0;
    border-bottom:	0;
    border-top:		0;

    cursor:			hand;
    cursor:			pointer;

    z-index:		1;
    position:		relative;
    top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
    border:			1px solid #AED3DC;
    border-bottom:	0;
    z-index:		3;
    padding:		2px 6px 5px 6px;
    margin:			1px -6px -2px 0px;
    top:			-2px;
    background:		white;
}

.dynamic-tab-pane-control .tab-row .tab a {
    font-family:		Verdana, Helvetica, Arial;
    font-size:			12px;
    color:				#2E9BC2;
    text-decoration:	none;
    cursor:			hand;
    cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
    color:	#2E9BC2;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
    font-weight: bolder;
}

.dynamic-tab-pane-control .tab-page {
    clear:			both;
    border:			1px solid #AED3DC;
    background:		White;
    z-index:		2;
    position:		relative;
    top:			-2px;
    color:			#696969;
    font-size:		11px;
    padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
    z-index:		1;
    white-space:	nowrap;
    background:		#EDF5F8;
    height:			1.85em;
    width:			100%;
}

.tab-page a{
    color: #AE8895;
}