<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.3</version>
    <name>Boxberry Widget</name>
    <faqlink>http://faq.phpshop.ru/page/boxberry-widget.html</faqlink>
    <description>Виджет расчета доставки boxberry.ru</description>
    <category>delivery</category>
    <sign>1568200029</sign>
    <adminmenu>
        <title>Boxberry Widget</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.boxberrywidget</podmenu_action>
        </podmenu>
    </adminmenu>
</module>