<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.7</version>
    <name>Partner</name>
    <description>Модуль партнерской программы.</description>
    <icon>icon.png</icon>
    <category>partner</category>
    <adminmenu>
        <title>Партнеры</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>option.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/partner/admpanel/adm_module.php',630,530);</podmenu_action>
        </podmenu>
	<podmenu>
            <podmenu_name>Обзор партнеров</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:DoReload('modules','partner')</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Заявки на вывод</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:DoReload('modules','partner','payment')</podmenu_action>
        </podmenu>
         <podmenu>
            <podmenu_name>Журнал заказов</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:DoReload('modules','partner','log')</podmenu_action>
        </podmenu>
    </adminmenu>
</module>