<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>PayOnline</name>
    <description>Прием оплат с помощью платежного шлюза PayOnline.</description>
    <faqlink>http://faq.phpshop.ru/page/payonline.html</faqlink>
    <category>payment</category>
    <sign>1575018039</sign>
     <adminmenu>
        <title>PayOnline</title>
        <capability>true</capability>
         <podmenu>
             <podmenu_name>Журнал операций</podmenu_name>
             <podmenu_action>dir.payonline</podmenu_action>
         </podmenu>
    </adminmenu>
</module>