<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>Visual Cart</name>
    <faqlink>http://faq.phpshop.ru/page/visualcart.html</faqlink>
    <description>Модуль управляемой мини-корзины, сохранение корзины в базе.</description>
    <category>form</category>
    <adminmenu>
        <title>Visual Cart</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Незавершенные заказы</podmenu_name>
            <podmenu_action>dir.visualcart</podmenu_action>
        </podmenu>
    </adminmenu>
</module>