<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.4</version>
    <name>SocAuth</name>
    <faqlink>https://docs.phpshop.ru/moduli/socialnye-seti/socauth</faqlink>
    <description>Модуль авторизации через Вконтакте, Facebook и Twitter.</description>
    <category>soc</category>
    <adminmenu>
        <title>SocAuth</title>
        <capability>true</capability>
    </adminmenu>
</module>