<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>SocAuth</name>
    <description>Модуль авторизации через facebook, twitter.</description>
    <icon>icon.png</icon>
    <category>soc</category>
    <adminmenu>
        <title>SocAuth</title>
        <podmenu>
            <podmenu_name>Настройка SocAuth</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/socauth/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>