<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.3</version>
    <name>SocAuth</name>
    <faqlink>http://faq.phpshop.ru/page/socauth.html</faqlink>
    <description>Модуль авторизации через facebook, twitter.</description>
    <icon>icon.png</icon>
    <category>soc</category>
    <adminmenu>
        <title>SocAuth</title>
        <podmenu>
            <podmenu_name>Настройка SocAuth</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/socauth/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
    <history>
        <update>
            <date>11.09.2013</date>
            <content>Обновлена логига работы модуля в связи с изменениями в API Facebook PHP SDK</content>
        </update>
        <update>
            <date>15.10.2013</date>
            <content>Обновлена логига работы модуля в связи с изменениями в PHPShop Framework</content>
        </update>
    </history>
</module>