<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Icon Cat</name>
    <description>Модуль иконок для категорий</description>
    <icon>icon.png</icon>
    <category>template,decorate</category>
    <adminmenu>
        <title>Icon Cat</title>
        <podmenu>
            <podmenu_name>Настройка Icon Cat</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/iconcat/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
        <history>
        <update>
            <date>21.10.2013</date>
            <content>Добавлена поддержка seo урлов</content>
        </update>
    </history>
</module>