body, td, th {
	font-family: Arial;
	font-size: 12px;
	color: #8b7f64;
}
body {
	margin: 0px;
	background-color: #8b7f64;
	background-image: url(images/furniture_26.gif);
	background-repeat: repeat;
}
table#TRoot {
	width: 996px;
	background-image: url(images/furniture_02.gif);
	background-repeat: repeat;
	background-position: left top;
}
table#TRoot div.r{
	background-image: url(images/furniture_01.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
table#THeader {
	width: 100%;
	height: 106px;
}
table#TMenu {
	width: 100%;
	height: 45px;
	background-image: url(images/furniture_03.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
table#TContent {
	width: 100%;
	height: 500px;
}
a {
	font-family: Arial;
	font-size: 12px;
	color: #8b7f64;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: underline;
}
form {
	margin: 0px;
	padding: 0px;
}
h1{
	font-family: Arial;
	font-size: 16px;
	color: #c3b188;
	font-weight: normal;
}
h2{
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
	font-weight: normal;
}
h1.HTitle1 {
	font-family: Arial;
	font-size: 18px;
	color: #c3b188;
	margin: 0px;
	padding-top: 34px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	font-weight: normal;
}
h1.HTitle2 {
	font-family: Arial;
	font-size: 18px;
	color: #c3b188;
	margin: 0px;
	padding-top: 28px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	font-weight: normal;
}
h1.HTitle2-1 {
	font-family: Arial;
	font-size: 18px;
	color: #c3b188;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
	font-weight: normal;
}
h1.HTitle3 {
	font-family: Arial;
	font-size: 18px;
	color: #dad6cb;
	margin: 0px;
	padding-top: 34px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
	font-weight: normal;
}
h1.HTitle4 {
	font-family: Arial;
	font-size: 24px;
	color: #c3b188;
	margin: 0px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
	font-weight: normal;
}
table.topMenu{
	width: 100%;
}
td.leftLine{
	background-image: url(images/furniture_04.gif);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left: 2px;
	padding-right: 2px;
}
div.rightLine{
	background-image: url(images/furniture_04-r.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-right: 2px;
}
* html div.rightLine{
	background-image: url(images/furniture_04-r.gif);
	background-repeat: repeat-y;
	background-position: right top;
	padding-right: 1px;
}
div.topMenuList{
	display: inline;
	float: right;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 7px;
}
div.topMenuList a{
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
}
div.topMenuList a:link {
	text-decoration: none;
}
div.topMenuList a:visited {
	text-decoration: none;
}
div.topMenuList a:hover {
	text-decoration: none;
}
div.topMenuList a:active {
	text-decoration: none;
}
div.highslide-caption{
	color: #a81219 !important;
}
div#logoName {
	margin-top: 18px;
	margin-left: 30px;
}
div#logoName a {
	font-family: AGOpus, Arial;
	font-size: 24px;
	color: #dad6cb;
	text-transform: uppercase;
	line-height: 26px;
}
div#logoName a:link {
	text-decoration: none;
	color: #dad6cb;
}
div#logoName a:visited {
	text-decoration: none;
	color: #dad6cb;
}
div#logoName a:hover {
	text-decoration: none;
	color: #dad6cb;
}
div#logoName a:active {
	text-decoration: none;
	color: #dad6cb;
}
div#logoServer {
	margin-left: 30px;
}
div#logoServer a {
	font-family: AGOpus, Arial;
	font-size: 24px;
	color: #a81219;
	text-transform: uppercase;
	line-height: 26px;
}
div#logoServer a:link {
	text-decoration: none;
	color: #a81219;
}
div#logoServer a:visited {
	text-decoration: none;
	color: #a81219;
}
div#logoServer a:hover {
	text-decoration: none;
	color: #a81219;
}
div#logoServer a:active {
	text-decoration: none;
	color: #a81219;
}
div#logoDescrip {
	margin-top: 6px;
	margin-bottom: 14px;
	margin-left: 30px;
}
div#logoDescrip a {
	font-family: AGOpus, Arial;
	font-size: 14px;
	color: #dad6cb;
	text-transform: uppercase;
	line-height: 16px;
}
div#logoDescrip a:link {
	text-decoration: none;
	color: #dad6cb;
}
div#logoDescrip a:visited {
	text-decoration: none;
	color: #dad6cb;
}
div#logoDescrip a:hover {
	text-decoration: none;
	color: #dad6cb;
}
div#logoDescrip a:active {
	text-decoration: none;
	color: #dad6cb;
}
div#HeaderDiv {
	height: 21px;
	margin-top: 23px;
	margin-bottom: 10px;
	margin-right: 30px;
}
span.linkNone a {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
}
span.linkNone a:link {
	text-decoration: none;
}
span.linkNone a:visited {
	text-decoration: none;
}
span.linkNone a:hover {
	text-decoration: none;
}
span.linkNone a:active {
	text-decoration: none;
}
div.purchase {
	display: inline;
	float: right;
}
div.divider {
	display: inline;
	float: right;
	margin-top: 5px;
	margin-left: 11px;
}
div.purchase2 {
	display: inline;
	float: right;
	margin-left: 11px;
	margin-top: 3px;
}
div.purchase2 span a {
	color: #8b7f64;
}
div.currency {
	display: inline;
	float: right;
	width:60px;
	height:16px;
	margin-left: 11px;
}
div.currency select {
	width: 60px;
	font-family: Calibri, Arial;
	font-size: 12px;
	font-weight: 600;
	color: #120600;
	height: 20px;
	border: 1px solid #251b16;
}
div.enter {
	height: 16px;
	width: 121px;
	display: inline;
	float: right;
}
div.enter1 {
	width: 121px;
	position: absolute;
	margin-top: -32px;
	margin-left: -121px;
}
div.enter2 {
	display: inline;
	float: right;
	margin-top: 3px;
}
div.enter2 span a {
	color: #dad6cb;
}
div.enter3 {
	display: inline;
	float: right;
	margin-top: 7px;
	margin-right: 8px;
}
form.Search {
	margin-top: 10px;
	margin-right: 30px;
	display: block;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
div.Search1R {
	display: inline;
	float: right;
	margin-left: 7px;
}
div.Search2R {
	display: inline;
	float: right;
	background-image: url(images/furniture_11.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 24px;
	width: 161px;
	margin-top: 1px;
}
div.Search3R {
	margin-top: 3px;
	margin-right: 6px;
	margin-left: 6px;
}
input.search {
	width: 149px;
	font-family: Calibri, Arial;
	font-size: 12px;
	font-weight: 600;
	color: #120600;
	background: none;
	border: none;
}
td.topCat {
	width: 100%;
}
td.topCat div.divCat_off {
	display: inline;
	float: left;
}
td.topCat div.divCat_off table.tableCat {
}
td.topCat div.divCat_off table.tableCat .tdCatHeader {
}
td.topCat div.divCat_off table.tableCat .tdCatHeader .divCatTitle {
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 14px;
	padding-left: 25px;
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
	text-decoration: none;
	cursor:pointer;
}
td.topCat div.divCat_off table.tableCat .tdCatHeader .divCatTitle_over {
	background-color: #841115;
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 14px;
	padding-left: 25px;
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
	text-decoration: none;
	cursor:pointer;
}
td.topCat div.divCat_off table.tableCat .tdCatContent {
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont {
	position: absolute;
	width: 275px;
	visibility: visible;
	background-image: url(images/furniture_06.png);
	background-repeat: repeat;
	z-index: 10;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont_off {
	display: none;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA {
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA a {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	display: block;
	padding-top: 9px;
	padding-right: 12px;
	padding-bottom: 9px;
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7d0d13;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA a:link {
	color: #c3b188;
	text-decoration: none;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA a:visited {
	color: #c3b188;
	text-decoration: none;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA a:hover {
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
}
td.topCat div.divCat_off table.tableCat .tdCatContent .divCatCont .divCatContA a:active {
	color: #c3b188;
	text-decoration: none;
}
td.topCat div.divCat_on {
	display: inline;
	float: left;
}
td.topCat div.divCat_on table.tableCat {
}
td.topCat div.divCat_on table.tableCat .tdCatHeader {
}
td.topCat div.divCat_on table.tableCat .tdCatHeader .divCatTitle {
	background-color: #841115;
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 14px;
	padding-left: 25px;
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
	text-decoration: none;
	cursor:pointer;
}
td.topCat div.divCat_on table.tableCat .tdCatHeader .divCatTitle_over {
	background-color: #841115;
	padding-top: 14px;
	padding-right: 25px;
	padding-bottom: 14px;
	padding-left: 25px;
	font-family: Arial;
	font-size: 14px;
	color: #c3b188;
	text-decoration: none;
	cursor:pointer;
}
td.topCat div.divCat_on table.tableCat .tdCatContent {
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont {
	position: absolute;
	width: 275px;
	visibility: visible;
	background-image: url(images/furniture_06.png);
	background-repeat: repeat;
	z-index: 10;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont_off {
	display: none;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA {
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA a {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	display: block;
	padding-top: 9px;
	padding-right: 12px;
	padding-bottom: 9px;
	padding-left: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7d0d13;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA a:link {
	color: #c3b188;
	text-decoration: none;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA a:visited {
	color: #c3b188;
	text-decoration: none;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA a:hover {
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
}
td.topCat div.divCat_on table.tableCat .tdCatContent .divCatCont .divCatContA a:active {
	color: #c3b188;
	text-decoration: none;
}
td.rightCat {
}
td.rightCat .divCat_off {
	display: none;
}
td.rightCat .divCat_on {
	
}
td.rightCat .divCat_on .tableCat {
	width: 100%;
}
td.rightCat .divCat_on .tableCat .tdCatHeader {
	display: none;
}
td.rightCat .divCat_on .tableCat .tdCatContent {
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off {
	
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA {
	clear: both;	
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:link {
	color: #8b7f64;
	text-decoration: none;
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:visited {
	color: #8b7f64;
	text-decoration: none;
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:hover {
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
	padding-right: 3px;
	padding-left: 3px;
}
td.rightCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:active {
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
	padding-right: 3px;
	padding-left: 3px;
}
div.divNavigationA{
	clear: both; 
}
div.divNavigationA a{
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
}
div.divNavigationA a:link{
	color: #8b7f64;
	text-decoration: none;
}
div.divNavigationA a:visited{
	color: #8b7f64;
	text-decoration: none;
}
div.divNavigationA a:hover{
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
	padding-right: 3px;
	padding-left: 3px;
}
div.divNavigationA a:active{
	color: #c3b188;
	text-decoration: none;
	background-color: #931318;
	padding-right: 3px;
	padding-left: 3px;
}
table.TableCart{
	background-color: #FFFFFF;
	height: 140px;
	width: 145px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #c6a58d;
	border-right-color: #846e5d;
	border-bottom-color: #846e5d;
	border-left-color: #c6a58d;
	margin-right: 14px;
	margin-bottom: 10px;
}
div.NameCart{
	padding-bottom: 2px;
}
div.NameCart a {
	font-size: 12px;
	color: #a81219;
	font-weight: 600;
	line-height: 14px;
}
div.NameCart a:link {
	text-decoration: none;
}
div.NameCart a:visited {
	text-decoration: none;
}
div.NameCart a:hover {
	text-decoration: none;
}
div.NameCart a:active {
	text-decoration: none;
}
div.ContentCart{
	font-size: 11px;
	color: #8b7f64;
	padding-bottom: 22px;
}
div.Compare{
	display: inline;
	float: left;
	padding-top: 4px;
}
div.Cart{
	display: inline;
	float: left;
	padding-right: 7px;
	padding-top: 4px;
}
div.CartLine{
	height: 16px;
	clear: both;
	width: 100%;
}
div.PriceNewtip{
	font-size: 18px;
	font-weight: 600;
	color: #a81219;
}
span.OldPriceNewtip{
	font-size: 12px;
	color: #dad6cb;
}
span.SkladNewtip{
	font-size: 12px;
	color: #dad6cb;
}
div.space1 {
	width: 5px;
}
div.space2 {
	width: 30px;
}
div.space3 {
	width: 25px;
}
div.space4 {
	width: 315px;
}
div.spaceH30 {
	width: 100%;
	clear: both;
	height: 30px;
}
div.spaceH20 {
	width: 100%;
	clear: both;
	height: 20px;
}
.userRoomHidden {
	width: 297px;
	height: 269px;
	position: absolute;
	visibility: hidden;
	margin-left: -293px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -12px;
	background-image: url(images/furniture_13.png);
}
.userRoomVisible {
	width: 297px;
	height: 269px;
	position: absolute;
	visibility: visible;
	margin-left: -293px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -12px;
	background-image: url(images/furniture_13.png);
}
.userRoomDiv {
	width: 297px;
	height: 269px;
	position: static;
}
table.userRoomT {
	width: 192px;
	height:269px;
	margin-right: 53px;
	margin-left: 52px;
}
span.usersError {
	color: #fe0013;
}
div.userR1 {
	font-family: Arial;
	font-size: 24px;
	color: #dad6cb;
	float: left;
	margin-top: 25px;
}
div.userR2 {
	font-family: Arial;
	font-size: 12px;
	color: #fe0013;
	float: right;
	margin-top: 35px;
	line-height: 14px;
}
div.userR3 {
	background-image: url(images/furniture_15.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
	clear: both;
	height: 16px;
}
div.userR4 {
	display: inline;
	float: left;
	margin-top: 6px;
	margin-right: 7px;
}
div.userR5 {
	display: inline;
	float: left;
	margin-top: 2px;
}
div.userR6 {
	display: inline;
	float: left;
	margin-top: 5px;
	margin-left: 2px;
}
div.userR7 {
	display: inline;
	float: left;
}
div.userR8 {
	display: inline;
	float: left;
	margin-left: 15px;
}
div.userR9 {
	display: inline;
	float: right;
	font: 12px Arial;
	padding-left: 12px;
}
div.userR9 span a {
	color: dad6cb;
}
div.user_Ed1 {
	font-family: Arial;
	font-size: 14px;
	color: #dad6cb;
	line-height: 16px;
	margin-bottom: 3px;
}
div.user_Ed2 {
	height: 24px;
	width: 190px;
	background-image: url(images/furniture_14.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
div.user_Ed3 {
	padding-top: 3px;
	padding-right: 6px;
	padding-left: 6px;
}
input.user_enter {
	font-family: Calibri;
	font-size: 12px;
	font-weight: 600;
	color: #120600;
	width: 178px;
	border: none;
	background: none;
}
span.user_text, span.user_text a {
	font-family: Arial;
	font-size: 12px;
	color: #6b5f49;
	line-height: 14px;
}
div#DBotoom-t {
	background-image: url(images/furniture_05.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 1px;
}
div#DBotoom-b {
	height: 88px;
	background-image: url(images/furniture_27.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
p.PBotoom {
	margin: 0px;
	padding-top: 34px;
	padding-right: 0px;
	padding-left: 30px;
	padding-bottom: 0px;
	font: 12px Arial;
	color: #dad6cb;
}
p.PBotoom span {
	padding-right: 7px;
	padding-left: 7px;
}
img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}
img.imgOn {
	border-color: #f7f7f7;
	border-style: solid;
	border-width: 1px;
}
div.comment_list {/*отзывы*/
	margin-top: 10px;
	background-color:#EDF5F8;
	margin-bottom: 10px;
	BORDER: #35A0C4 1px dashed;
	PADDING: 5px;
}
div.comment_user {
	padding: 3px;
	background: #35A0C4;
	color: white;
}
div.comment_user a {
	color: white;
}
div.opros {
	float: left;
	background: #a81219;
	height: 10px;
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 5px;
}
a.activ_catalog {
	background: #120600;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
}
div.productPageDisTable table{
	background-color: #3d2515;
	
}
div.productPageDisTable table tr td{
	color: #8b7f64;
	font-family: Calibri;
	font-size: 12px;
	background-color: #120600;
	border: 1px solid #fff000;
	border: #8b7f64;
}
div.productPageDisTable table tr td a{
	color: #8b7f64;
	font-family: Calibri;
	font-size: 12px;
}
.bgprice {
	background: #831115;
}
.bgprice b{
	color: #a81219;
	font-size: 12px;
	font-weight: 600;
}
a.standart {
	color: #c3b188;
}
table.standart{
	width: 98%;
}
div.gbook_otvet {/*ответ на отзыв*/
	margin-top: 10px;
	margin-bottom: 10px;
	PADDING: 5px;
	background-color: #120600;
	border: 1px solid #3f2614;
}
div.pod_cart {/*Ссылки в корзину подробное описание*/
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #120600;
	border: 1px solid #3f2614;
	PADDING: 5px;
}
div.pod_cart td a, div.pod_cart td {
	color: #8b7f64;
	font-size: 12px;
}
img.big {
	border:			1px solid #5B98AF;
}
.price {/*Цена подробное описание*/
	font-family: Arial;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #a81219;	
}
td.panel_l { /*Раскла в 2 колонки левая колонка*/
	width: 50%;
}
td.panel_r { /*Раскла в 2 колонки правая колонка*/
	width: 50%;
}
td.panel_t { /*Раскла в 3 колонки*/
	width: 34%;
}
td.setka img{
	width: 20px;
}
div.orderContent font b{
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #a81219;
}
div.mesageText font b{
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #a81219;
}
div.line {
	/*Разделитель новостей*/
	width: 100%;
	height: 16px;
	clear: both;
}
div.news_date {/*Новости*/
	color: #c2151d;
	font-size: 11px;
}
div.news_tema, div.news_tema a {/*Новости*/
	color: #8b7f64;
	font-size: 12px;
}
ul {
	list-style-type: disc;
	color: #a81219;
}
div.plashka_zag { /*Левый блок плашка заглавие*/
	color: #c3b188;
	font-size: 18px;
	padding-top: 15px;
	line-height: 20px;
}
a.small {
	color: #a81219;
	font-size: 10px;
	font-weight: normal;
}
.sort_table {
	margin-top: 10px;
	background-color: White;
	border: 1px solid #3f2614;
	PADDING: 5px;
}
td.sort_table li{
	color: #8b7f64;
}
div.page_nava {
	padding: 0px;
	height: 30px;
	color: #c3b188;
	clear:both;
	font-size: 11px;
}
div.page_nava div {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.page_nava div span{
	color: #dad6cb;
	font-size: 11px;
}
div.page_nava a {
	color: #c3b188;
	font-size: 11px;
}
#calendar {
	background-color: #120600;
	padding: 10px;
	border: 1px solid #3f2614;
	font-size: 12px;
	color: #8b7f64;
}
#calendar a {
	color: #8b7f64;
	font-size: 12px;
}
#allspec {
	background-color: #120600;
	padding: 10px;
	border: 1px solid #3f2614;
}
#allspec div {
	color: #8b7f64;
	margin-bottom: 5px;
}
a.link {
	color: #a81219;
}
div.priceLink{
	position: absolute;
	margin-left: 476px;
	margin-top: 3px;
}
* html div.priceLink{
	position: absolute;
	margin-left: 239px;
}
#allspec a {
	color: #8b7f64;
}
#allspec b {
	color: #c3b188;
}
table.vendorDispClass{
	margin-top: 10px;
}
table.vendorDispClass select{
	float: left;
	margin-bottom: 2px;
	margin-right: 5px;
	border: 1px solid #251b16;
	background-color: #dad6cb;
	height: 20px;
}
input.input_page_list{
	border: 1px solid #f5e9e9;
	background-color: #dad6cb;
}
#allspec_page_list {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(images/furniture_23.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#allspec_page_list div {
	color: #dad6cb;
	margin-bottom: 5px;
}
#allspec_page_list a {
	color: #b8a680;
}
#allspec_page_list input, #allspec_page_list td select {
	font-size: 12px;
}
table.catalogOptionTable1{
	width: 100%;
	background-image: url(images/furniture_23.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 20px;
	height: 32px;
	padding-top: 3px;
	padding-bottom: 5px;
}
table.catalogOptionTable2{
	width: 100%;
	background-image: url(images/furniture_23.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-top: 4px;
	height: 32px;
	padding-top: 5px;
	padding-bottom: 5px;
}
td.catOptionTD{
	width: 465px;
}
.page_nav_top{
	font-size: 12px;
	color: #dad6cb;
}
.page_nav_top a{
	font-size: 12px;
	color: #c3b188;
}
.page_nav_top a:link {
	text-decoration: none;
}
.page_nav_top a:visited {
	text-decoration: none;
}
.page_nav_top a:hover {
	text-decoration: none;
}
.page_nav_top a:active {
	text-decoration: none;
}
.page_nav_top b{
	background-color: #861317;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 4px;
	padding-left: 4px;
}
.divSortPageList{
	font-family: Arial;
	font-size: 12px;
	color: #dad6cb;
	width: 138px;
}
.spanSortPageList{
	font-family: Arial;
	font-size: 12px;
	color: #dad6cb;
}
.spanSortPageList a{
	font-family: Arial;
	font-size: 12px;
	color: #b8a680;
}
#allspecwhite {
	background-color: #120600;
	border: 1px solid #3f2614;
	margin-top: 10px;
	margin-bottom: 10px;
	PADDING: 5px;
}
.sortActiv {
	font-weight: bold;
}
input.ok {
	background-color: #120600;
	border-width: 1px;
	border-color: #3f2614;
	border-style: solid;
	font-size: 12px;
	color: #8b7f64;
	margin-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}
input, select {
	font-family: Calibri, Arial;
	font-size: 12px;
	font-weight: 600;
	color: #120600;
}
textarea{
	font-family: Calibri, Arial;
	font-size: 12px;
	font-weight: 600;
	color: #120600;
}
.sort_name_bg {
	background-color: #7d0d13;
	color: white;
}
.sort_table {
	font-size: 11px;
	margin-top: 10px;
	background-color: #120600;
	color: #8b7f64;
}
.sort_table b {
	color: #dad6cb;
}
div.productLine{
	background-image: url(images/furniture_23.gif);
	background-repeat: repeat-x;
	background-position: left 15px;
	height: 40px;
}
table.cartTable{
	width: 600px;
}
td.cartTableTd1{
	width: 350px;
}
td.cartTableTd2{
	width: 15px;
}
td.cartTableTd3{
	width: 235px;
}
#fotoload a{
	color: #a81219;
}
#fotoload div strong{
	color: #a81219;
}
h1.cartName{
	font-family: Arial;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #dad6cb;
	display: block;
	background-image: url(images/furniture_23.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin: 0px;
	padding: 0px 0px 15px 0px;
}
div.optionsDispSelect{
	padding-top: 15px;
	padding-bottom: 20px;
}
div.optionsDispSelect select{
	width: 230px;
	margin-bottom: 6px;
}
span.productPriceRub{
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #dad6cb;
}
div.productPrice{
	font-family: Arial;
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #a81219;
	padding-top: 6px;
	padding-bottom: 6px;
}
div.productPrice span{
	font-family: Arial;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #dad6cb;
}
span.productSklad{
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #dad6cb;
}
div.productBay-1{
	padding-top: 12px;
	padding-bottom: 6px;
}
div.productBay-2{
	float: left;
	display: inline;
	padding-right: 14px;
}
div.productBay-3 span.sp1{
	display: block;
	padding-bottom: 2px;
}
div.productBay-3 span.sp1 a{
	font-family: Arial;
	font-size: 11px;
	line-height: 13px;
	color: #c3b188;
}
div.productBay-3 span.sp2 a{
	font-family: Arial;
	font-size: 11px;
	line-height: 13px;
	color: #c3b188;
}
div.productCompare{
	clear: both;
	padding-top: 3px;
	padding-bottom: 10px;
}
div.parentList{
	padding-top: 6px;
}
div.parentList select{
	width: 230px;
	margin-bottom: 6px;
}
div#wpcumuluscontent{
	text-align: center;
}
#cartwindow {
	position:absolute;
	left:10px;
	top:0;
	visibility:hidden;
	width: 250px;
	height: 68px;
	Z-INDEX: 2;
	padding:10px;
	border: solid;
	border-width: 1px;
	border-color:#331f0f;
	FILTER: revealTrans (duration=1, transition=4);
	background-image: url(images/furniture_02.gif);
}
#cartwindow * {
	color: #c3b188;
	font-size: 11px;
}
#comparewindow {
	position:absolute;
	left:10px;
	top:0;
	visibility:hidden;
	width: 250px;
	height: 68px;
	Z-INDEX: 2;
	padding:10px;
	border: solid;
	border-width: 1px;
	border-color:#331f0f;
	FILTER: revealTrans (duration=1, transition=4);
	background-image: url(images/furniture_02.gif);
}
#comparewindow * {
	color: #c3b188;
	font-size: 11px;
}

/*Стили кнопок табов*/

table.tabTable{
	height: 33px;
	width: 600px;
	border: 1px solid #331f0f;
	background-color: #000000;
	margin-top: 30px;
	margin-bottom: 12px;
}
td.tabTD{
 
}
div.tabPanel1_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel2_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel3_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel4_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel5_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel6_on {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	background-color: #7d0d13;
	padding: 10px 26px 10px 26px;
	display: inline;
	float: left;
}
div.tabPanel1_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanel2_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanel3_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanel4_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanel5_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanel6_off {
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	color: #c3b188;
	cursor: pointer;
	padding: 10px 19px 10px 19px;
	display: inline;
	float: left;
}
div.tabPanelSect_on {
	color: #c3b188;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}
div.tabPanelSect_off { display: none; }
.borderForm{
	background-color: #000000;
	border: 1px solid #331f0f;
	font-family: Arial;
	font-size: 12px;
	line-height: 14px;
	color: #c3b188;
}