<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Хиты</name>
    <faqlink>http://faq.phpshop.ru/page/hit.html</faqlink>
    <description>Выводит товары, отмеченные хитами.</description>
    <category>sale,form</category>
    <adminmenu>
        <title>Хиты</title>
        <capability>true</capability>
    </adminmenu>
</module>