<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Pechkin</name>
    <faqlink></faqlink>
    <description>Модуль для сервиса рассылки Pechkin-Mail.</description>
    <icon>../img/email.png</icon>
    <category>form,sale</category>
    <sign>1437996377</sign>
    <status>new</status>
    <adminmenu>
        <title>Печкин почта</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>../img/email_edit.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/pechkin/admpanel/adm_module.php',630,530);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Экспорт адресов</podmenu_name>
            <podmenu_icon>../img/email_go.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/pechkin/admpanel/adm_module_export.php',630,570);</podmenu_action>
        </podmenu>
        <podmenu>
            <podmenu_name>Список автозагрузок</podmenu_name>
            <podmenu_icon>../img/email_open_image.png</podmenu_icon>
            <podmenu_action>javascript:window.location.replace('?plugin=pechkin')</podmenu_action>
        </podmenu>
    </adminmenu>
</module>