<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.4</version>
    <name>PickPoint</name>
    <description>Модуль пунктов выдачи товара PickPoint</description>
    <category>delivery</category>
    <adminmenu>
        <title>PickPoint</title>
        <capability>true</capability>
    </adminmenu>
</module>