<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>PickPoint</name>
    <description>Модуль пунктов выдачи товара PickPoint</description>
    <icon>icon.png</icon>
    <category>order</category>
    <adminmenu>
        <title>PickPoint</title>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/pickpoint/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
</module>