<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>CRM Битрикс24</name>
    <faqlink>http://faq.phpshop.ru/page/bitrix24.html</faqlink>
    <description>Синхронизация с CRM системой Битрикс24</description>
    <sign>1551185935</sign>
    <category>crm</category>
    <adminmenu>
        <title>CRM Битрикс24</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.bitrix24</podmenu_action>
        </podmenu>
    </adminmenu>
</module>