#php_flag register_globals off

<files *.htm>
Order Deny,Allow
Deny From All
</files>
<files *.xls>
Order Deny,Allow
Deny From All
</files>
<files *.doc>
Order Deny,Allow
Deny From All
</files>