<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.4</version>
    <name>Seo Url</name>
    <description>Модуль Seo ссылок</description>
    <icon>icon.png</icon>
    <category>seo</category>
    <adminmenu>
        <title>SEO Url</title>
        <podmenu>
            <podmenu_name>Настройка SEO</podmenu_name>
            <podmenu_icon>icon.png</podmenu_icon>
            <podmenu_action>javascript:miniWin('../modules/seourl/admpanel/adm_module.php',510,450);</podmenu_action>
        </podmenu>
    </adminmenu>
    <history>
        <update>
            <date>22.04.2013</date>
            <content>Добавлен автоматический 301 редирект с коротких урлов</content>
        </update>
        <update>
            <date>12.02.2013</date>
            <content>Исправлена ошибка генератора урлов</content>
        </update>
    </history>
</module>