<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>Robokassa</name>
    <description>Прием оплат через Robokassa в соответствии с 54-ФЗ.</description>
    <category>payment</category>
    <sign>1545904926</sign>
    <faqlink>http://faq.phpshop.ru/page/robokassa.html</faqlink>
    <adminmenu>
        <title>Robokassa</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.robokassa</podmenu_action>
        </podmenu>
    </adminmenu>
</module>