body{
    SCROLLBAR-FACE-COLOR: #ececec; 
    SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2; 
    SCROLLBAR-SHADOW-COLOR: #c2c2c2; 
    SCROLLBAR-3DLIGHT-COLOR: #ececec; 
    SCROLLBAR-ARROW-COLOR: #19376A; 
    SCROLLBAR-TRACK-COLOR: #ffffff; 
    SCROLLBAR-DARKSHADOW-COLOR: #ececec; 
    SCROLLBAR-BASE-COLOR: #ffffff
    padding:0px;
    margin:0px;
    background-color:#FFFFFF;
    font-family: Tahoma;
    font-size: 11px;
    line-height: 13px;
    color:black;
}
img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}

img.imgOn {
	border-color: #A12622;
	border-style: solid;
	border-width: 1px;
}

div.comment_list{/*отзывы*/
	margin-top: 10px;
	background-color: #F2F3F5;
	margin-bottom: 10px;
	BORDER: #97989C 1px dashed; 
   PADDING: 5px; 
}

div.comment_user{
	padding: 3px;
	background: #389238;
	color: white;
}

div.comment_user a{
	color: white;
}


ul{
	list-style-type: square;
	color: #389238;
}

.sort_name_bg{
   background-color: #F0F1F1;
}
.sort_table{
   margin-top: 10px;
   background-color: White;
   BORDER-RIGHT: #d3d3d3 1px dashed;
   PADDING-RIGHT: 5px;
   BORDER-TOP: #d3d3d3 1px dashed;
   PADDING-LEFT: 5px;
   PADDING-BOTTOM: 5px;
   BORDER-LEFT: #d3d3d3 1px dashed;
   PADDING-TOP: 5px;
   BORDER-BOTTOM: #d3d3d3 1px dashed;
}

#cartwindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
}

* HTML #cartwindow{/* Только для браузера IE */
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}


.menu_bg{
   background-image: url(images/menu_bg_4.gif);
   background-repeat: no-repeat;
   HEIGHT: 28px;
   width: 120px;
   text-align: center;
}
.menu_bg a.navigation{
   color: white;
}
#navigation{
   background-image: url(images/1_04.gif);
   background-repeat: no-repeat;
   width:534px;
   height:35px;
}

a.navigation{
   text-decoration: none;
    color:#3d6c8e;
}
a.navigation:hover{
   color: #000000;
   text-decoration: none;
}
#header_1{
   background-image: url(images/header_01_4.gif);
   background-repeat: no-repeat;
   width: 589 px;
   height: 198 px;
}

#header_2{
   background-image: url(images/header_02_4.jpg);
   background-repeat: no-repeat;
   width: 415px;
   height: 198px;
   color: white;
   
}
#header_3{
   background-repeat: no-repeat;
   width: 1004px;
   height: 26px;
   padding-left:25px;
}
#header_4{
   background-image: url(images/header_04.gif);
   background-repeat: no-repeat;
   width: 408px;
   height: 137px;
}
#header_5{
   background-image: url(images/header_05.gif);
   background-repeat: no-repeat;
   width: 275px;
   height: 137px;
   padding-left:30px;
}
#header_6{
   background-image: url(images/header_06.gif);
   background-repeat: no-repeat;
   width: 321px;
   height: 137px;
}
.zagb{
   color:fff;
   text-transform: uppercase;
   font-weight: bold;
}
#list{
   background-image: url(images/bg_list_1.gif);
   background-repeat: no-repeat;
   width: 696px;
   height: 27px;
   color: white;
   font-weight: bold;
   padding-left:20px;
   padding-top:5px;
   margin-bottom:10px;
}
#bglist{
   background-image: url(images/bg_list_1.gif);
   background-repeat: no-repeat;
   width: 100%;
   height: 6px;
   padding-top:5px;
   margin-bottom:10px;
}
#bglist_2{
   background-image: url(images/bg_list_2.gif);
   background-repeat: no-repeat;
   width: 696px;
   height: 27px;
   color: white;
   font-weight: bold;
   padding-left:20px;
   padding-top:5px;
   margin-bottom:10px;
}
#bg_catalog_1{
   height: 27px;
   padding-left:0px;
   padding-top:5px;
 /*  color:685403;*/
   color: #335433;
   text-transform: uppercase;
   font-weight: bold;
}
#bg_catalog_2{
   background-image: url(images/bg_catalog_1.gif);
   background-repeat: no-repeat;
   width: 275px;
   height: 6px;
}
#bg_catalog_3{

}

#bgmenu{
   background-image: url(images/bg_menu.gif);
   background-repeat: no-repeat;
   width: 270px;
   height: 25px;
   color: white;
   font-weight: bold;
   vertical-align: middle;
   padding-top: 6px;
   padding-left: 10px;
   text-transform:uppercase;
}

#bgcart{
   background-image: url(images/bg_cart.gif);
   background-repeat: no-repeat;
   width: 208px;
   height: 125px;
   padding-left:30px;
   padding-right:20px;
   padding-top:30px;
}

#bgfooter{
   background-image: url(images/bg_footer.gif);
   background-repeat: repeat-x;
   height: 92px;
   color: #9FA4A7;
   padding-top: 6px;
   padding-left: 10px;
}
#bgfooter td, bgfooter a {
   color: #9FA4A7;
}
.top{
   margin-top: 20px;
}
#top {
FILTER: Alpha(Opacity=40, FinishOpacity=40, Style=1, StartX=0, StartY=0, FinishX=88, FinishY=31);
}

td.setka{
    background-color: #D6D6D6;
}
a.product_name{
   color:#19376A;
   font-weight: bold;
   font-size: 12px;
}
#head_2{
   background-image: url(images/head_02.gif);
   background-repeat: no-repeat;
   WIDTH: 227px;
   HEIGHT: 327px;
   padding-left:35px;
   padding-top:25px; 
}

#catalog{
   background-image: url(images/catalog_line.gif);
   background-repeat: no-repeat;
   WIDTH: 289px;
   HEIGHT: 32px;
   font-weight: bold;
}

.black a{
   color:#676767;
}
div.catalog_forma{
   background-image: url(images/catalog_forma.gif);
   background-repeat: no-repeat;
   WIDTH: 275px;
   HEIGHT: 40px;
   font-weight: bold;
}
div.podcatalog_forma{
   background-image: url(images/podcatalog_forma.gif);
   background-repeat: repeat-y;
}

* HTML div.podcatalog_forma{ /* Только для браузера IE */
   background-image: url(images/podcatalog_forma.gif);
   background-repeat: repeat-y;
   WIDTH: 275px;
}

#block1{
   padding-left:10px;
   width: 321px;
}
#block2{
   padding-top:10px;
   padding-right:10px;
   padding-bottom:0px;
   width: 683px;
}

#bg_footer_1{
   background-image: url(images/bg_footer_1.gif);
   HEIGHT: 80px;
   width: 270px;
   background-repeat: repeat-x;
   padding-top: 15px;
   color: white;
   padding-left:30px;
}
#bg_footer_2{
   background-image: url(images/bg_footer_2.gif);
   HEIGHT: 66px;
   width: 830px;
   background-repeat: repeat-x;
   padding-left:20px;
   padding-top:5px;
   color: #afd3af;
}

#bg_footer_2 a{
   color: #afd3af;
}

#bg_footer_3{
   background-image: url(images/bg_footer_3.gif);
   background-repeat: no-repeat;
   HEIGHT: 66px;
   width: 174px;
   color: white;
   
}
#order a{
   color:003399;
   font-weight: bold;
}
.bgprice{
   background-color: #F0F0F0;
}
#allspec{
   margin-top:10px;
   background-color: #F8F8F8;
   BORDER-RIGHT: #d3d3d3 1px dashed; 
   PADDING-RIGHT: 5px; 
   BORDER-TOP: #d3d3d3 1px dashed; 
   PADDING-LEFT: 5px; 
   PADDING-BOTTOM: 5px; 
   BORDER-LEFT: #d3d3d3 1px dashed; 
   PADDING-TOP: 5px; 
   BORDER-BOTTOM: #d3d3d3 1px dashed;
   width: 695px;
}
#allspecwhite{
   margin-top:10px;
   BORDER-RIGHT: #d3d3d3 1px dashed; 
   PADDING-RIGHT: 5px; 
   BORDER-TOP: #d3d3d3 1px dashed; 
   PADDING-LEFT: 5px; 
   PADDING-BOTTOM: 5px; 
   BORDER-LEFT: #d3d3d3 1px dashed; 
   PADDING-TOP: 5px; 
   BORDER-BOTTOM: #d3d3d3 1px dashed;
}

li.done{
   color: green;
   font-weight: bold;
}
.sortActiv{
    font-weight: bold;
}
div.opros{
    background: #D72300;
    height: 10px;
    background-repeat: no-repeat;
}

td {
   /*vertical-align: top;*/
    font-family:Tahoma;
    font-size:11px;
    color:#424242;
}
td.center{
   vertical-align: middle;
}

form
{
    margin:0px;
}

.dark
{
    color:#595959;
    font-weight:bold;
    text-transform:uppercase;
}
a{
   color:#424242;
}
.red{
   color: #003399;
}
.red:hover{
   color: #FFAE00;
}
.gray{
   color: #A2A2A2;
}
.gray:hover{
   color: #FFAE00;
}
a.black
{
    color:#676767;
    text-decoration:none;
}
a.black:hover
{
   color: #181818;
   text-decoration: underline;
}
a.link
{
   color: #181818;
   text-decoration: underline;
}
a.link:hover
{
   color: #003399;
   text-decoration: underline;
}
.black
{
    color:#181818;
}
a.b{
   color:#19376A;
}

.white{color: white;}

a.white{
   color: white;
   font-weight: bold;
}
a.white:hover{
   color: white;
}
.price
{
    color:#ff1b1b;
   font-size: 13px;
}
.price2{
    color:#C34046;
}
H1{
    font-size: 18 px;
    text-transform: none;
   color:#003399;
}
H2{
    font-size: 18px;
    text-transform: none;
   color:#685403;
   
}
select{
    font-size: 11px;
}
input{
   font-size: 11px;
}
input.search{
   font-size: 14px;
   width: 300px;
   height: 22px;
   border-style: solid;
   border-color: #A6A4A4;
   border-width: 1px;
}
input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}

#mm {
    margin: 0 0 0 320px;
    height: 50px;
}

#mm img {
    border: none;
    margin: 5px;
}

.mm_item {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.mm_spacer {
    margin-top: 130px;
    padding-top: 130px;
}