<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Product Option</name>
    <faqlink>http://faq.phpshop.ru/page/product-option.html</faqlink>
    <description>Модуль дополнительных полей товара.</description>
    <category>form,develop</category>
    <reformal>669990</reformal>
    <adminmenu>
        <title>Product Option</title>
        <capability>true</capability>
    </adminmenu>
</module>