html, body {
    border:0;
    height:100%;
    margin:0px;
    padding:0px
}

body
{
    background: #B6CEEE;
    font:		MessageBox;
    font:		Message-Box;
    height:100%;
    margin:0px;
    padding:0px
}


.serial_done{
    background: #66ff99;
}

.serial_fail{
    background: #EEA9A9;
}

.menu_line{
    background: #4D88C8;
}


a.phpshop{
    text-decoration:none;
    padding-right:20;
    color:#4D88C8;
    font-size:15px;
}

* HTML a.phpshop{ /* Только для браузера IE */
                  text-decoration:none;
                  font-weight: bolder;
                  padding-right:20;
                  color:#4D88C8;
                  font-size:15px;
}

#phpshop{
    width:100%;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='white', Positive='true');
}

a.none{
    text-decoration: none;
}
a.none:hover{
    text-decoration: underline;
}
table.sortable a.sortheader {
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
#title{
    border-bottom: outset;
    border-bottom-width: 1px;
}
#footer{
    border-top: outset;
    border-top-width: 1px;
}

#tups{
    height: 20px;
    border-top: outset;
    border-top-width: 0px;
    border-left: outset;
    border-left-width: 1px;
    border-right: outset;
    border-right-width: 1px;
    font-family: MS Shell Dlg;
    padding: 5px;
    border-bottom: outset;
    border-bottom-width: 1px;
}
.butoff{
    text-align: center;
    width:17px;
    height:17px;
    border: solid;
    border-color: #B6CEEE;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
}
.butclick{
    border: solid;
    border-color: #4D88C8;
    background-color: #8893B1;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
}
.buton{
    width:17px;
    height:17px;
    border: solid;
    border-color: #EBAF32;
    background-color: #F8EAB9;
    border-width: 1px;
    cursor: pointer;
    padding: 2px;
}
#tips{
    height: 20px;
    border-top: outset;
    border-top-width: 1px;
    border-left: outset;
    border-left-width: 1px;
    border-right: outset;
    border-right-width: 1px;
    font-family: MS Shell Dlg;
    padding: 3px;
    padding-left: 5px;
}

#taps{
    padding: 3px;
    border-bottom: inset;
    border-bottom-width: 1px;
}
#tabs{
    padding: 3px;
    border: outset;
    border-width: 1px;
    background: ButtonFace;
    height: 20px;
}
#pane{
    border: 1px;
    border-style: outset;
    background: ButtonFace;
    text-align: center;
    padding: 3;
}

button.pane{
    width:100%;
}

.row_show_on td{
    background: #F8EAB9;
    cursor: help;
    padding:5px;
}

.row_show_off td{
    background: #ffffff;
    cursor: help;
    padding:5px;
}


#rol td{
    padding: 3;
    /*cursor: pointer;*/
    background: White;
}

tr.row td {
    padding: 5px;
    background: White;
    cursor: help;
}
tr.row3 {
    background: White;
    cursor: help;
}
.full{
    width: 100%;
}
td.forma{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}
a.blue{
    color:#0A246A;
}
a{
    color: #000;
}
a:hover{
    color: #4D88C8;
}
div, input, button, select, fieldset, textarea, td, th{ 
    font-family: MS Shell Dlg;
    font-size: 8pt;
}
.logo{
    color: #000;
    font-size: 7pt;
}
.title { 
    background: #DDDDFF;
    color: 000;
    font-weight: bold;
    font-size: 120%;
    padding: 3px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    letter-spacing: 2px;}

.row2{
    background: white;
    cursor: pointer;
}
input.but{
    width: 7em;
    height: 2.2em;
    font-family: MS Shell Dlg;
    font-size: 8pt;
    margin-top:5;
}
button{
    width: 8em;
    height: 2.2em;
    font-size: 8pt;
    margin-top:0;
}

button.option{
    background-image: url(../icon/page_edit.gif);
    background-repeat: no-repeat;
    width: 8em;
    height: 2.2em;
    font-size: 8pt;
    margin-top:0;
    padding-left:15px;
    cursor: pointer;
}
button.help{
    background-image: url(../icon/btn_help[1].gif);
    background-repeat: no-repeat;
    padding-left:15px;
    margin-top:5;
    cursor: pointer;
}
.tip1{
    filter:alpha(opacity=50);
}
.buttonSh{
    height:17px;
    border: solid;
    border-color: #4D88C8;
    background-color: #C0D2EC;
    border-width: 1px;
    cursor: hand;
}
form{
    margin:0;
    padding:0;
}
