<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.5</version>
    <name>Яндекс.Касса</name>
    <faqlink>http://faq.phpshop.ru/page/yandex-kassa.html</faqlink>
    <description>Прием оплат через Яндекс.Касса в соответствии с 54-ФЗ.</description>
    <category>yandex,payment</category>
    <sign>1579027171</sign>
    <status>update</status>
    <adminmenu>
        <title>Яндекс.Касса</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.yandexkassa</podmenu_action>
        </podmenu>
    </adminmenu>
</module>