
.chat-modal-content{
    height:100%;
    width:100%;
    overflow:hidden;
    border: 0px;
    margin:0px;
}

/* 
* PHPShop Editor 
*/
.editor_var{
    overflow: hidden;
}

.editor_empty{
    color:#6C809A;
    text-align: center;
    padding:5px;
    background: #FFE785;
    border: dashed 1px #6C809A;
    border-radius:4px;
    margin:3px;
}
.editor_empty a{
    text-decoration:none !important;
    color:#6C809A !important;
}

#phone{
    position: absolute;
    float: left;
    right: 350px;
    top:10px;
    width: 300px;
    font-size: 20px !important;
    font-weight: normal !important;
    color: #8394AA !important;
}

.sort-color{
    width:25px !important;
    height:25px !important;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.filter-color{
    width:20px;
    height:20px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border: solid 1px #CCC;
 
}

.image-3 img{
    max-width: 200px;
}

.image-2 img{
    max-width: 300px;
}

.progress {
    background: #fff url(images/zoomloader.gif) no-repeat center;
    padding:10px;
}

.ajaxsearch{
    top: 35px !important;
    right: 0px !important;
}


.bootstrap-theme{
    width:30px;
    height:30px;
    background:#CCC;
    float:left;
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:3px;
    cursor:pointer;
}

.bootstrap-theme:hover{
    box-shadow: 0 0 5px #BFDBFF;
}

#oneclick_mod_name{
    width: 90px;
}

#oneclick_mod_tel{
    width: 90px;
}

#returncall_mod_time_start{
    width: 25px !important;

}

#returncall_mod_time_end{
    width: 25px !important;
}

.compare_list img{
    max-width: 70px;
}

#image{
    max-width:330px;
}

img.template{
    border: solid 1px #CCC;
    padding: 3px;
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:3px;
    cursor:pointer;
}

img.template:hover{
    border: solid 1px #BFDBFF;
    box-shadow: 0 0 5px #BFDBFF;
}

#pri table {
    border-collapse:collapse;
    margin:0px;
    padding:0px;
    width:100%
}
tr.bgprice td b {
    color: #222222;
}
#pri table td {
    border:1px #ccc solid;
    border-collapse:collapse;
}
#IMGloader {
    min-height:320px;
    _height:320px;
}
.foto {
    margin:0px auto
}
.bod {
    background:url(images/background.png) top left repeat;
    height:100%;
}

.usbg {
    background:url(images/us_bg.png) top left no-repeat;
    width:305px;
    height:270px;
    text-indent:0px;
}
.usf1 {
    background: url(images/usf1.gif) top left no-repeat;
    height:29px;
    width:210px;
    border:0px;
    color:#ababab;
    font-size:12px;
    padding-left:29px;
    line-height:28px;
}
.usf2 {
    background: url(images/usf2.gif) top left no-repeat;
    height:29px;
    width:210px;
    border:0px;
    color:#ababab;
    font-size:12px;
    padding-left:29px;
    line-height:28px;
}
.usb {
    background:url(images/usb.gif) top left no-repeat;
    border:0px;
    cursor:pointer;
    width:71px;
    height:29px;
}
.forg {
    background:url(images/close.gif) right center no-repeat;
    color:#9b9b9b;
    padding-right:21px;
}
.usbg a {
    color:#626262!important;
}
.usbg img {
    border:0px;
}


.custom_box_left #custom_box_icon, .custom_box_right #custom_box_icon {
    background-color: #6c809a;
}
.custom_box_right .custom_box, .custom_box_left .custom_box {
    border: 4px solid #6c809a;
}







.wrapper {width: 980px;margin: 20px auto 25px; background-color:transparent!important; }
@media (max-width: 767px) {
    .wrapper {width: auto;margin: 20px 10px 15px}
}
@media (min-width: 768px) and (max-width: 979px) {
    .wrapper {width: 744px;margin: 20px auto 25px}
}





h1, h2, h3, h4, h5, h6, .welcome, .box-category-home > div.span2 a, .box-category-home > div.span3 a, .product-info .description span.stock, .commentList li .name, .commentList li .name a {color: #B09F84;}


body, label, .dropdown_l li a, .box .box-content .box-content-information a, .box-product .l_column .name a, .box-category > ul > li > a, .box-category > ul > li a.active, .box-category > ul > li ul > li > a, .box-category-home > div.span2 > div > ul > li > a, .box-category-home > div.span3 > div > ul > li > a, .box-manufacturers-home > div.span2 > div > ul > li > a, .box-manufacturers-home > div.span3 > div > ul > li > a, .product-list .name a, .product-grid .name a, .product-grid .description, .product-name h1, .product-info .description a, .product-info .wishlist-compare a, .product-info .review a, .product-info a, .product-related .name a, .htabs a, .tags a, .es-carousel .name a, .blogCategories li a, .blogModule .title, .blogModule li a, .articleHeader span a, .articleBottom #articleRelated a {color: #545454;}
.breadcrumb a, .category-list a, table.form > * > * > td {color: #545454!important;}

/* Ссылка на товар в кратком описании  */
.name a{
    color: #545454!important;
}

#t-header #search input, .pagination .results, .help, .box-category-home > div.span2 > div.all a, .box-category-home > div.span3 > div.all a, .product-grid .wishlist a, .product-grid .compare a, .product-list .wishlist a, .product-list .compare a, .product-list .description, .product-info .description span, .product-info .cart, .product-info .cart div > span, .product-info .cart .minimum, #content .content .reviews-left span, .breadcrumb, .product-info .review, .blogModule .info, .articleHeader span, .updateInfo, .blogModule li, #commentRespond .note, .commentList li .created {color: #A3A3A3;}


a b, .pagination .links b, .product-custom-block a {color: #B09F84;}

a, a:visited {color: #B09F84;}

.es-nav span:hover, .product-related .bx-wrapper div.bx-next:hover, .product-related .bx-wrapper div.bx-prev:hover, #toTopHover, .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover, .camera_prevThumbs:hover, .camera_nextThumbs:hover, .camera_prev:hover, .camera_next:hover, .camera_commands:hover, .camera_thumbs_cont:hover, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span, .flex-control-paging li a.flex-active {background-color: }


a:hover {color: #005580!important;}


.product-list .wishlist, span.wishlist, .product-grid .wishlist {background: url(images/wishlist-1.png) no-repeat scroll left transparent;}
.product-list .compare, span.compare, .product-grid .compare {background: url(images/compare-1.png) no-repeat scroll left transparent;}



#column-left, #column-right {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

#column-left .mini-cart-info #visualcart td.quantity,td.total{
    display:none;
}


#column-left input{
    width: auto;
}


#column-left input.returncall_mod_time_start,#column-left  input.returncall_mod_time_end
{
    width: 27px;
}

#column-left textArea{
    width: 101px;
}
#column-left input.returncall_mod_send{
    width: 110px;
}

.box .box-heading {
    background-color: #efeeef!important;
    background-image: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.box .box-heading h2, .boxPlain .box-heading span {color: #545454;}

.product-tags {
    padding: 15px 10px;
    text-align: left;
}
.product-tags div {
    margin-bottom: 6px;
    float: left;
}
.product-tags div a {
    background: #F7F7F7;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    font-size: 11px;
    color: #B09F84;
}

.box {
    background-color: #FFFFFF!important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.box-category > ul > li + li, .box-product > .l_column + .l_column, .box-product ol li + li {
    border-top: 1px solid #FFFFFF!important;
}


#content, #content-home, #content-blog {

    background-color: #FFFFFF!important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.product-list > div + div, .product-list > div + div.span-first-child, .pagination, .product-filter {
    border-top: 1px solid
        #F6F6F6!important;
}
.product-filter, #content .l_column, #content .box .box-heading h2, .bestseller h2, .featured h2, .latest h2, .special h2, .articleCat {
    border-bottom: 0px solid
        #F6F6F6!important;
}
.product-compare, .box-category-home > div.span2, .box-category-home > div.span3 {
    border-left: 1px solid #F6F6F6;
}

.product-info .left .image, .product-info .image-additional img {border: 1px solid #F6F6F6;}
.product-info .left .image {
    width: 300px;
    text-align: center;
    display: table;
}
.product-info .left .image>a{
    text-align: center;
}
.product-info .left .image>img{
    float: center;
}
.product-manufacturer-logo-block, .product-related, .product-custom-block, .product-share, .right-sm-tags {
    border-bottom: 1px solid #F6F6F6!important;
}
.product-manufacturer-logo-block, .product-related > div + div {border-top: 1px solid #F6F6F6;}
@media screen and (max-width: 767px) {
    .product-compare {border-left: none;}
}
.box-category-home > div.span-first-child {border: none;}
.box-manufacturers-home > div.span2, .box-manufacturers-home > div.span3 {
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
    border-right: 1px solid #F6F6F6;
}
.box-manufacturers-home > div.span-first-child {
    border: 1px solid #F6F6F6;
}
#content-home .span {width: 940px;margin-left: 20px;}
.box-product > div {width: 200px!important;}
.box-product > div > div.pbox, .es-carousel ul li div.pbox {padding: 5px 4px 10px;}
.es-carousel table div.pbox {padding: 5px 4px 10px;}
.pbox { position:relative;
}
.es-carousel-banners ul li {margin: 5px 19px 20px 0!important;}
@media (max-width: 767px) {
    #content-home {float: left;width: 100%;}
    #content-home .span {width: auto; max-width: 100%;margin-left: 10px;margin-right: 10px;clear: both;}
    .es-carousel-wrapper, .es-carousel-banners {max-width: 243px;}
    .es-carousel ul li {margin-right: 0!important;}
}
@media (min-width: 768px) and (max-width: 979px) {
    #content-home .span {width: 705px; margin-left: 10px;}
    .box-product .span3 {margin-left: 13px;}
    .es-carousel ul li {margin-right: 12px!important;}
}
.camera_wrap, .flexslider {margin: 0px 0 20px !important;}
.ei-slider {margin: 0px auto 70px;}




.price, .total {color: #545454!important;}
.price-old, .wishlist-info tbody .price s {color: #A3A3A3!important;}
.price-new {color: #EE3963!important;}
.price-tax, .product-info .price .reward, .product-info .price .discount {color: #A3A3A3!important;}


.price-old {
    margin-left: 5px; }

a.button {
    background-color: #8394aa;
    border-color: #8394aa;
    color: #FFFFFF;
}

input.button {
    background-color: #8394aa;
    border-color: #8394aa;
    color: #FFFFFF;
}

a.button:hover {
    background-color: #8394aa;
    border-color: #6f99a8;
    color: #FFFFFF!important;
}

input.ok {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    color: #545454;
}
input.ok:hover {
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    color: #545454;
}

input.button:hover {
    background-color: #8394aa;
    border-color: #6f99a8;
    color: #FFFFFF!important;
}

.ei-title h4 a.button:hover {
    background-color: #8394aa;
    border-color: #6f99a8 #5CA9C4 #5CA9C4 #559CB5;
    color: #FFFFFF!important;
}
a.button-exclusive, input.button-exclusive {
    background-color: #8394aa;
    border-color: #8394aa #8394aa #8394aa #8394aa;
    color: #FFFFFF!important;
}
a.button-exclusive:hover, input.button-exclusive:hover {
    background-color: #8394aa;
    border-color: #6f99a8 #5CA9C4 #5CA9C4 #559CB5;
    color: #FFFFFF!important;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
}



#header {
    background-image: none;
    background-position: top center!important;
    background-repeat: repeat!important;
    background-attachment: scroll!important;


}



#t-header #logo {margin-left: 25px; padding-top:45px!important;}

/* Фон шапки*/
#t-header {
    min-height: 115px;
    background-color:#fff;
}
#t-header #search {
    top: 95px;
    right: 350px;
    /* width: 250px; */
}
@media (max-width: 767px) {
    #t-header #logo {margin-left: inherit;}
    #t-header #search {top: 5px;right: inherit;width: 261px}
}
@media (min-width: 768px) and (max-width: 979px) {

    #t-header .links a + a {margin-left: 7px;padding-left: 17px}
    #t-header #search {right: 270px;width: 200px;}


}



#t-header #search input {
    font-size: 13px;
    font-weight: normal;
}
#t-header #search input {border-color: #DFDFDF;}


#t-header .links a {color: #545454; height:20px;}
.user-forma a {padding-right:5px!important;}
#t-header .links a:hover {color: #6b809a!important;}
#t-header .links a + a {border-left: 1px solid #E3E3E3; padding-left:15px;}

.user-links ul{
    list-style-type: none;
}

#t-header #cart .heading a span {color: #8394aa!important;}
#t-header #cart.active .heading a span {color: #B09F84!important;}
#t-header #cart .heading a > span {
    background: url(images/icon_cart_1.png) 96% 50% no-repeat;
    padding: 10px 40px 10px 0;
}


.dropdown_l .selected_l {color: #545454;}


.dropdown_l ul, #t-header #cart .content {
    background: #FFFFFF;
    border-top: 3px solid #333333;
}



#menu {

    background-color: #6c809a!important;
    background-image: none;
    background-repeat: repeat!important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
}
@media (min-width: 768px) and (max-width: 979px) {
    #menu {
        background-image: none;
        background-repeat: repeat!important;
    }
}
#menu_oc > ul > li > a, #menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a, #menu_brands > ul > li > a, .menu_links a, #menu_informations > ul > li > a, #menu_your_account > ul > li > span, #menu_custom_block > ul > li > a, #menu_contacts > ul > li > a, #menu #homepage a, .navbar .brand {
    font-size: 15px!important;
    font-weight: normal!important;

    text-transform: none;
}

.navbar-inner {

    background-color: #6c809a ;
    border-color: #6c809a;
}



#menu #homepage {
    background-color: #112946!important;
    background-image: url(images/main.gif);
    width: 48px;
    height: 38px;
    margin-left: 0px;
}

#menu #homepage a {
    color: #FFFFFF!important;
}
#menu #homepage a:hover {
    color: #FFFFFF!important;
}

#menu > ul > li, #menu_oc > ul > li {
    background-color: #354962!important;
}

#menu-category-wall > ul > li {
    background-color: #354962!important;
}

#menu > ul > li:hover, #menu_oc > ul > li:hover {
    background-color: #8394aa!important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu_oc > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu > ul > li > span, #menu-category-wall > ul > li > a, #menu > ul > li > a, #menu_oc > ul > li > a, .navbar .brand {
    color: #FFFFFF!important;
}
#menu > ul > li > span:hover, #menu-category-wall > ul > li > a:hover, #menu > ul > li > a:hover, #menu_oc > ul > li > a:hover {
    color: #FFFFFF!important;
}

div.menu-category-wall-sub-name a {color: #545454!important;}


#menu_brands > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu_brands > ul > li > a {
    color: #FFFFFF!important;
}
#menu_brands > ul > li > a:hover {
    color: #FFFFFF!important;
}



#menu .menu_links {
    background:url(images/separator.gif); background-repeat: no-repeat; background-position: right 10px;
}

#menu .menu_links:hover, #menu_informations > ul > li:hover, #menu_brands > ul > li:hover, #menu-category-wall > ul > li:hover {
    background-color: #8394aa!important;
}

#menu .menu_links a {
    color: #FFFFFF!important;
}
#menu .menu_links:hover a {
    color: #FFFFFF!important;
}


#menu_informations > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu_informations > ul > li > a {
    color: #FFFFFF!important;
}
#menu_informations > ul > li > a:hover {
    color: #FFFFFF!important;
}



#menu_your_account > ul > li {
    background-color: #6c809a!important;
}

#menu_your_account > ul > li:hover {
    background-color: #8394aa!important;
}
#menu_your_account > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu_your_account > ul > li > span {
    color: #FFFFFF!important;
}
#menu_your_account > ul > li > span:hover {
    color: #FFFFFF!important;
}



#menu_custom_block > ul > li {
    background-color: #EE3963;
}

#menu_custom_block > ul > li:hover {
    background-color: #8394aa!important;
}
#menu_custom_block > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu_custom_block > ul > li > a {
    color: #FFFFFF!important;
}
#menu_custom_block > ul > li > a:hover {
    color: #FFFFFF!important;
}



#menu_contacts > ul > li {
    background-color: #EE3963!important;
}

#menu_contacts > ul > li:hover {
    background-color: #8394aa!important;
}
#menu_contacts > ul > li > div {
    border-top: 2px solid #8394aa!important;
}

#menu_contacts > ul > li > a {
    color: #FFFFFF!important;
}
#menu_contacts > ul > li > a:hover {
    color: #FFFFFF!important;
}


#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li:hover > div {
    background-color: #FFFFFF!important;
}
#menu, #menu_informations h1, #menu_your_account h1, #menu_custom_block h1, #menu_contacts h1, #menu_contacts h2, #menu_contacts span {
    color: #545454!important;
}
#menu > ul > li ul > li > a, #menu-category-wall > ul > li ul > li > a, #menu > ul > li > div > ul > li > a, #menu > ul > li > div > ul > li ul > li > a, #menu > ul > li > div > ul > li > div > ul > li > a, #menu_oc > ul > li > div > ul > li > a, #menu_brands a, #menu_informations > ul > li ul > li > a, #menu_your_account > ul > li ul > li > a, #menu_custom_block > ul > li ul > li > a {
    color: #000000!important;
}
#menu > ul > li ul > li > a:hover, div.menu-category-wall-sub-name a:hover, #menu-category-wall > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li > div > ul > li > a:hover, #menu_oc > ul > li > div > ul > li > a:hover, #menu_brands a:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    color: #6b809a!important;
}
#menu_brands > ul > li > div > div {
    border-left: 1px solid #F3F3F3;
}
#menu-category-wall > ul > li > div > div.span-first-child, #menu_brands > ul > li > div > div.span-first-child {border-left: medium none;}
#menu > ul > li ul > li > a:hover, #menu > ul > li > div > ul > li ul > li > a:hover, #menu_oc > ul > li ul > li > a:hover, div.menu-category-wall-sub-name + div > ul > li:hover, #menu_informations > ul > li ul > li > a:hover, #menu_your_account > ul > li ul > li > a:hover, #menu_custom_block > ul > li ul > li > a:hover {
    background-color: #F8F8F8!important;
}
div.menu-category-wall-sub-name, #menu_your_account h1, #menu_informations h1, #menu_custom_block h1, #menu_contacts h1 {
    background-color: #F8F8F8!important;
}
#menu > ul > li > div, #menu-category-wall > ul > li > div, #menu > ul > li > div > ul > li > div, #menu_oc > ul > li > div, #menu_brands > ul > li > div, #menu_informations > ul > li > div, #menu_your_account > ul > li > div, #menu_custom_block > ul > li > div, #menu_contacts > ul > li > div {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3)!important; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3)!important; -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.3)!important;
}




.box-product > div.span3, .es-carousel ul li, .product-grid > div {
    background-color: #dfdfdf!important;
}
.box-product > div.span3:hover, .es-carousel ul li:hover, .product-grid > div:hover {
    background-color: #E9F0F4!important;
}
.box-product > div.span3 > div.pbox, .es-carousel ul li div.pbox, .product-grid > div > div.pbox {
    border: 1px solid #dfdfdf!important;
}
.box-product > div.span3 > div.pbox:hover, .es-carousel ul li div.pbox:hover, .product-grid > div > div.pbox:hover {
    border: 1px solid #E9F0F4!important;
}
.box-product > div.span3, .es-carousel ul li, .product-grid > div, .box-product > div.span3 > div.pbox, .es-carousel ul li div.pbox, .product-grid > div > div.pbox {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
span.sale-icon {
    background-color: rgba(89, 101, 115, 0.29)!important;
}

span.newtip-icon {
    background-color: rgba(255, 0, 0, 0.3)!important;
}


.product-info .buy {
    background-color: #F3F3F3!important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.product-info .description, .product-info .options, .product-info .cart, .product-info .review {
    /*    border-top: 1px solid 	#EDEDED!important;	*/
}


.htabs {border-bottom: 2px solid #F3F3F3;}
.htabs a {
    border-top: 1px solid #F3F3F3;
    border-left: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
}
.htabs a.selected {background: #F3F3F3;}


.tab-content {
    width:100%;
    margin-bottom: 30px;
    z-index: 2;
    overflow: auto;
    background-color: #FFFFFF;
}

.tab-content2.rate table { width:100%!important}
.tab-content textarea { width:99%!important}


.ei-slider {
    background-color: #FFFFFF;
    background-image: url(images/bg_prod_slider_1.png);
    background-position: top center!important;
    background-repeat: repeat!important;
}
@media screen and (max-width: 767px) {
    .ei-slider{background-image: none;background-color: #FFFFFF;}
}
.ei-title h2 a{color: #545454;}
.ei-title h3 a{color: #A3A3A3;}
.ei-title h4 a{color: #EE3963;}
.ei-title h2 a:hover, .ei-title h3 a:hover, .ei-title h4 a:hover, .ei-slider-thumbs li a:hover{color: #EE3963!important;}
.ei-slider-thumbs li a{background: #F3F3F3; color: #545454;}
.ei-slider-thumbs li a:hover{background: #F9F9F9;}
.ei-slider-thumbs li.ei-slider-element{background: #8394aa;}



.custom_box_left #custom_box_icon, .custom_box_right #custom_box_icon {
    background-color: #EE3963;
}
.custom_box_right .custom_box, .custom_box_left .custom_box {
    border: 4px solid #EE3963;
}


#footer_cnc {
    background-color: #1F1F1F;
    background-image: none;
    background-position: top center;
    background-repeat: repeat;
    border-top: 3px solid #000000;
}
#footer_cnc h3 {color: #B09F84!important; border-bottom: 1px solid #2E2E2E!important;}
#footer_cnc_content, #footer_cnc_content span {color: #A3A3A3!important;}
#footer_cnc a {color: #8394aa!important;}
#footer_cnc a:hover, #footer_cnc .twitter a:hover {color: #FFFFFF!important;}
#footer_cnc .twitter a {color: #616161!important;}
#footer_cnc .twitter ul li {background: url(images/icons_footer/icon_twitts_11.png) no-repeat scroll 96% 7px transparent;}


#footer_info, #footer_info_phone, #footer_cr{
    background-color: #191919;
    background-image: none;
    background-position: top center;
    background-repeat: repeat;
}
#footer_info h3 {color: #B09F84!important; border-bottom: 1px solid #262626!important;}
#footer_info a {color: #A3A3A3!important;}
#footer_info a:hover {color: #FFFFFF!important;}


#footer_cr {color: #A3A3A3!important;}
#footer_cr a {color: #8394aa!important;}
#footer_cr a:hover {color: #FFFFFF!important;}
#footer_cr span {color: #545454!important;}


#footer_about {
    background-color: #191919;
    background-image: none;
    background-position: top center;
    background-repeat: repeat;
    border-top: 1px solid #1F1F1F;
}
#footer_about {color: #545454!important;}
#footer_about a {color: #8394aa!important;}
#footer_about a:hover {color: #FFFFFF!important;}



body, p, .ei-title h3 a, .cart-info thead .price, .cart-info tbody .price, #menu h1 {
    font-family: 'Open Sans',PT Sans!important,Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6, .welcome, .boxPlain .box-heading span {
    font-family: PT Sans Narrow!important,Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6, .welcome, .boxPlain .box-heading span {
    font-weight: normal; text-transform:uppercase!important;;
}
h1, h2, h3, h4, h5, h6, .welcome, .boxPlain .box-heading span {
    text-transform: none;
    margin-top: 10px;
}
.price, .ei-title h4 a {
    font-family: Droid Sans,Arial,Helvetica,sans-serif!important;
}
.box-product .price, .box-product .price-new, .product-list .price, .product-grid .price, .product-info .price, .es-carousel .price {
    font-weight: normal;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    font-family: "Lucida Sans Unicode",Arial,Helvetica,sans-serif!important;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    font-weight: normal;
}
a.button, input.button, a.button-exclusive, input.button-exclusive {
    text-transform: uppercase;
}
#t-header #search input {
    font-family: Arial,Helvetica,sans-serif!important;
}
#menu_oc > ul > li > a, #menu-category-wall > ul > li > a, #menu > ul > li > span, #menu > ul > li > a, #menu_brands > ul > li > a, .menu_links a, #menu_informations > ul > li > a, #menu_your_account > ul > li > span, #menu_custom_block > ul > li > a, #menu_contacts > ul > li > a, #menu #homepage a, .navbar .brand {
    font-family: sans-serif,PT Sans Narrow!important,Arial,Helvetica; font-weight:normal!important; font-size:14px!important;
}
#t-header #cart .heading a span {
    font-family: Arial,Helvetica,sans-serif!important;
}
#t-header #cart .heading a span {
    font-size: 20px!important;
    font-weight: normal!important;
}
.box-product .name a, .es-carousel .name a, .product-grid .name a, .product-list .name a, .box-product .l_column .name a  {
    font-weight: bold;
}


.black_overlay {
    overflow:hidden;
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.5;
    opacity:0.50;
    z-index:1321321321321321213213213211;
    filter: alpha(opacity=50);
}
.white_content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 305px;
    margin-top:-135px;
    margin-left:-152px;
    height: 200px;
    z-index:132132132132132132111123132132;
}
#menu-category-wall .span10 { padding-left:10px; 	z-index:132132132132132132111123132132;}
.visible-phone .span22 { display:none!important}
#menu .visible-phone1 { position:absolute; top:-99999px; display:none!important}

.hidden-phone1 { display:none;}
#footer h3 { font-weight:normal;}

.name_height { min-height:35px; -height:35px;}
.dropdown-menu table { width:100%;}
.navi_footer_fix .menu_links { width:100%; line-height: 18px; padding:0px; height:auto;   margin-bottom: 7px;}
.navi_footer_fix .menu_links a { font-weight:normal!important; text-transform:none; line-height: 18px; font-size:13px!important;}

#visualcart { text-align:center}
/*.box-category .span2 { display:none}*/
.span10 .span22 { display:none}
.breadcrumb span { margin:0px 5px}
.breadcrumb b {color: #545454 !important; font-weight:normal}

.newsKratko { padding:5px 0px 20px}

.abs_link { position:absolute; top:27px; right:0px;}
.header_rel { position:relative; width:100%;}


#content-home .span#news { clear: both;
                           margin-left: 20px;
                           margin-right: 20px;
                           max-width: 100%;
}

#banfx { padding-top:20px;}
#banfx img , #banfx embed {
    max-width:100%;
    width:expression(document.body.clientWidth > 462? "100%":
        "auto" );
}

embed {
    max-width:100%; max-height:auto!important;
    width:expression(document.body.clientWidth > 462? "100%":
        "auto" );
}


tr { vertical-align:middle!important;}
.img_fix input[type="image"] { margin:0px auto}
.img_fix input[type="text"]  { width:30px!important; margin:3px 0px; text-align:center}
.img_fix td

.imgLoaded { height:auto!important}

iframe html body #twitter-widget-0 { color:#fff!important}
.navi { text-align:right;   border-top: 1px solid #F6F6F6 !important;  display: inline-block;
        margin: 15px 0 0;
        padding-top: 10px;
        width: 100%;}

.vendorDisp { margin:10px 0px 0px;}
.vendorDisp input { margin-right:10px; margin-bottom:10px;}
.vendorDisp select { margin-right:10px; margin-bottom:10px;}
.vendorDisp td { vertical-align:top}
td.setka , td.setka img { width:15px!important; height:15px!important }
.panel_3_1 { width:33%}
.panel_3_2 { width:34%}
.panel_3_3 { width:33%}
.panel_2_1 { width:50%}
.panel_2_2 { width:50%}
.panel_4_1{width: 24%;}
.panel_4_2{width: 24%;}
.panel_4_3{width: 24%;}
.panel_4_4{width: 24%;}

.lifix { margin:0px!important; padding:0px!important;}

.es-carousel .wishlist , .es-carousel .compare { display:none}
.box-category .span2 { margin:0px; width:100%;}
.box-category .span2 .menu-category-wall-sub-name { padding-right:0px;}

.foto .imgOff , .foto .imgOn {max-width:80px;
                              width:expression(document.body.clientWidth > 80? "80px":
                                  "auto" );}
#currentBigPic {max-width:300px;
                width:expression(document.body.clientWidth > 300? "300px":
                    "auto" );}

#comparewindow {
    position:absolute;
    left:10px;
    top:0;
    visibility:hidden;
    width: 250px;
    height: 68px;
    Z-INDEX: 2;
    BACKGROUND: #f0f0f0;
    padding:10px;
    border: solid;
    border-width: 1px;
    border-color:#cacac8;
    FILTER: revealTrans (duration=1, transition=4);
}
#cartwindow {
    position:absolute;
    left:10px;
    top:0;
    visibility:hidden;
    width: 250px;
    height: 68px;
    Z-INDEX: 2;
    BACKGROUND: #f0f0f0;
    padding:10px;
    border: solid;
    border-width: 1px;
    border-color:#cacac8;
    FILTER: revealTrans (duration=1, transition=4);
}
#cartwindow * {
    color: 000000;
    font-size: 11px;
}
div.opros {
    float: left;
    background: #CCCCCC;
    height: 10px;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 0px;
}
td.name { text-align:left;}


.product-grid ul li {
    display:none;
}


/* avg rate */
.rate_l #raiting {position:relative; height:16px; cursor:pointer; width:83px; text-align:center; margin:5px 0px 0px !important; } /* Блок рейтинга*/
.rate_l .rating { margin-left:0px; padding-left:0px;}
#raiting {position:relative; height:16px; cursor:pointer; width:83px; text-align:center; margin:5px auto 0px; } /* Блок рейтинга*/
#raiting_blank, #raiting_votes, #raiting_hover {height:16px; position:absolute}
#raiting_blank { background:url(images/stars/stars1-0.png); width:80px; } /* "Чистые" звездочки */
#raiting_votes {background:url(images/stars1-5.png); cursor: default;} /*  Закрашенные звездочки */
#raiting_info { text-align:center}

.span12_hide { display:none}

#productlastview tr {
    height:80px;
}

.sep-menu-link {float:left; padding-top:9px;}


div.span {border:0px solid #000; width:231px;}

.subcatname { text-align:center;}

.span .image {text-align:center;}

input.reqActiv, select.reqActiv{
    border: 1px solid red;
}

span.wait{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(/phpshop/lib/templates/icon/loading.gif) center center no-repeat;
}

select.citylist {
    width:200px;
}

.deliveryName{
    cursor: pointer;
}

.price div {
    display:block;
    padding-right:10px;
    float:center;
    text-align:center;


}

.closeX {padding-top:8px; font-sixe:11px;}

td.image a img { max-height: 40px; max-width: 40px;}

select#parentId{
    max-width: 350px;
}

.forma_message input,.forma_message textarea{
    width: 80%;
}


.delivOneEl{
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 10px;
    display: block;
}


.paymOneEl{
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 10px;
}


.span1 .image {margin-right:20px;}

