body{
	SCROLLBAR-FACE-COLOR: #ececec;
	SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2;
	SCROLLBAR-SHADOW-COLOR: #c2c2c2;
	SCROLLBAR-3DLIGHT-COLOR: #ececec;
	SCROLLBAR-ARROW-COLOR: #3A87A3;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ececec;
	SCROLLBAR-BASE-COLOR: #ffffff
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 13px;
	color: #595959;
	background-attachment: fixed;
}

#comparewindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}

img.imgOff {
	border:none;
}

img.imgOn {
	border:none;
}
.topmenu_pad{
	padding:30 0 0 17;
	float:left;
}
#act{ float:left;}
.act_1 { display:none}
.act_2 { height:26px; padding-top:6px;} 
.menu_bg .act_1  { display: inline }
.menu_bg .act_2{ background:url(images/act_mid.gif) top left repeat-x; padding-left:5px; padding-right:5px; 
   text-align: center;
   
}
.menu_bg a.navigation{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}
#navigation{
}

a.navigation{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
a.navigation:hover{
}
div.comment_list{/*отзывы*/
	margin-top: 12px;
	margin-bottom: 12px;
	BORDER: #1f1f1d 1px dashed; 
	PADDING: 5px;
}

div.comment_user{
	padding: 3px;
	background: #efefef;
	color: #000;
}

div.comment_user a{
	color: #000;
}

div.opros{
    float: left;
    background: #BD9FA9;
    height: 10px;
    background-repeat: no-repeat;
}

a.activ_catalog{
	background: #1f1f1d;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-decoration: none;
}


td{
	font-size: 11px;
}

.bgprice {
}

a{
	color: #0c7fae;
	text-decoration:underline;
	font-size:11px;
}
a:hover{
	text-decoration:none;
}

a.standart{
	color: #000000;
}
div.page_catalog{/*Каталог страниц*/
	margin-top: 20px;
}

div.page_catalog a{/*Каталог страниц*/
	color: #1f1f1d;
   font-weight: bolder;
	font-size: 13px;
}

div.product_odnotip td,div.product_odnotip td a  {
	font-size: 11px;
	color: #1f1f1d;
}

table.standart td{
	font-size: 11px;
	color: #696969;
}


div.gbook_otvet{/*ответ на отзыв*/
	margin-top: 10px;
	background-color: #F6FAFD;
	margin-bottom: 10px;
	BORDER: #010101 1px dashed; 
	PADDING: 5px; 
}

div.pod_cart{/*Ссылки в корзину подробное описание*/
	padding:10 0 10 0;
}

div.pod_cart td a,div.pod_cart td{
}

img.big{
   border:			1px solid #5B98AF;
}

div.price{/*Цена подробное описание*/
	line-height: 18px;
	margin-bottom: 28px;
	text-align:center;
}
div.price strong{
	font-size: 18px;
}

div.product_cart a{
}
.product_price_block{
}

td.panel_l{ /*Раскла в 2 колонки левая колонка*/
}

td.panel_r{ /*Раскла в 2 колонки правая колонка*/
	padding-left:11px;
}

div.product_forma_1{
	font-size: 12px;
	background-repeat: repeat-x;
	width: 100%;
	clear:both;
}
div.product_price_bg{
	/*Форма товара - картинка*/
	text-align: center;
	background-image: url(images/product_price_bg.jpg);
	background-repeat: no-repeat;
	width: 190px;
	height: 28px;
	font-size: 12px;
	margin-top: 1px;
	color: FFFFFF;
	font-weight: bolder;
	line-height: 25px;
}

div.textblock_bg{
	padding-top:5px;
	padding-bottom:5px;
	background-color: #FFFFFF;
}

div.product_price_bg strong{
   font-size: 15px;
}


.product_img_bg{
	/*Форма товара - картинка*/
	text-align: center;
	background-image: url(images/product_img_bg_body.jpg);
	background-repeat: repeat-y;
	width: 188px;
	height: 134px;
}

.product_img_bg_body{
	/*Форма товара - картинка - шапка*/
	float:left;
	width:110px;
	text-align:center;
	padding-bottom:6px;
	vertical-align:top;
}
.product_img_bg_body_2{
	/*Форма товара - картинка - шапка*/
	float:left;
	text-align:center;
	padding-bottom:6px;
	vertical-align:top;
	padding-left: 5px;
	padding-right: 5px;
}

.product_img_bg_footer{
	/*Форма товара - картинка - подвал*/
	text-align: center;
	background-image: url(images/product_img_bg_footer.jpg);
	background-repeat: no-repeat;
	width: 188px;
	height: 9px;
}

div.product_img{
	/*Форма товара - картинка*/
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 0;
	padding-left: 0;
}
*html div.product_img{
	float: left;
	padding:0 7 0 0;
}

div.product_img_2{
	/*Форма товара - картинка*/
	float: left;
	padding-left: 30px;
}

div.product_content{/*Форма товара - описание*/
	padding-bottom:23px;
}

div.product_content a{/*Форма товара - описание*/
	font-size:1.4em;
	color:#15a2d8;
}
div.product_content_2{
	margin:-6 0 6 0;
}
*html div.product_content_2{
	margin:-4 0 6 0;
}
div.product_content_3{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 6px;
	margin-left: 5px;
}
div.product_content_4{/*Форма товара - описание*/
	padding-bottom:0px;
}

div.product_content_4 a{/*Форма товара - описание*/
	font-weight:bold;
}
div.product_name a{/*Форма товара - описание*/
	color: #15a2d8;
	font-weight: bolder;
}

div.product_price{
	/*Форма товара - цена*/
	float: right;
}
div.line{
	/*Разделитель новостей*/
	width: 100%;
	border-top:1px solid #e9e9e9;
	height:22px;
	margin-top:22px;
}
div.line_2{
	width: 100%;
	border-bottom:1px solid #e9e9e9;
	height:22px;
	margin-bottom:7px;
}
div.line_3{
	width: 170px;
	border-bottom:1px dotted #ccc;
	height:17px;
	margin-bottom:9px;
	margin-left:10px;
}
div.line_4{
	/*Разделитель новостей*/
	height:50px;
}
div.bannerTitle{
	font-family:Tahoma;
	font-size:11px;
	line-height:13px;
	color:#000000;
	font-weight:bold;
	clear: both;
	padding-top: 7px;
	padding-bottom: 9px;
}
.mininews{
	margin-top:-8px;
}
div.news_date{/*Новости*/
	float:left;
	color:#9c9c9c;
	padding:1 12 0 0;
	*padding:1 9 0 0;
}

div.news_tema{/*Новости*/
	padding-bottom:15px;
}
div.news_tema a{
}
div.news_kratko{
	color:#000;
}
ul{
	list-style-type: square;
}

ul.catalog{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
li.podcatalog{
	/*Бег каталога*/
}
li.podcatalog_page{
	/*Бег каталога*/
}
li.catalog{
	/*Бег каталога*/
	width: 192px;
	cursor: pointer;
}
li.catalog div{
	padding-left: 16px;
	padding-bottom:10px;
}
li.catalog strong{
	line-height: 30px;
	text-decoration: none;
	padding-left: 19px;
	*padding-left: 20px;
	font-weight:normal;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog a{
	line-height: 30px;
	text-decoration: none;
	padding-left: 19px;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog a:hover{
	text-decoration: none;
	font-weight: 600;	
}
li.catalog_page{
	/*Бег каталога*/
	width: 153px;
	cursor: pointer;
	border-bottom:1px solid #dcdcdc;
	margin-left:18px;
	*margin-left:19px;
	margin-right:18px;
	padding-top:8px;
	padding-bottom:8px;
}
li.catalog_page strong{
	text-decoration: none;
	font-weight:normal;
	text-transform:uppercase;
	color:#5b5b5b;
}

li.catalog_page a{
	text-decoration: none;
	text-transform:uppercase;
	color:#5b5b5b;
}
li.catalog_page div{
	padding-top:8px;
	padding-bottom:14px;
}
li.catalog_page a:hover{
	text-decoration: none;
	color:#5b5b5b;
	font-weight: 600;
}
li.podcatalog a{
	color:#595959;
	line-height: 18px;
	text-decoration: underline;
	text-transform:none;
}
li.podcatalog a:hover{
	text-decoration: none;
	font-weight: normal;
}
li.podcatalog_page a{
	color:#595959;
	line-height: 18px;
	text-decoration: underline;
	text-transform:none;
	padding-left:16px;
	*padding-left:15px;
}
#catalog_footer{
	background:url(images/catalog_footer.gif) top left no-repeat;
	height:23px;
}
div.opros_footer{
	/*Левый блок голосование низ*/
   
	background-color: #D2E5EC;
	background-repeat: repeat-x;
	margin-top: 2px;
	height: 7px;
	margin-top:1px;
}

div.opros_bg{
	/*Левый блок голосование бег*/
	background-image: url(images/left_opros_bg.jpg);
	background-repeat: repeat-x;
	margin-top: 1px;
	color: FFFFFF;
	padding: 15px;
}

div.opros_bg td{
	color: FFFFFF;
	font-size: 11px;
}

div.plashka_center{ /*Центрблок плашка*/
	font-size:1.6em;
	color:#e96e00;
	text-transform:uppercase;
	padding-top:17px;
	line-height:22px;
	padding-bottom:12px;
}
div.plashka_center_2{ /*Центрблок плашка*/
	font-size:1.6em;
	color:#e96e00;
	text-transform:uppercase;
	padding-top:21px;
	padding-bottom:4px;
}
.plashka_center_link{
	float:right;
	margin-top:-29px;
	padding-right:7px;
	padding-bottom:20px;
}
.plashka_center_link_2{
	float:left;
	margin-top:-29px;
	padding:0 0 0 100;
}
.plashka_center_link_3{
	float:right;
	margin-top:-32px;
	padding-right:19px;
}
.plashka_center_link_2 span{
	padding-left:27px;
}
div.plashka{ /*Левый блок плашка*/
	background-image: url(images/left_plashka_bg.jpg);
	background-repeat: no-repeat;
	height: 41px;
}

div.plashka_zag{ /*Левый блок плашка заглавие*/
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:12px;
}
div.plashka_zag_2{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:18px;
	padding-top:14px;
	padding-bottom:12px;
}
div.plashka_zag_3{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:19px;
}
div.plashka_zag_4{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:14px;
	padding-top:9px;
	padding-bottom:19px;
}
div.plashka_zag_5{
	font-size:2.4em;
	text-transform:uppercase;
	font-weight:normal;
	padding:0 0 13 0;
	margin:0 0 0 0;
	line-height:30px;
}
.name a{
	font-size:2.4em;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
	padding:0 0 13 0;
	margin:0 0 0 0;
	line-height:30px;
	color:#595959;
}
.servername{
	padding-left:6px;
}
.descript{
	padding:9 0 0 0;
}
div.cloud h1{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:12px;
}
div.plashka_cart{
	text-transform:uppercase;
	padding-left:23px;
	padding-top:16px;
	padding-bottom:14px;
}
div.plashka_cart a{
	font-size:1.4em;
	color:#010101;
}
div.left_search_bg td{/*Шапка авторизация пользователей*/
	color: FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

div.left_search_bg{ /*Левый блок поиска*/
	background-image: url(images/left_search_bg.jpg);
	background-repeat: repeat-x;
	height: 77px;
	padding-left:10px;
	padding-top:0px;
}
#leftmenu{
	padding-top:30px;
	height:134px;
	*height:162px;
}
#search{
	background:url(images/bg_search.gif) top left no-repeat;
	padding:3 10 0 6;
}
#search div{
	padding-top:6px;
}
#search_but{
	vertical-align:bottom;
	*margin-bottom:3px;
}
input.search{
	width:257px;
	height:19px;
	border:none;
	background:none;
	padding:3 0 0 2;
	cursor:text;
}
input.sort{
	width:81px;
	height:19px;
	border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-bottom:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	background:#fff;
	padding:1 0 0 2;
	cursor:text;
}
#user_but{
	vertical-align:top;
	*margin-top:1px;
}
.user_error{
	color:#f44b00;
}
input.user{
	width:189;
	height:25px;
	border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-bottom:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	padding:5 0 0 4;
	background:none;
	cursor:text;
	font-weight:bold;
	color:#7f7f7f;
}
input.user_2{
	width:131;
	height:25px;
	border-top:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	border-bottom:1px solid #f4f4f4;
	border-right:1px solid #f4f4f4;
	padding:5 0 0 4;
	background:none;
	cursor:text;
	font-weight:bold;
	color:#7f7f7f;
}
input.cart{
	height:19px;
	border:1px solid #c0c0c0;
	padding:2 0 0 2;
	margin:0 0 0 0;
	vertical-align:top;
}
*html input.cart{
	height:19px;
	border:1px solid #c0c0c0;
	padding:2 0 0 2;
	margin:-1 0 0 0;
	vertical-align:top;
}

div.header_user_area {/*Шапка авторизация пользователей*/
	float: left;
	margin-left:0px;
	padding-left:50px;
	margin-top:0px;
	padding-right: 10px;	
}

div.header_user_area2 td{/*Шапка авторизация пользователей*/
	color: FFFFFF;
	font-size: 11px;
	font-weight: bold;
}

a.small{
	color: FFFFFF;
	font-size: 9px;
	font-weight: normal;
}
small a {
	font-size:9px;
}

div.header_phpshop_slogan{ /*Слоган*/
   width: 300px;
	float: left;
	color: FFFFFF;
}

div.header_phpshop_slogan H1{ /*Слоган название компании*/
	color: #2D87A2;
	font-size: 15px;
}

div.header_phpshop_slogan a{ /*Слоган ссылка*/
	color: #79B5C0;
	font-size: 12px;
}

img.icon{/*Логотип иконки*/
	margin-top:20px;
	margin-left:60px;
}

div.header_phpshop_logo{ /*Логотип*/
	width: 182px;
	height: 54px;
	
	/*background-image: url(images/phpshop_logo.png);
	background-repeat: no-repeat;*/
	margin-left:40px;
	margin-right:40px;
	float: left;
}

div.header_nav_bg{ /*Фоновая картинка в шапке навигация*/
	width: 100%;
	height: 51px;
	background-image: url(images/header_bg_nav.jpg);
	background-repeat: repeat-x;
	BORDER-TOP: #FFFFFF 1px solid;
}

div.header_nav_bg a{ /*Основная навигаци в шапке*/
	color: FFFFFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	
}
div.header_nav_bg a:hover{ /*Основная навигаци в шапке*/
	color: #EDF5F8;
   text-decoration: none;
}
div.header_nav{
	float: left;
	padding-top:9px;
	padding-left:31px;
}
div.header_nav a{
	color:#ffffff;
}

div.header_nav_line{/*Разделитель в навигации*/
	width: 4px;
	height: 51px;
	background-image: url(images/header_bg_nav_line.jpg);
	background-repeat: no-repeat;
	float: left;
	margin-left:10px;
	margin-right:10px;
}

div.header_bg_2_up_order{
	background-image: url(images/header_bg_1_up_order_anim.gif);
	background-repeat: no-repeat;
	float: left;
	color: #62ACC7;
	width: 150px;
	height: 51px;
	font-weight: bold;
	padding-top:20px;
	padding-left:50px;
}

div.header_bg_2_up_compare{

	float: left;
	color: #62ACC7;
	height: 51px;
	font-weight: bold;
	padding-top:20px;
	padding-left:50px;
}
div.header_bg_2_up_order a{
	color: #AA8493;
}

div.header_bg_2_up_cur{/*Фоновая картинка в шапке валюта*/
	width: 220px;
	height: 51px;
	background-image: url(images/header_bg_1_up_cur.jpg);
	background-repeat: no-repeat;
	float: left;
	color: #62ACC7;
	font-weight: bold;
   padding-top:20px;
}
div.header_bg_2_up_cur div{
	margin-left:25px;
}
div.header_bg_2_up_cur select{
	font-size: 10px;
	margin-left: 10px;
}

div.header_bg_2_up_sum{/*Фоновая картинка в шапке сумма*/
	width: 180px;
	height: 51px;
	background-image: url(images/header_bg_1_up_sum.jpg);
	background-repeat: no-repeat;
	float: left;
	color: #62ACC7;
	font-weight: bold;
   padding-top:20px;
}
div.header_bg_2_up_sum div{
	margin-left:50px;
	text-decoration: none;
	
}
div.header_bg_2_up_cart{/*Фоновая картинка в шапке корзина*/
	width: 230px;
	height: 51px;
	background-image: url(images/header_bg_1_up_cart.jpg);
	background-repeat: no-repeat;
	float: left;
	color: #62ACC7;
	font-weight: bold;
    padding-top:20px;
	margin-left:45px;
	text-decoration: none;
	cursor: pointer;
}
div.header_bg_2_up_cart div{
	margin-left:50px;
}
div.header_bg_2_up{/*Фоновая картинка в шапке заглушка верхняя навигация*/
	width: 100%;
	height: 51px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_up.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2_bg{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 214px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}
div.header_bg_2{/*Фоновая картинка в шапке*/
	width: 1004px;
	height: 214px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

div.header_bg_2_bg_shop{/*Фоновая картинка в шапке заглушка*/
	width: 100%;
	height: 180px;
	background-color: E5F0F4;
	background-image: url(images/header_bg_1_bg.jpg);
	background-repeat: repeat-x;
}

div.header_bg_2_shop{/*Фоновая картинка в шапке */
	width: 1004px;
	height: 180px;
	background-image: url(images/header_bg_1.jpg);
	background-repeat: no-repeat;
	padding-top:0px;
}

#main{
	margin:6px;
}

#left_block{
	PADDING-RIGHT: 20px; PADDING-LEFT: 40px; LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 190px; PADDING-TOP: 7px; margin:-7 0 0 0; position:relative;
}
#center_block{
 MARGIN-LEFT: 250px; MARGIN-RIGHT: 250px;  PADDING-BOTTOM: 35px;
}
#right_block{
	float: left;
	width: 218px;
}
#footer_block{
	background-image: url(images/footer_bg.jpg);
	background-repeat: repeat-x;
	height: 113px;
	width: 100%;
	float: left;
	margin-top:20px;
}

#footer_tel{
	padding-top: 30px;
	padding-left: 30px;
	width: 250px;
	float: left;
	color: FFFFFF;
}
#footer_tel H3{
  font-size: 15px;
}
#footer_cart{
	background-image: url(images/footer_cart.jpg);
	background-repeat: no-repeat;
	height: 113px;
	width: 116px;
	float: left;
}

#footer_copyright{
	height: 113px;
	padding-left: 50px;
	color: FFFFFF;
}

#footer_copyright a{
	color: FFFFFF;
}


div.page_nava{
	padding:6 0 0 0;
	color:#000;
}

div.page_nava div{
}



div.page_nava a{
}

td.setka{
}

#allspec{
	padding:8 0 6 0;
}


#allspec div {
}
.allspec_pad{
	padding-left:17px;
	padding-top:6px;
}
a.link{
}
.link_prise{
	padding:6 0 0 0;
	*padding 0 0 0 0;
	text-align:right;
}
#allspec a{
}
#allspec input, #allspec td select {
	font-size: 10px;
}


#allspecwhite{
	margin-top: 10px;
	margin-bottom: 10px;
	BORDER: #0c7fae 1px dashed; 
    PADDING: 5px; 
}

.sortActiv{
	background-color:#dadada;
	color:#2a2a2a;
	text-decoration:none;
	padding:2 4 2 4;
}


form
{
    margin:0px;
}


H1{
	font-size:1.7em;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
}
H2{
	font-size:1.5em;
	color:#383838;
	text-transform:uppercase;
	font-weight:normal;
}
input.ok{
}
input.ok_price{
	background-image: url(images/but_sort.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 27px;
	width: 90px;
	border:none;
	cursor:pointer;
}
input, select{
	font-size: 11px;
}

input.but{
   font-size: 11px;
   height: 22px;
   border-style: solid;
   border-color: #395200;
   border-width: 1px;
   background-color: white;
   color:#4b4b4b;
}
input.product_price_do{
	margin-left:0px;
	margin-bottom:4px;
}
*html input.product_price_do{
	margin-left:-3px;
	margin-bottom:2px;
}
.sort_name_bg{
	color: #000000;
}
.sort_table{
	font-size: 11px;
	background-color: White;
	color: #1f1f1d;
}
.sort_table b{
	color: #696969;
}
#cartwindow{
   position:absolute;
   left:10px;
   top:0;
   visibility:hidden; 
   width: 250px; 
   height: 68px;
   Z-INDEX: 2;
   BACKGROUND: #C0D2EC;
	
   padding:10px;
   border: solid;
   border-width: 1px; 
   border-color:#4D88C8;
   FILTER: revealTrans  (duration=1,transition=4);
}
#cartwindow *{ 
  color: 000000;
  font-size: 11px;
}

/*Стили кнопок табов*/


.dynamic-tab-pane-control.tab-pane { 
	position:	relative;
	width:		100%;
}
.dynamic-tab-pane-control .tab-row .tab td { color:#0c7fae; 	font-family:	Verdana, Helvetica, Arial; }
.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
   margin:			0px 0px 0px 0px;
	float:			left;
/*	background:		#EDF5F8;*/
	/*border:			1px solid;
	border-color:	#2865a5;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;*/
	
	cursor:			hand;
	cursor:			pointer;
	
	z-index:		1;
	position:		relative;
	top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	/*border:			1px solid #2865a5;*/
	border-bottom:	0;
	z-index:		3;
/*	padding:		2px 6px 5px 6px;*/
/*	margin:			1px -6px -2px 0px;*/
	top:			0px;
	background:		white;
}

.dynamic-tab-pane-control .tab-row .tab.selected td  { font-weight:bold ; color:#000000
	
}
.dynamic-tab-pane-control .tab-row .tab.selected td .sel_left { background:url(images/pr_sel_left.gif) no-repeat top left}
.dynamic-tab-pane-control .tab-row .tab.selected td.sel_center { background:url(images/pr_sel_center.gif) repeat-x top left; padding-left:4px; padding-right:4px;}
.dynamic-tab-pane-control .tab-row .tab.selected td .sel_right { background:url(images/pr_sel_right.gif) no-repeat top left}

.sel_left { background:url(images/sel_center.gif) repeat-x top left }
.sel_center {background:url(images/sel_center.gif) repeat-x top left }
.sel_right { background:url(images/sel_center.gif) repeat-x top left }


.dynamic-tab-pane-control .tab-row .tab a {
	font-family:		Verdana, Helvetica, Arial;
	font-size:			12px;
	color:				#007ce6; 
	text-decoration:	none;
	text-transform:none;
	cursor:			hand;
	cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
	color:	#2865a5;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
	color:#000
}

.dynamic-tab-pane-control .tab-page {
	z-index:		2;
	position:		relative; 
	top:			-1px;
	color:			#696969;
	font-size:		11px;
	padding:		20px 0px ;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
/*	background:		#EDF5F8;*/
	height:			1.85em;
	width:			100%;
}

.tab-page a{
	color: #007ce6;
}
#all{
	width:971px;
	margin:0 auto;
	text-align:left;
}
.bg_all{
	background-color:#0189c5;
}
#bg_header{
	background:url(images/bg_header.jpg) top center no-repeat;
	text-align:center;
}
#header{
	background:url(images/header.jpg) top left no-repeat;
	height:228px;
	padding-left:36px;
	padding-right:500px;
	margin-bottom:12px;
}
.header_column{
	background:url(images/header_3.gif) top left no-repeat;
	float:left;
}
.header_column_2{
	background:url(images/header_2.gif) top left no-repeat;
	width:71%;
	height:166px;
	text-align:left;
	float:right;
}
*html .header_column_2{
	background:url(images/header_2.gif) top left no-repeat;
	width:71%;
	height:196px;
	text-align:left;
	float:right;
}
#content{
	background:url(images/content_1.gif) #fff top left no-repeat;
	FLOAT: left;
	WIDTH: 971px;
	position:relative;
}
#content_2{
	background:url(images/content_2.gif) #fff bottom left no-repeat;
	FLOAT: left;
	WIDTH: 971px;
	height:26px;
	position:relative;
}
#cart{
	padding-left:19px;
	padding-right:19px;
	color:#000;
}
#cart a{
	color:#ff7300;
}
.left{
	float:left;
	white-space:nowrap;
}
.num{
	font-weight:bold;
	display:inline;
	white-space:nowrap;
	float:right;
}
.sum{
	font-weight:bold;
	white-space:nowrap;
	float:right;
}
.order{
	padding-top:2px;
}
.valuta{
	float:right;
	margin-top:-2px;
	position:relative;
}
#logo{
	padding:36 0 0 77;
}
#descrip{
	width:329;
	padding:3 0 0 0;
	text-align:center;
}
#telnum{
	padding:6 474 0 0;
	text-align:right;
	font-size:1.4em;
	width:71%;
	float:right;
}
.telnum_2{	
	color:#84c225;
}
.telnum_3{
	color:#fecb0a;
}
.telnum_footer{
	font-size:12px;
}
#topmenu{
	height:85px;
}
#left {
	FLOAT: left;
	WIDTH:192px;
	position:relative;
	padding-left:17px;
}
#center {
	MARGIN-LEFT: 227px;
	MARGIN-RIGHT: 227px;
}
#right {
	FLOAT: right;
	WIDTH:227px;
	position:relative;
}
*html #left {
	WIDTH:192px;
	FLOAT: left;
	padding-left:17px;
}
*html #center {
	height:0;
	MARGIN-LEFT: 224px;
	MARGIN-RIGHT: 224px;
	padding-top:1px;
}
*html #right {
	FLOAT: right;
	WIDTH:225px;
	position:relative;
}
#right_footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; FLOAT: right; WIDTH: 255px; PADDING-TOP: 0px;
}
*html #right_footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 0px; FLOAT: right; WIDTH: 255px; PADDING-TOP: 0px;
}
#footer{
	color:#fff;
	clear:both;
	padding:26 0 0 25;
}
#footer a{
	color:#ffea00;
}
#footer span{
	color:#22aeec;
	padding-left:8px;
	padding-right:8px;
}
#footer_bottom{
	margin-top:-20px;
	background-color:#73bd1e;
	color:#ffffff;
}
#footer_link{
	text-align:center;
}
.right_footer{
	text-align:right;
}
.left_footer{
}
.left_footer a{
	padding:0 10 0 0;
}
#usersdisp{
	padding-right:19px;
	text-align:right;
	color:#7f7f7f;
}
#usersdisp_2{
	text-align:left;
	padding-left:19px;
}
.user_pad{
	vertical-align:top;
	line-height:19px;
	height:19px;
	padding-right:4px;
}
.user_pad_2{
	padding-top:6px;
	padding-bottom:3px;
}
.user_pad_3{
	padding-right:6px;
}
.pad_1{
	padding-left:36px;
}
.pad_2{
	padding-top:10px;
}
.pad_3{
	padding-left:6px;
}
.pad_4{
	padding-top:8px;
}
.pad_5{
	padding-top:12px;
}
.pad_6{
	padding-top:3px;
}
.pad_6 span{
	padding-left:33px;
	*padding-left:30px;
}
.pad_7{
	padding-left:126px;
}
.pad_8{
	position: relative;
	margin-top: -25px;
	width: 90px;
	margin-left: 420px;
}
.pad_9{
	padding-top:7px;
}
.pad_10{
	padding-right:19px;
}
.pad_11{
	padding-top:4px;
}
#vote{
	padding:10 0 3 19;
	font-weight:bold;
	color:#000;
}
#vote_2{
}
#vote_3{
	text-align:center;
}
#vote_input{
	padding:4 0 4 13;
	vertical-align:top;
	color:#000;
}
#vote_input span{
	vertical-align:top;
	line-height:21px;
	height:21px;
}
#vote_content{
	padding:6 0 6 0;
}
.img_cart{
	margin:0 0 0 0;
}
*html .img_cart{
	margin:0 0 -2 0;
}
.img_cart_2{
	margin:0 0 0 0;
}
#product_price{
	float:left;
	padding-left:9px
}
.zag{
	font-size:1.7em;
	color:#f44b00;
}
.zag_2{
	font-size:1.5em;
	color:#f44b00;
}
#product_cart_1{
	float:right;
	display:inline;
	margin-top:-15px;
	padding-bottom:41px;
}
#product_cart_1_2{
	margin-top:-15px;
}
#product_cart_2{

}
#product_cart_3{
	text-align:right;
}
#product_cart_3_2{
	text-align:right;
	padding-right:9px;
}
#product_cart_4{
	width:236px;
	*width:252px;
	float:left;
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
	padding:0 0 17 14;
	display:inline;
}
#product_cart_5{
	width:232px;
}
#product_cart_6{
	width:496px;
	*width:512px;
	float:left;
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
	padding:0 0 17 14;
	display:inline;
}
#product_border_1{
	background:url(images/product_border_1.gif) no-repeat;
	height:13px;
}
#product_border_2{
	background:url(images/product_border_2.gif) no-repeat;
	height:13px;
	clear:both;
}
#product_border_1_1{
	background:url(images/product_border_1_1.gif) no-repeat;
	height:13px;
}
#product_border_2_1{
	background:url(images/product_border_2_1.gif) no-repeat;
	height:13px;
	clear:both;
}
.product_des{
	clear:both;
}
div.add_cart{
	float:right;
}
.foto img{
	
}
#opinion{
	float:left;
	clear:none;
}
*html #opinion{
	float:none;
	clear:both;
}
#bg_nav_1{
	background:url(images/bg_nav_1.gif) no-repeat;
	background-position:0 0;
	padding-top:5px;
	margin-top:34px;
}
.bg_nav_1{
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
}
#bg_nav_2{
	background:url(images/bg_nav_2.gif) top left no-repeat;
	width:192px;
	height:12px;
}
#bg_nav_1_2{
	background:url(images/bg_nav_1_2.gif) no-repeat;
	background-position:0 0;
	padding-top:5px;
	margin-top:15px;
	width:192px;
}
.bg_nav_1_2{
	border-left:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	width:190px;
	*width:192px;
}
#bg_nav_2_2{
	background:url(images/bg_nav_2_2.gif) top left no-repeat;
	width:192px;
	height:12px;
}
.specmain{
	float:right;
	padding-right:19px;
}
.banner{
	text-align:center;
}
.leftmenu_name{
	font-size:1.5em;
	color:#424242;
	text-transform:uppercase;
	padding-left:19px;
	padding-top:22px;
	padding-bottom:5px;
	*padding-bottom:0px;
	line-height:20px;
}
.leftmenu_cont{
	padding-left:19px;
}
.bg_sort{
	background:url(images/bg_sort.gif) top left no-repeat;
	color:#000;
	height:75px;
}
.bg_product_forma_full{
	background:url(images/bg_product_forma_full.gif) top left no-repeat;
	color:#000;
	height:55px;
}
.bg_sort a{
}
.page_nav{
	font-weight:bold;
	color:#b0b0b0;
	padding:10 0 10 17;
}
.page_nav_2{
	background:url(images/page_nav.gif) top left no-repeat;
	height:35px;
	padding:10 0 10 17;
	font-weight:bold;
	color:#b0b0b0;
}
.vendordisp{
}
.vendordisp select{
	margin-top:4px;
}
img.imgOff {
	border-color: #97989C;
	border-style: solid;
	border-width: 1px;
}

img.imgOn {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
}