/* 
* PHPShop Editor 
*/
.editor_empty{
   color:#6C809A;
   text-align: center;
   padding:5px;
   background: #FFE785;
   border: dashed 1px #6C809A;
   border-radius:4px;
   margin:3px;
}
.editor_empty a{
   text-decoration:none !important;
   color:#6C809A !important;
}

/* 
* Поддержка шаблонов 2.1 - 3.7  для версии 4
*/

.product-tags div{
float:left;
background: #F7F7F7;
padding:1px;
margin:1px;
}

.product-tags a:link{
    text-decoration: none;
}

.product-tags div:hover {
background:#E7ECF2;
}


.compare_list img{
 max-width: 70px;
}

a.highslide img{
   max-width: 100px;
   padding:5px;
}

#fotoload a.highslide img{
   max-width: 600px !important;
}

#fotoload img.imgOn, #fotoload img.imgOff{
   max-width: 100px;
}

#catalogContent img{
   max-width: 700px;
}

#bannerContent img{
   display: block;
   max-width: 700px !important;
   text-align: center;
}

.left {
    float: left;
    width: 49%;
}
.right {
    float: right;
    width: 49%;
}

#checkout{
   padding:5px;
}

body,td,th{/* Основные шрифты */
    font-family: Arial;
    font-size: 12px;
    color: #2b2b2b;
}
body{
    SCROLLBAR-FACE-COLOR: #ececec;
    SCROLLBAR-HIGHLIGHT-COLOR: #c2c2c2;
    SCROLLBAR-SHADOW-COLOR: #c2c2c2;
    SCROLLBAR-3DLIGHT-COLOR: #ececec;
    SCROLLBAR-ARROW-COLOR: #3A87A3;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ececec;
    SCROLLBAR-BASE-COLOR: #ffffff;
    margin: 0px;
    background-color: #ffffff;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.body{
    background:#FFFFFF;
    margin-top:10px;
    margin-bottom:10px;
    border: solid 1px #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
    padding:10px;
    
}

.radius_up{
    border-bottom: solid 1px #CCC;
    border-bottom-width: 1px;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background-color: #fff;
    padding-top: 2px; 
}

.radius_down{
    border-bottom: solid 1px #CCC;
    border-bottom-width: 1px;
    -webkit-border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomleft:8px;
    -moz-border-radius-bottomright:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    background-color: #fff;
    padding-bottom: 2px; 
}

img.template{
    border: solid 1px #CCC;
    padding: 3px;
    border: solid 1px #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin:3px;
    cursor:pointer;
}

img.template:hover{
    border: solid 1px #BFDBFF;
    box-shadow: 0 0 5px #BFDBFF;
}
input,textarea,select{
    border: solid 1px #CCC;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:2px;

}
input:hover[type=text],select:hover,textarea:hover {
    border: solid 1px #BFDBFF;
}
input.searchf:hover{
    border:0px;
}
input[type=image]{
    border: 0px;
}
input[type=button],input[type=reset]{
    background: -moz-linear-gradient(#FFF, #F0F0F0);
    background: -ms-linear-gradient(#FFF, #F0F0F0);
    background: -o-linear-gradient(#FFF, #F0F0F0);
    background: -webkit-linear-gradient(#FFF, #F0F0F0);
}
input:hover[type=button],input:hover[type=reset]{
    border: solid 1px #CCC;
    color: #9A4DE1;
    cursor:pointer;
}
a{/* Основные ссылки */
    font-family: Arial;
    font-size: 12px;
    color: #2b2b2b;
}
a:link{
    text-decoration: underline;
}
a:visited{
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: underline;
}
form{/* Стиль для форм */
    margin: 0px; padding: 0px;
}
.header1Table{/* Стиль для верхней таблицы */
    width: 940px;
    height: 99px;
    background-color: #f0f0f0;
}
.header2Table{/* Стиль для верхней таблицы */
    width: 940px;
    height: 44px;
    margin-top: 10px;
    margin-bottom: 9px;
}
.contentTable{
    height: 500px;
    width: 940px;
}
.bottonTable{/* Стиль для нижней таблицы */
    background-color: #bf7aff;
    height: 52px;
    width: 940px;
    padding: 10px;
    margin-top: 45px;
}
.divBotContent{
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
}
.divBotContent .topMenuImg{
    margin-right: 6px;
    margin-left: 6px;
    background-color: #ffffff;
}
.divBotContent .topMenuSpan a{
    font-family: Arial;
    font-size: 12px;
    color: #ffffff;
}
.divBotContent .topMenuSpan a:link, .divBotContent .topMenuSpan a:visited, .divBotContent .topMenuSpan a:hover, .divBotContent .topMenuSpan a:active{
    text-decoration: none;
}
.header_logo{/* Стиль для логотипа */
    float: left;
    margin-top: 25px;
    margin-left: 2px;
}
.header_information{
    float: left;
    margin-top: 16px;
    margin-left: 12px;
    position: absolute;
}
.header_infoTel{
    font-family: Arial;
    font-size: 14px;
    color: #6b6a68;
    width: 270px;
    font-weight: 600;
}
.header_infoTel a{
    font-family: Arial;
    font-size: 14px;
    color: #6b6a68;
}
.header_infoTel a:link{
    text-decoration: none;
}
.header_infoTel a:visited{
    text-decoration: none;
}
.header_infoTel a:hover{
    text-decoration: none;
}
.header_infoTel a:active{
    text-decoration: none;
}
.header_infoWork{
    font-family: Arial;
    font-size: 12px;
    color: #6b6a68;
    margin-top: 6px;
    width: 270px;
}
.header_infoWork a{
    font-family: Arial;
    font-size: 12px;
    color: #6b6a68;
}
.header_infoWork a:link{
    text-decoration: underline;
}
.header_infoWork a:visited{
    text-decoration: underline;
}
.header_infoWork a:hover{
    text-decoration: none;
}
.header_infoWork a:active{
    text-decoration: underline;
}
.header_infoAddress{
    font-family: Arial;
    font-size: 12px;
    color: #6b6a68;
    margin-top: 6px;
    width: 270px;
}
.header_infoAddress a{
    font-family: Arial;
    font-size: 12px;
    color: #6b6a68;
}
.header_infoAddress a:link{
    text-decoration: none;
}
.header_infoAddress a:visited{
    text-decoration: none;
}
.header_infoAddress a:hover{
    text-decoration: none;
}
.header_infoAddress a:active{
    text-decoration: none;
}
.topMenu{
    float: left;
    margin-top: 21px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 7px;
    padding-left: 18px;
    background-color: #ffffff;
    margin-left: 10px;
    -margin-left: 5px;
}
.topMenu .topMenuImg{
    margin-right: 6px;
    margin-left: 6px;
    background-color: #696969;
}
.topMenu .topMenuSpan a{
    font-family: Arial;
    color: #696969;
    font-size: 12px;
}
.topMenu .topMenuSpan a:link, .topMenu .topMenuSpan a:visited, .topMenu .topMenuSpan a:hover, .topMenu .topMenuSpan a:active{
    text-decoration: none;
}
.topMenuImg2{
    margin-right: 6px;
    margin-left: 6px;
    background-color: #696969;
}
.topMenuSpan2 a{
    font-family: Arial;
    color: #696969;
    font-size: 12px;
}
.topMenuSpan2 a:link, .topMenuSpan2 a:visited, .topMenuSpan2 a:hover, .topMenuSpan2 a:active{
    text-decoration: none;
}
.topUserSpan{
    font-family: Arial;
    color: #fe0013;
    font-size: 12px;
}
.topUserSpan a{
    font-family: Arial;
    color: #fe0013;
    font-size: 12px;
}
.topUserSpan a:link, .topUserSpan a:visited, .topUserSpan a:hover, .topUserSpan a:active{
    text-decoration: none;
}
.topUser{
    float: right;
    margin-top: 21px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 7px;
    padding-left: 18px;
    background-color: #ffffff;
    margin-left: 19px;
    -margin-left: 1px;
}
.topCurSelect{
    float: right;
    margin-left: 7px;
    padding-right: 19px;
    margin-top: 5px;
}
.topCurSelect select{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
    height: 20px;
    width: 71px;
    border: 1px solid #bfbbb5;
}
.topCurText{
    float: right;
    margin-top: 8px;
}
.topOrderImg{
    float: right;
    margin-right: 9px;
}
.topOrderText{
    float: right;
    margin-top: 6px;
    margin-right: 16px;
}
.topComparison{
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}
.topOrderSpan1{

}
.topOrderSpan1 a{
    font-family: Arial;
    color: #696969;
    font-size: 12px;
}
.topOrderSpan1 a:link, .topOrderSpan1 a:visited, .topOrderSpan1 a:hover, .topOrderSpan1 a:active{
    text-decoration: none;
}
.topOrderSpan2{

}
.topOrderSpan2 a{
    font-family: Arial;
    color: #9942ea;
    font-size: 12px;
}
.topOrderSpan2 a:link, .topOrderSpan2 a:visited, .topOrderSpan2 a:hover, .topOrderSpan2 a:active{
    text-decoration: none;
}
#layerIframe{
    position:absolute;
    width:200px; height:100px;
    border:none;
    z-index:-1;
}
.userRoomHidden{
    width: 282px;
    height: 159px;
    position: absolute;
    visibility: hidden;
    margin-left: 366px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 16px;
    background-image: url(images/clothes_10.png);
}
.userRoomVisible{
    width: 282px;
    height: 159px;
    position: absolute;
    visibility: visible;
    margin-left: 366px;
    -margin-left: 371px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 16px;
    background-image: url(images/clothes_10.png);
    -background:none;/*для ie6*/
}
.userRoomDiv{
    -background:none;/*для ie6*/
    -filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/phpshop/templates/phpshop_7/images/clothes_10.png',sizingMethod='crop');/*для ie6*/
    width: 282px;
    height: 159px;
    position: static;
}
.userRoomForm{
    -position:relative;/*для ie6*/
}
.userRoomError{
    width: 100px;
    position: absolute;
    margin-left: -119px;
    margin-top: 4px;
}
.usersFormaError{
    color: #fe0013;
    display: block;
    text-align: right;
}
.linkUserRoom1{
    float: right;
    margin-top: 5px;
    padding-top: 7px;
    padding-right: 18px;
    padding-bottom: 7px;
    padding-left: 1px;
    background-color: #f0f0f0;
    margin-right: 5px;
}
.linkUserRoom2{
    width: 85px;
    padding-left: 68px;
    padding-top: 5px;
}
.linkUserRoom3{
    width: 17px;
    padding-left: 11px;
}
.linkUserRoom4{
    padding-top: 2px;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    padding-left: 6px;
}
.linkUserRoom5{
    position: relative;
    padding-top: 4px;
    left: -16px;
}
.linkUserRoom5 a{
    color: #000000;
    font-family: Arial;
    font-size: 12px;
}
.linkUserRoom5 a:link{
    text-decoration: underline;
}
.linkUserRoom5 a:visited{
    text-decoration: underline;
}
.linkUserRoom5 a:hover{
    text-decoration: none;
}
.linkUserRoom5 a:active{
    text-decoration: underline;
}
.linkUserRoom6{
    padding-top: 13px;
    padding-bottom: 7px;
    clear: both;
}
.linkUserRoom7{
    padding-right: 30px;
    float: left;
}
.linkUserRoom7 a{
    color: #ed1828;
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
}
.linkUserRoom7 a:link{
    text-decoration: underline;
}
.linkUserRoom7 a:visited{
    text-decoration: underline;
}
.linkUserRoom7 a:hover{
    text-decoration: none;
}
.linkUserRoom7 a:active{
    text-decoration: underline;
}
.linkUserRoom8{
    position: absolute;
    margin-top: -60px;
    margin-left: -134px;
}
.userRoomLogin{
    margin-top: 1px;

}
.userRoomLogin .divinput1{
    float: left;
    margin-left: 20px;
    -margin-left: 10px;/*для ie6*/
    *margin-top:1px;/*для всех ie*/
}
.userRoomLogin .divinput2{
    float: left;
    background-image: url(images/clothes_41.gif);
    background-repeat: repeat-x;
    background-position: left top;
    height: 24px;
    padding-top: 2px;
}
*html .userRoomLogin .divinput2{
    float: left;
    background-image: url(images/clothes_41.gif);
    background-repeat: repeat-x;
    background-position: left top;
    height: 26px;
    padding-top: 2px;
    margin-top: 1px;
}
.userRoomLogin .divinput3{
    float: left;
    *margin-top:1px;/*для всех ie*/
}
.userRoomPassword{

}
.userRoomPassword .divinput1{
    float: left;
    margin-left: 20px;
    -margin-left: 10px;/*для ie6*/
    *margin-top:1px;/*для всех ie*/
}
.userRoomPassword .divinput2{
    float: left;
    background-image: url(images/clothes_41.gif);
    background-repeat: repeat-x;
    background-position: left top;
    height: 24px;
    padding-top: 2px;
}
*html .userRoomPassword .divinput2{
    float: left;
    background-image: url(images/clothes_41.gif);
    background-repeat: repeat-x;
    background-position: left top;
    height: 26px;
    padding-top: 2px;
    margin-top: 1px;
}
.userRoomPassword .divinput3{
    float: left;
    *margin-top:1px;/*для всех ie*/
}
.input_user{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    width: 119px;
    border: none;
    background: none;
    margin-top: 1px;
}
.input_user:hover{
    border: 0px!important;;
}
#search{
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.search_but{
    background-image: url(images/clothes_05.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 28px;
    width: 62px;
    border: none;
    cursor:pointer;
}
.search{
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    height: 28px;
    width: 112px;
    margin-left: 15px;
    margin-right: 8px;
    *padding-top: 5px;
}
.topCat{

}
.topCat .divCat_off{
    float: left;
    padding-right: 6px;
}
.topCat .divCat_off .tableCat{

}
.topCat .divCat_off .tableCat .tdCatHeader{
    padding-top: 7px;
}
.topCat .divCat_off .tableCat .tdCatHeader .divCatTitle{
    background-color: #bf7aff;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor:pointer;
}
.topCat .divCat_off .tableCat .tdCatHeader .divCatTitle_over{
    background-color: #9a4de1;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor:pointer;
}
.topCat .divCat_off .tableCat .tdCatContent{
    height: 7px;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont{
    position: absolute;
    width: 220px;
    visibility: visible;
    background-image: url(images/clothes_11.png);
    background-repeat: repeat;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 13px;
    z-index: 10;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont_off{
    display: none;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA{
    padding-bottom: 10px;

}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA a{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA a:link{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA a:visited{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA a:hover{
    color: #9a4de1;
    text-decoration: none;
}
.topCat .divCat_off .tableCat .tdCatContent .divCatCont .divCatContA a:active{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divCat_on{
    float: left;
    padding-right: 6px;

}
.topCat .divCat_on .tableCat{

}
.topCat .divCat_on .tableCat .tdCatHeader{
    padding-top: 7px;

}
.topCat .divCat_on .tableCat .tdCatHeader_off{

}
.topCat .divCat_on .tableCat .tdCatHeader .divCatTitle{
    background-color: #ed1828;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor:pointer;
}
.topCat .divCat_on .tableCat .tdCatHeader .divCatTitle_over{
    background-color: #ed1828;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor:pointer;
}
.topCat .divCat_on .tableCat .tdCatContent{
    height: 7px;

}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont{
    position: absolute;
    width: 220px;
    visibility: visible;
    background-image: url(images/clothes_11.png);
    background-repeat: repeat;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 3px;
    padding-left: 13px;
    z-index: 10;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont_off{
    display: none;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA{
    padding-bottom: 10px;

}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA a{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA a:link{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA a:visited{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA a:hover{
    color: #9a4de1;
    text-decoration: none;
}
.topCat .divCat_on .tableCat .tdCatContent .divCatCont .divCatContA a:active{
    color: #2d2924;
    text-decoration: underline;
}
.topCat .divStatikCat{
    float: left;
    margin-right: 6px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #f0f0f0;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 12px;
}
.topCat .divStatikCat a{
    font-family: Arial;
    font-size: 12px;
}
.topCat .divStatikCat a:link{
    color: #2d2924;
    text-decoration: none;
}
.topCat .divStatikCat a:visited{
    color: #2d2924;
    text-decoration: none;
}
.topCat .divStatikCat a:hover{
    color: #e61313;
    text-decoration: none;
}
.topCat .divStatikCat a:active{
    color: #2d2924;
    text-decoration: none;
}
.leftCat{

}
.leftCat .divCat_off{
    display: none;
}
.leftCat .divCat_on{
    position: relative;
    top: -3px;
}
.leftCat .divCat_on .tableCat{
    width: 100%;

}
.leftCat .divCat_on .tableCat .tdCatHeader{
    display: none;
}
.leftCat .divCat_on .tableCat .tdCatHeader_off{
    display: none;
}
.leftCat .divCat_on .tableCat .tdCatContent{

}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off{
    padding-bottom: 25px;
}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA{
    padding-bottom: 3px;

}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: #2d2924;
    padding-top: 3px;
    padding-bottom: 3px;
}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:link{
    color: #2d2924;
    text-decoration: underline;
}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:visited{
    color: #2d2924;
    text-decoration: underline;
}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1828;
    padding-right: 3px;
    padding-left: 3px;
}
.leftCat .divCat_on .tableCat .tdCatContent .divCatCont_off .divCatContA a:active{
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1828;
    padding-right: 3px;
    padding-left: 3px;
}
.divNavigationA{
    padding-bottom: 3px;

}
.divNavigationA a{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: #2d2924;
    padding-top: 3px;
    padding-bottom: 3px;
}
.divNavigationA a:link{
    color: #2d2924;
    text-decoration: underline;
}
.divNavigationA a:visited{
    color: #2d2924;
    text-decoration: underline;
}
.divNavigationA a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1828;
    padding-right: 3px;
    padding-left: 3px;
}
.divNavigationA a:active{
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1828;
    padding-right: 3px;
    padding-left: 3px;
}
.flashIndex{
    padding-bottom: 27px;
}
.specTitleDiv{
    background-image: url(images/clothes_22.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    clear: both;
    height: 29px;
    margin-bottom: 9px;
}
.specTitDiv1{
    font-family: Arial;
    font-size: 20px;
    color: #8916f6;
    float: left;
    text-transform: uppercase;
}
.specTitDiv2{
    float: right;
    padding-top: 7px;
}
.specTitDiv2 a{
    font-family: Arial;
    font-size: 12px;
    color: #8916f6;
}
.specTitDiv2 a:link, .specTitDiv2 a:visited, .specTitDiv2 a:hover, .specTitDiv2 a:active{
    text-decoration: none;
}
.specTitDiv3{
    float: right;
    padding-top: 12px;
    padding-left: 5px;
}
.newtipTitleDiv{
    background-image: url(images/clothes_24.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    clear: both;
    height: 37px;
    margin-bottom: 25px;
    margin-top: 13px;
}
.newtipTitleDiv2{
    background-image: url(images/clothes_24.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    clear: both;
    height: 37px;
    margin-bottom: 25px;
    margin-top: 0px;
}
.newtipTitDiv1{
    font-family: Arial;
    font-size: 20px;
    color: #5cb924;
    float: left;
    text-transform: uppercase;
    margin-top: 7px;
}
.newtipTitDiv2{
    float: right;
    padding-top: 0px;
    padding-left: 5px;
}
.newsTitle{
    font-family: Arial;
    font-size: 20px;
    color: #8916f6;
    text-transform: uppercase;
    padding-bottom: 10px;
    line-height: 20px;
}
.newsDate{
    font-family: Arial;
    font-size: 12px;
    color: #666666;
    padding-bottom: 4px;
}
.newsName{
    padding-bottom: 14px;
}
.newsName a{
    font-family: Arial;
    font-size: 12px;
    color: #333333;
}
.newsName a:link, .newsName a:visited, .newsName a:hover, .newsName a:active{
    text-decoration: none;
}
.newsName2{
    padding-bottom: 4px;
    font-family: Arial;
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}
.newsName2 a{
    font-family: Arial;
    font-size: 12px;
    color: #333333;
}
.newsName2 a:link, .newsName2 a:visited, .newsName2 a:hover, .newsName2 a:active{
    text-decoration: none;
}
.rightBlokDiv{
    clear: both;
    padding-bottom: 25px;
}
.rightBlokTitle{
    font-family: Arial;
    font-size: 20px;
    color: #ed1828;
    background-image: url(images/clothes_26.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-bottom: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.rightBlokContent{
    font-family: Arial;
    font-size: 12px;
    color: #2d2924;
}
.rightBlokContent a{
    font-family: Arial;
    font-size: 12px;
    color: #2d2924;
}
.rightBlokContent a:link, .rightBlokContent a:visited, .rightBlokContent a:hover, .rightBlokContent a:active{
    text-decoration: none;
}
.leftBlokDiv{
    clear: both;
    padding-bottom: 25px;
}
.leftBlokTitle{
    font-family: Arial;
    font-size: 20px;
    color: #ed1828;
    background-image: url(images/clothes_26.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-bottom: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.leftBlokContent{
    font-family: Arial;
    font-size: 12px;
    color: #2d2924;
}
.leftBlokContent a{
    font-family: Arial;
    font-size: 12px;
    color: #2d2924;
}
.leftBlokContent a:link, .leftBlokContent a:visited, .leftBlokContent a:hover, .leftBlokContent a:active{
    text-decoration: none;
}
a.brendA1{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA1:link{
    text-decoration: none;
    background-image: url(images/clothes_15.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA1:visited{
    text-decoration: none;
    background-image: url(images/clothes_15.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA1:hover{
    text-decoration: none;
    background-image: url(images/clothes_15_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA1:active{
    text-decoration: none;
    background-image: url(images/clothes_15.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA2{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA2:link{
    text-decoration: none;
    background-image: url(images/clothes_17.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA2:visited{
    text-decoration: none;
    background-image: url(images/clothes_17.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA2:hover{
    text-decoration: none;
    background-image: url(images/clothes_17_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA2:active{
    text-decoration: none;
    background-image: url(images/clothes_17.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA3{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA3:link{
    text-decoration: none;
    background-image: url(images/clothes_18.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA3:visited{
    text-decoration: none;
    background-image: url(images/clothes_18.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA3:hover{
    text-decoration: none;
    background-image: url(images/clothes_18_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA3:active{
    text-decoration: none;
    background-image: url(images/clothes_18.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA4{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA4:link{
    text-decoration: none;
    background-image: url(images/clothes_16.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA4:visited{
    text-decoration: none;
    background-image: url(images/clothes_16.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA4:hover{
    text-decoration: none;
    background-image: url(images/clothes_16_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA4:active{
    text-decoration: none;
    background-image: url(images/clothes_16.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA5{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA5:link{
    text-decoration: none;
    background-image: url(images/clothes_20.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA5:visited{
    text-decoration: none;
    background-image: url(images/clothes_20.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA5:hover{
    text-decoration: none;
    background-image: url(images/clothes_20_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA5:active{
    text-decoration: none;
    background-image: url(images/clothes_20.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA6{/* Стили брендов */
    height: 45px;
    width: 95px;
    display: block;
}
a.brendA6:link{
    text-decoration: none;
    background-image: url(images/clothes_19.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA6:visited{
    text-decoration: none;
    background-image: url(images/clothes_19.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA6:hover{
    text-decoration: none;
    background-image: url(images/clothes_19_1.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
a.brendA6:active{
    text-decoration: none;
    background-image: url(images/clothes_19.gif);
    background-repeat: no-repeat;
    background-position: left top;
}
.catalogOptionTable{
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 7px;
    background-image: url(images/clothes_40.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-top: 25px;
}
.catalogOptionTable2{
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 7px;
    background-image: url(images/clothes_40.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-top: 25px;
}
.catalogOption_zag{
    padding-right: 15px; 
}
.plashka_zag{
    font: 20px Arial;
    color: #1f1f1f;
}
.divSortPageList{
    font-family: Arial;
    font-size: 12px;
    color: #2b2b2b;
    width: 380px;
}
.spanSortPageList{
    font-family: Arial;
    font-size: 12px;
    color: #acacac;
}
.spanSortPageList a{
    font-family: Arial;
    font-size: 12px;
    color: #3846b7;
}
.spanSortPageList a:link{
    text-decoration: underline;
}
.spanSortPageList a:visited{
    text-decoration: underline;
}
.spanSortPageList a:hover{
    text-decoration: none;
}
.spanSortPageList a:active{
    text-decoration: underline;
}
.page_nav_top{
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.page_nav_top a{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.page_nav_top a:link {
    text-decoration: none;
}
.page_nav_top a:visited {
    text-decoration: none;
}
.page_nav_top a:hover {
    text-decoration: none;
}
.page_nav_top a:active {
    text-decoration: none;
}
.page_nav_top b{
    background-color: #bf7aff;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 4px;
    padding-left: 4px;
}
.page_nav_bot{
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.page_nav_bot a{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.page_nav_bot a:link {
    text-decoration: none;
}
.page_nav_bot a:visited {
    text-decoration: none;
}
.page_nav_bot a:hover {
    text-decoration: none;
}
.page_nav_bot a:active {
    text-decoration: none;
}
.page_nav_bot b{
    background-color: #bf7aff;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 4px;
    padding-left: 4px;
}
.vendorDispTitle{
    font: 12px Arial;
    color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
}
.vendorDispTitle a{
    font: 12px Arial;
    color: #000000;
}
.vendorDispTitle a:link{
    text-decoration: underline;
}
.vendorDispTitle a:visited{
    text-decoration: underline;
}
.vendorDispTitle a:hover{
    text-decoration: none;
}
.vendorDispTitle a:active{
    text-decoration: underline;
}
div.page_nava{
    color: #666666;
    font: 11px Arial;
}
div.page_nava div{

}
div.page_nava a{
    color: #666666;
    font: 11px Arial;
}
div.page_nava a:link{
    text-decoration: underline;
}
div.page_nava a:visited{
    text-decoration: underline;
}
div.page_nava a:hover{
    text-decoration: none;
}
div.page_nava a:active{
    text-decoration: underline;
}
.inIndexTip{

}
.inShopTip{

}
.inIndexTip div.newtipDivleST{

}
.inShopTip div.newtipDivleST{
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.inIndexTip div .newtipDivleST .newtipTableST{
    width: 100%;
}
.inShopTip div.newtipDivleST .newtipTableST{
    width: 155px;
}
.tovarDivImg1{
    height: 130px;
    width: 130px;
    border: 1px solid #e1e1e1;
    margin-right: 10px;
    margin-bottom: 5px;
}
.tovarDivImg2{
    height: 130px;
    width: 130px;
    border: 1px solid #e1e1e1;
}
.tovarDivArt{
    font-family: Arial;
    font-size: 12px;
    color: #2d2924;
    padding-top: 3px;
}
.tovarDivName1{
    font-family: Arial;
    font-size: 14px;
    color: #8105f5;
    padding-bottom: 3px;
    padding-top: 2px;
}
.tovarDivName1 a{
    font-family: Arial;
    font-size: 14px;
    color: #8105f5;
}
.tovarDivName1 a:link {
    color: #8105f5;
    text-decoration: none;
}
.tovarDivName1 a:visited {
    color: #8105f5;
    text-decoration: none;
}
.tovarDivName1 a:hover {
    color: #8105f5;
    text-decoration: none;
}
.tovarDivName1 a:active {
    color: #8105f5;
    text-decoration: none;
}
.tovarDivPrice1{
    font-family: Arial;
    font-size: 14px;
    color: #878787;
    font-weight: 600;
}
.tovarDivOldPrice1{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.tovarDivContent1{
    font-family: Arial;
    font-size: 12px;
    color: #878787;
    padding-bottom: 12px;
}
.tovarDivContent1 a{
    font-family: Arial;
    font-size: 12px;
    color: #878787;
}
.tovarDivContent1 a:link {
    text-decoration: none;
}
.tovarDivContent1 a:visited {
    text-decoration: none;
}
.tovarDivContent1 a:hover {
    text-decoration: none;
}
.tovarDivContent1 a:active {
    text-decoration: none;
}
.tovarDivAdd1{
    margin-top: 5px;
}
.tovarDivAdd2{
    font-family: Arial;
    font-size: 12px;
    color: #3846b7;
}
.tovarDivAdd2 a{
    font-family: Arial;
    font-size: 12px;
    color: #3846b7;
}
.tovarDivAdd2 a:link {
    text-decoration: underline;
}
.tovarDivAdd2 a:visited {
    text-decoration: underline;
}
.tovarDivAdd2 a:hover {
    text-decoration: none;
}
.tovarDivAdd2 a:active {
    text-decoration: underline;
}
.tovarDivAdd3{
    font-family: Arial;
    font-size: 12px;
    color: #3846b7;
    padding-right: 15px;
    float: left;
}
.tovarDivAdd3 a{
    font-family: Arial;
    font-size: 12px;
    color: #3846b7;
}
.tovarDivAdd3 a:link {
    text-decoration: underline;
}
.tovarDivAdd3 a:visited {
    text-decoration: underline;
}
.tovarDivAdd3 a:hover {
    text-decoration: none;
}
.tovarDivAdd3 a:active {
    text-decoration: underline;
}

div.comment_list{/*отзывы*/
    margin-top: 10px;
    background-color:#EDF5F8;
    margin-bottom: 10px;
    BORDER: #35A0C4 1px dashed; 
    PADDING: 5px; 
}
div.comment_user{
    padding: 3px;
    background: #35A0C4;
    color: white;
}
div.comment_user a{
    color: white;
}
div.opros{
    float: left;
    background: #bf7aff;
    height: 10px;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 5px;
}
a.activ_catalog{
    background: #35A0C4;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}
.bgprice {
    background: #bf7aff;
}
.bgprice b{
    color: #FFFFFF;
    font-size: 12px;
}
a.standart{
    color: #bf7aff;
}
table.standart td{
    font-size: 11px;
    color: #696969;
}
div.gbook_otvet{/*ответ на отзыв*/
    margin-top: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    BORDER: #cacac8 1px solid; 
    PADDING: 5px; 
}
div.pod_cart{/*Ссылки в корзину подробное описание*/
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    BORDER: #cacac8 1px solid;
    PADDING: 5px;
    background-color: #f0f0f0;
}
div.pod_cart td a,div.pod_cart td{
    color: #3846b7;
    font-size: 11px;
}
img.big{
    border:			1px solid #5B98AF;
}
div.line{
    /*Разделитель новостей*/
    background-image: url(images/line_bg.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    margin-top:5px;
}
div.bannerLine{
    height:20px;
    clear:both;
    width:100%;
}
div.news_tema,div.news_tema a{/*Новости*/
    font-family: Arial;
    font-size: 12px;
    color: #bf7aff;
    font-weight: 600;
}

ul{
    list-style-type: square;
    color: #ed1828;
}
div.plashka_center{ /*Центрблок плашка*/
    -background-image: url(images/center_plashka_bg.jpg);
    background-repeat: no-repeat;
    height: 41px;
}
a.small{
    color: #000000;
    font-size: 12px;
    font-weight: normal;
}
.sort_table{
    margin-top: 10px;
    background-color: White;
    BORDER-RIGHT: #cacac8 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cacac8 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #cacac8 1px solid;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #cacac8 1px solid;
}
#allspec{
    padding: 10px;
}

#allspec div {
    color: #2d2924;
    margin-bottom: 5px;
}

a.link{
    color: #3846b7;
}

#allspec a{
    color: #2d2924;
}

#calendar{
    padding: 7px;
}

#calendar div {
    color: #2d2924;
    margin-bottom: 5px;
}

#calendar a{
    color: #2d2924;
}

#allspec input, #allspec td select {
    font-size: 10px;
}
#allspecwhite{
    margin-top: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    BORDER: #cacac8 1px solid; 
    PADDING: 5px; 
}
.sortActiv{
    font-weight: bold;
}
H1{
    font-size: 20px;
    text-transform: none;
    color: #8916f6;
    line-height: 20px;
    font-weight: normal;
}
H2{
    font-size: 20px;
    text-transform: none;
    color: #ed1828;
    line-height: 20px;
    font-weight: normal;
}
.sort_name_bg{
    background-color: #bf7aff;
    color: white;
}
.sort_table{
    font-size: 11px;
    margin-top: 10px;
    background-color: White;
    color: #9a4de1;
}
.sort_table b{
    color: #696969;
}

.ico_add_to_card {
    background:url(images/shop/basket.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
}

.ico_add_to_compare {
    background:url(images/shop/compare.png) no-repeat;
    text-align: left !important;
    padding-left: 45px;
}
.message{
    border: solid 1px #EFD39C;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topleft:8px;
    -moz-border-radius-topright:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background: -moz-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -ms-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -o-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    background: -webkit-linear-gradient(rgb(255,236,157),rgb(255,231,133));
    position: absolute;
    max-width: 230px; 
    height: 35px;
    padding: 15px 10px 10px 10px;
    visibility:hidden;
    left:10px;
    top:0px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

input.ok{
    font-size: 12px;
    color: #979797;
    margin-left: 5px;
    background-color: #f0f0f0;
    border: 1px solid #e9e9e9;
}
.productOdnotipTitleDiv{
    background-image: url(images/clothes_40.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    clear: both;
    height: 37px;
    margin-bottom: 12px;
    margin-top: 5px;
}
.productOdnotipTitDiv1{
    font-family: Arial;
    font-size: 20px;
    color: #1f1f1f;
    float: left;
    text-transform: uppercase;
    margin-top: 7px;
}
.vendorDisp select{

}
.tovar_parentList{
    padding-top: 15px;
}
.tovar_parentList select{
    width: 200px;
}
.tovar_parentBay{
    padding-top: 15px;
    padding-bottom: 5px;
}
#fotoload{

}
.tovar_art{
    font-family: Arial;
    font-size: 17px;
    color: #2d2924;
    line-height: 17px;
}
.tovar_name{
    font-family: Arial;
    font-size: 30px;
    color: #8105f5;
    background-image: url(images/clothes_40.gif);
    background-repeat: repeat-x;
    background-position: left bottom;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 7px;
}
.tovar_content{
    font-family: Arial;
    font-size: 12px;
    color: #666666;
}
.tovar_content a{
    font-family: Arial;
    font-size: 12px;
    color: #666666;
}
.tovar_content a:link{
    text-decoration: underline;
}
.tovar_content a:visited{
    text-decoration: underline;
}
.tovar_content a:hover{
    text-decoration: none;
}
.tovar_content a:active{
    text-decoration: underline;
}
.tovar_optionsDisp{

}
.tovar_price{
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    margin-top: 15px;
}
.tovar_productSklad{
    font-weight: normal;
}
.price{
    font-family: Arial;
    font-size: 18px;
    color: #ed1828;
}
.tovar_priceOld{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
.tovar_notice{
    padding-top: 15px;
    padding-bottom: 5px;
}
.tovar_order{
    padding-top: 15px;
    padding-bottom: 5px;
}
.tovar_compare{

}
img.imgOff {
    border-color: #97989C;
    border-style: solid;
    border-width: 1px;
}

img.imgOn {
    border-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
}
.panel_l{/* Стиль для левой панели каталога с сеткой 2*2 */
    width: 50%;
}
.panel_r{/* Стиль для правой панели каталога с сеткой 2*2 */
    width: 50%;
}
.setka img{
    height: 20px;
    width: 20px;
}
input{/* Стиль шрифта для всех вып. списков и всех элементов input */
    font-family: Arial;
    font-size: 12px;
    color: #000000;
}
select{/* Стиль шрифта для всех вып. списков и всех элементов input */
    font-family: Arial;
    font-size: 12px;
    color: #9942ea;
    background-color: #FFFFFF;
    border: 1px solid #bababa;
}
/*Стили кнопок табов*/
.dynamic-tab-pane-control.tab-pane {
    position:	relative;
    width:		100%;
}

.dynamic-tab-pane-control .tab-row .tab {
    font-family:	Arial;
    font-size:		12px;
    cursor:			Default;
    display:		inline;
    margin:			1px -5px 1px 5px;
    float:			left;
    padding:		3px 6px 3px 6px;
    background:		#e1e1e1;
    border:			1px solid;
    border-color:	#f0f0f0;
    border-left:	0;
    border-bottom:	0;
    border-top:		0;

    cursor:			hand;
    cursor:			pointer;

    z-index:		1;
    position:		relative;
    top:			0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
    border:			1px solid #e1e1e1;
    border-bottom:	0;
    z-index:		3;
    padding:		2px 6px 5px 6px;
    margin:			1px -6px -2px 0px;
    top:			-2px;
    background:		#bf7aff;
}

.dynamic-tab-pane-control .tab-row .tab a {
    font-family:		Arial;
    font-size:			12px;
    color:				#2d2924;
    text-transform: uppercase;
    text-decoration:	none;
    cursor:			hand;
    cursor:			pointer;	
}

.dynamic-tab-pane-control .tab-row .hover a {
    color:	#2d2924;
    text-transform: uppercase;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
    color:	#2d2924;
    text-transform: uppercase;
}

.dynamic-tab-pane-control .tab-page {
    clear:			both;
    border:			1px solid #e1e1e1;
    background:		White;
    z-index:		2;
    position:		relative;
    top:			-2px;
    color:			#111e2c;
    font-size:		11px;
    padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
    z-index:		1;
    white-space:	nowrap;
    background:		#e1e1e1;
    height:			28px;
    width:			100%;
}

.tab-page a{
    color: #2d2924;
}

div.full-links{
    padding-top: 15px;
}

#parentId{
    width:auto;
}