<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>3.1</version>
    <name>Retail CRM</name>
    <faqlink>http://www.retailcrm.ru/</faqlink>
    <description>Автоматизация интернет-продаж Retail CRM</description>
    <category>users,sale</category>
    <adminmenu>
        <title>Retail CRM</title>
        <capability>true</capability>
    </adminmenu>
</module>
