#novaposhtaModal .modal-lg {
    width: 1000px;
}
#novaposhta-map {
    height: 600px;
}
.ui-front {
    z-index: 10000!important;
}
#novaposhtaModal .is-invalid {
    border-color: #dc3545;
}
.pvz-wrapper {
    max-height: 478px;
    overflow: auto;
}
.pvz-link {
    display: table;
    width: 100%;
    padding: 7px 0;
    line-height: 1.3;
}
.pvz-wrapper a {
    color: #3e77aa;
}
.pvz-wrapper a:hover {
    color: #ff7878;
}

.ui-menu-item .ui-state-active {
    color: #ee3037!important;
    border: none !important;
}