<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.3</version>
    <name>Мой Склад</name>
    <faqlink>http://faq.phpshop.ru/page/moysklad.html</faqlink>
    <description>Модуль CRM Мой Склад.</description>
    <category>sale</category>
    <sign>1423218824</sign>
    <adminmenu>
        <title>Мой Склад</title>
        <capability>true</capability>
         <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.moysklad</podmenu_action>
        </podmenu>
    </adminmenu>
</module>