body { background: url(./greyzz.png) repeat scroll 0px 0px transparent; }
a { color: rgb(38, 34, 97); text-decoration: underline; }
a:hover { color: rgb(38, 34, 97); text-decoration: none; }
#content-inner { border-radius: 2px; padding: 26px 35px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); border: 4px solid rgb(204, 204, 204); background: none repeat scroll 0px 0px rgb(255, 255, 255); }

.paymode_group { border-top: 1px solid rgb(204, 204, 204); position: relative; height: 70px; }
.paymode_block { text-align: center; font-size: 11px; border-radius: 2px; width: 110px; border: 4px solid rgb(204, 204, 204); margin-right: -4px; float: right; }
.paymode_group > a { text-decoration: none; }
a:hover .paymode_data { background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.5); }
.paymode_group.active { background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); box-shadow: -2px 0px 10px rgb(204, 204, 204); }
.paymode_group.active:after { content: ""; position: absolute; top: 0px; width: 10px; right: -10px; height: 70px; background: none repeat scroll 0px 0px rgb(255, 255, 255); }
.paymode_group:first-child { border-top: 0px none; }

.paymode_data { padding: 15px 2px 0; }
.paymode_data > img {
    display: block;
    margin: auto;
}

.form-group { margin-bottom: 10px; }
span.form-control {border-color: rgb(255, 255, 255); background: url(./greyzz.png); box-shadow: none;}