<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.2</version>
    <name>Count Cat</name>
    <faqlink>http://faq.phpshop.ru/page/count-cat.html</faqlink>
    <description>Модуль подсчета количества товаров в каталогах.</description>
    <category>template</category>
    <adminmenu>
        <title>Count Cat</title>
        <capability>true</capability>
    </adminmenu>
</module>