<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.0</version>
    <name>NetPay</name>
    <description>Платежная система NetPay в соответствии с 54-ФЗ.</description>
    <category>payment</category>
    <faqlink>http://faq.phpshop.ru/page/netpay.html</faqlink>
    <adminmenu>
        <title>NetPay</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Настройка</podmenu_name>
        </podmenu>
    </adminmenu>
</module>